{{ define "main" }}
<main>

               <!-- hero area start  -->
               <section class="hero-2-area p-relative fix">
                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row align-items-center">
                            <div class="col-xl-7">
                                <div class="hero-3__content p-relative">
                                  <div class="breadcrumb-menu mb-20">
                                    <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                        <ul class="trail-items">
                                            <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                            <a href="{{ "/marketing-bureau-venlo" | relURL }}"><li class="trail-item"><span>Marketing bureau Venlo</span></li></a>                                    
                                        </ul>
                                    </nav>
                                </div>
                                    <h1 class="mb-50">
                                      Marketing bureau Venlo
                                    </h1>
                                    <p class="hero-3__text p-text">
                                        Op zoek naar een deskundig online marketing bureau in Venlo? WebReaktor is jouw partner voor succes in de digitale wereld. Wij begrijpen dat de overstap naar online marketing voor sommige ondernemers een grote stap is, maar met onze ervaring en kennis maken we het proces eenvoudig en effectief. We richten ons op het versterken van je online aanwezigheid en het vergroten van je bereik, met als doel meer bezoekers en betere resultaten. Bij WebReaktor geloven we in de kracht van digitaal en zijn we klaar om jouw bedrijf naar een hoger niveau te tillen in de dynamische online markt van Venlo.
                                    </p>
                                    <div class="hero-3__btn btn_wrapper mb-30">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="page-title-thumb">
                                    <img src="{{ "/img/marketing-bureau/marketing-bureau1.jpg" | relURL }}" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg ">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/marketing-bureau/marketing-bureau-limburg.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Een vertrouwd marketingbureau in Venlo</h2>
                        <p class="p-text">Onze benadering is geworteld in een diepe waardering voor de stad en haar ondernemende geest. We zijn niet zomaar een bureau; we zijn een deel van de gemeenschap, toegewijd aan het tot bloei brengen van lokale bedrijven met strategieën die even uniek zijn als Venlo zelf. 
                        </p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Onze kernservices in Venlo
                        </h2>
                        <p class="section-intro-paragraph xlarge p-text">In de bruisende stad Venlo, waar bedrijven gedijen te midden van culturele diversiteit, bieden wij essentiële marketingdiensten die zijn afgestemd op jouw unieke behoeften. Dit zijn onze drie pijlers:
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/promotion.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Social media marketing</h3>
                            </div>
                            <p class="xlarge">Maak contact met de diverse Venlose gemeenschap en breid je bereik uit. Onze op maat gemaakte social media strategieën vergroten de betrokkenheid en versterken je merk online. <a href="/social-media-marketing-agency" class="kleur">Ontdek meer over onze social media marketing aanpak.</a>
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/email.png" | relURL }}">
                                <h3 class="service-branding-title">E-mail marketing</h3>
                            </div>
                            <p class="xlarge">Bereik je doelgroep direct en persoonlijk. Onze e-mailcampagnes zijn ontworpen om leads te genereren en duurzame relaties op te bouwen. <a href="/e-mail-marketing-bureau" class="kleur">Leer hoe onze e-mail marketing jou kan ondersteunen.</a></p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/online-video.png" | relURL }}">
                                <h3 class="service-branding-title">Videomarketing</h3>
                            </div>
                            <p class="xlarge">Laat jouw verhaal tot leven komen met boeiende videocontent. Wij creëren visuele verhalen die indruk maken en mensen raken. <a href="/videomarketing-bureau" class="kleur">Verken de mogelijkheden van videomarketing voor jouw bedrijf.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/marketing-bureau/marketing-bureau5.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

      <!-- foto links text rechts begin, verschillende branches shortcode -->
      <section class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet-marin2">
                        <h2 class="p-text">Websites op maat</h2>
                        <p class="p-text">Bij WebReaktor vertalen we jouw unieke ideeën naar op maat gemaakte websites. Ons team zet zich in voor het creëren van visueel aantrekkelijke en functionele sites die jouw bedrijf perfect weerspiegelen.</p>
                        <p class="p-text">Ontdek hoe wij voor elke branche een op maat gemaakte, effectieve online aanwezigheid kunnen realiseren.</p>
                    </div>
    {{ partial "shortcode.html" . }}
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
  <img src="{{ "/img/website-laten-maken-limburg/website-laten-maken-limburg3.jpg" | relURL }}" alt="image not found">             
</div>
</div>
</div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin, stedenShortcode start -->
        <section
class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="service-page-title-contenet-marin">
                <h2 class="p-text">Waarom marketingbureau WebReaktor?
                </h2>
                <p class="xlarge"><b>Innovatieve strategieën:</b> Ons team van experts omarmt de nieuwste trends en technologieën om jouw bedrijf in Venlo te laten floreren. We combineren creativiteit met data-driven inzichten voor resultaatgerichte strategieën.
                </p>
                <p class="xlarge"><b>Lokale verankering:</b> Als actieve leden van de Venlose gemeenschap begrijpen we de unieke uitdagingen en kansen die hier spelen. Onze lokale betrokkenheid stelt ons in staat om jouw merk op een persoonlijke manier te benaderen en aan te passen aan de lokale smaak.
                </p>
    {{ partial "marketingBureau.html" . }}
</div>
    <div class="button-item mt-50">
        <a href="{{ "contact" | relURL }}" class="border-btn">
            <span class="btn-text">Neem contact op</span>
            <span class="btn-icon"><i class="flaticon-next"></i></span>
        </a>                        
    </div>
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
        <img src="{{ "/img/marketing-bureau/marketing-bureau-social-media.jpg" | relURL }}" alt="image not found">
</div>
</div>
</div>
</section>

    <!-- approch area start -->
    {{ partial "marketingBureauStappenplan.html" . }}
    <!-- approch area end -->

    <!-- faq area start -->
    {{ partial "marketingBureauVragen.html" . }}
    <!-- faq area end -->

  <!-- title intro area -->
  <section class="title-intro-area fix primary-bg">
    <div class="container">
        <div class="title-intro-wrapper section-spacing">
            <div class="intro__title-wrapper">
                <h2 class="intro__title-inner folks-text">Let's Babbel</h2>
            </div>
            <div class="intro-brn">
                <a href="{{ "contact" |relURL }}" class="circle-btn is-green">
                    <span class="icon-box"><i class="flaticon-next"></i></span>
                    <img src="{{ "img/icons/contact-btn-text.png" | relURL }}" alt="image not found" class="image-text">


                </a>
            </div>
        </div>
    </div>
</section>
<!-- title intro end -->
</main>
{{end}}