{{ define "main" }}
<main>

               <!-- hero area start  -->
               <section class="hero-2-area p-relative fix">
                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row align-items-center">
                            <div class="col-xl-7">
                                <div class="hero-3__content p-relative">
                                  <div class="breadcrumb-menu mb-20">
                                    <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                        <ul class="trail-items">
                                            <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                            <a href="{{ "/website-laten-maken-zzp" | relURL }}"><li class="trail-item"><span>Website laten maken zzp</span></li></a>                                    
                                        </ul>
                                    </nav>
                                </div>
                                    <h1 class="mb-50">
                                      Website laten maken ZZP
                                    </h1>
                                    <p class="hero-3__text p-text">
                                      Ben je een zelfstandige professional die op zoek is naar een digitale etalage? Bij WebReaktor zijn we gespecialiseerd in het creëren van op maat gemaakte websites voor ZZP'ers, waarbij we jouw individuele stijl en zakelijke doelen tot uitdrukking brengen. Of je nu een consultant, ambachtsman, of freelancer bent, wij bouwen een website die jouw unieke vaardigheden en diensten benadrukt, en die jou helpt op te vallen in jouw branche.
                                    </p>
                                    <div class="hero-3__btn btn_wrapper mb-30">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="page-title-thumb">
                                    <img src="{{ "/img/zzp/website-laten-maken-zzp2.jpg" | relURL }}" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg ">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/zzp/website-laten-maken-zzp4.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Digitale kracht voor ZZP'ers</h2>
                        <p class="p-text">Voor ZZP'ers is een sterke online aanwezigheid van onschatbare waarde. WebReaktor begrijpt dit en creëert websites die jouw persoonlijke merk versterken. Onze aanpak is erop gericht om een website te ontwerpen die niet alleen jouw professionaliteit uitstraalt, maar ook je persoonlijkheid en vakbekwaamheid weerspiegelt. Of je nu jouw portfolio wilt laten zien, je diensten wilt uitlichten of gewoon je verhaal wilt vertellen, wij zorgen ervoor dat je website de perfecte mix is van zakelijkheid en persoonlijke touch.
                        </p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">De bouwstenen van een effectieve ZZP-website
                        </h2>
                        <p class="section-intro-paragraph xlarge p-text">Bij WebReaktor weten we dat een succesvolle website voor ZZP'ers aan specifieke eisen moet voldoen. Het is niet alleen een platform om je diensten te presenteren, maar ook een tool om jezelf te onderscheiden en vertrouwen op te bouwen bij potentiële klanten. Wij hebben de expertise om een website te creëren die voldoet aan de cruciale criteria voor online succes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/maatwerk-website/fast-time.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Supersnelle laadtijden</h3>
                            </div>
                            <p class="xlarge">In de online wereld van ZZP'ers telt elke seconde. We optimaliseren jouw website voor snelheid door lichtgewicht design en geavanceerde caching-technieken. Dit betekent dat jouw portfolio, diensten en contactinformatie binnen momenten geladen zijn, waardoor potentiële klanten niet afhaken door wachttijden. En dit wordt ook door Google beloont.
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/zzp/shield.png" | relURL }}">
                                <h3 class="service-branding-title">Beveiliging</h3>
                            </div>
                            <p class="xlarge">Als zelfstandige professional is de veiligheid van jouw online platform van het grootste belang. Wij zorgen voor een versleutelde verbinding, veilige formulieren voor klantcontact en regelmatige beveiligingsupdates. Zo ben je beschermd tegen online dreigingen en wek je vertrouwen bij je bezoekers.</p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/zzp/seo.png" | relURL }}">
                                <h3 class="service-branding-title">SEO-geoptimaliseerd</h3>
                            </div>
                            <p class="xlarge">Voor ZZP'ers is vindbaarheid in zoekmachines cruciaal. Onze SEO-experts zorgen ervoor dat jouw website geoptimaliseerd is met relevante sleutelwoorden, een mobielvriendelijke structuur en kwalitatieve content. Dit verhoogt niet alleen je positie in zoekmachines, maar zorgt ook dat de juiste klanten jouw diensten vinden.
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/zzp/website-laten-maken-zzp5.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

      <!-- foto links text rechts begin, verschillende branches shortcode -->
      <section class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet-marin2">
                        <h2 class="p-text">Webdesign voor elke branche</h2>
                        <p class="p-text">Bij WebReaktor zijn we uitgerust om diverse soorten websites te creëren, van kappers tot zorginstellingen en bouwbedrijven. Ontdek hoe wij voor elke branche een op maat gemaakte, effectieve online aanwezigheid kunnen realiseren</p>
                    </div>
    {{ partial "shortcode.html" . }}
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
  <img src="{{ "/img/website-laten-maken-limburg/website-laten-maken-limburg3.jpg" | relURL }}" alt="image not found">             
</div>
</div>
</div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin, stedenShortcode start -->
        <section
class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="service-page-title-contenet-marin">
                <h2 class="p-text">Maatwerk voor de zelfstandige professional</h2>
                <p class="xlarge">Onze ervaring in het ontwikkelen van websites voor ZZP'ers stelt ons in staat om een diepgaand inzicht te krijgen in jouw specifieke zakelijke behoeften. Bij WebReaktor beginnen we elk project met een persoonlijk gesprek, waarin we jouw unieke verhaal, diensten en doelen verkennen. Dit gesprek is de basis voor het ontwikkelen van een website die niet alleen jouw professionaliteit weergeeft, maar ook echt resoneert met jouw doelgroep. We begrijpen dat elke ZZP'er een eigen pad bewandelt, en we zorgen ervoor dat jouw website deze unieke reis weerspiegelt.
                </p>
                <p class="xlarge">Als jouw branding een impuls nodig heeft, of als je nog aan het begin staat van het creëren van een visuele identiteit, dan staan onze ontwerpers klaar om een onderscheidende en coherente <a class="kleur" href="/huisstijl-laten-ontwerpen">huisstijl te ontwikkelen.</a> Van logo's tot kleurenschema's, we zorgen dat jouw merk consistent en aantrekkelijk wordt gepresenteerd, zowel online als in al je zakelijke communicatie. Bovendien zetten we onze SEO-expertise in om ervoor te zorgen dat jouw website niet alleen aantrekkelijk en informatief is, maar ook goed vindbaar voor potentiële klanten. Met WebReaktor aan je zijde wordt je online aanwezigheid een krachtig middel om je zakelijke doelen te bereiken.
                </p>
    {{ partial "stedenShortcode.html" . }}
</div>
    <div class="button-item mt-50">
        <a href="{{ "contact" | relURL }}" class="border-btn">
            <span class="btn-text">Neem contact op</span>
            <span class="btn-icon"><i class="flaticon-next"></i></span>
        </a>                        
    </div>
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
        <img src="{{ "/img/zzp/website-laten-maken-zzp3.jpg" | relURL }}" alt="image not found">
</div>
</div>
</div>
</section>

    <!-- approch area start -->
    <section class="approch-area section-spacing">
        <div class="container">
            <div class="row align-items-center gy-50">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="approch-thumb">
                        <img src="{{ "/img/webshop-laten-maken/webshop-laten-maken8.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="section__title-wrapper mb-50">
                        <h2 class="section__title-inner title-anim">Ons stappenplan</h2>
                    </div>
                    <div class="approch-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="approch-1-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-1" type="button" role="tab"
                                    aria-controls="approch-1" aria-selected="true">1. Luisteren</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-2-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-2" type="button" role="tab"
                                    aria-controls="approch-2" aria-selected="false">2. Ontwerpen</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-3-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-3" type="button" role="tab"
                                    aria-controls="approch-3" aria-selected="false">3. Implementeren</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-4-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-4" type="button" role="tab"
                                    aria-controls="approch-4" aria-selected="false">4. Optimaliseren</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="approch-1" role="tabpanel"
                                aria-labelledby="approch-1-tab">
                                <div class="approch-content">
                                    <p class="xlarge">We beginnen met een grondige kennismaking om jouw unieke behoeften, doelen en zakelijke visie te begrijpen. Dit vormt de basis voor het creëren van een website die jouw persoonlijke en professionele merk weerspiegelt.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-2" role="tabpanel"
                                aria-labelledby="approch-2-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Geïnspireerd door jouw verhaal, ontwikkelen we een op maat gemaakt design dat zowel jouw professionaliteit als persoonlijkheid uitstraalt, essentieel voor het onderscheiden van jouw ZZP-onderneming.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-3" role="tabpanel"
                                aria-labelledby="approch-3-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Hier bouwen we de website, met aandacht voor elk detail, van gebruiksvriendelijke navigatie tot geïntegreerde functies zoals contactformulieren, portfolio's en dienstoverzichten.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-4" role="tabpanel"
                                aria-labelledby="approch-4-tab">
                                <div class="approch-content">
                                    <p class="xlarge">De laatste stap is het afstellen van jouw website voor maximale online zichtbaarheid, inclusief SEO-optimalisatie en mobielvriendelijke aanpassingen, om ervoor te zorgen dat je doelgroep je gemakkelijk kan vinden en bereiken.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- approch area end -->

    <!-- faq area start -->
    <section class="faq-area section-spacing">
        <div class="container">
            <div class="section__title-wrapper tpl__item-center mb-60">
                <h2 class="section__title-inner title-anim">Veelgestelde vragen</h2>
            </div>
            <div class="choose-accordion mb-0 tp-accordion-fix">
                <div class="accordion" id="accordionExample-st-2">
                    <div class="row g-5">
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingOne-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne-st-2"
                                        aria-expanded="false" aria-controls="collapseOne-st-2">
                                        Hoe lang duurt het om een website te bouwen?
                                    </button>
                                </h2>
                                <div id="collapseOne-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De tijd die nodig is om een website te bouwen kan variëren, afhankelijk van de complexiteit en specifieke eisen. Gemiddeld duurt het ongeveer 4-6 weken, maar grotere projecten kunnen langer duren.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingTwo-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo-st-2"
                                        aria-expanded="false" aria-controls="collapseTwo-st-2">
                                        Wat kost het om een website te laten maken?
                                    </button>
                                </h2>
                                <div id="collapseTwo-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De kosten van het ontwikkelen van een website hangen af van verschillende factoren zoals het design, functionaliteiten en de inhoud. Wij bieden op maat gemaakte offertes om ervoor te zorgen dat je betaalt voor wat je echt nodig hebt.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree-st-2"
                                        aria-expanded="false" aria-controls="collapseThree-st-2">
                                        Heb ik hosting en een domeinnaam nodig?
                                    </button>
                                </h2>
                                <div id="collapseThree-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Ja, voor een live website zijn hosting en een domeinnaam essentieel. Wij kunnen je helpen met het kiezen van de juiste hostingprovider en het registreren van een domeinnaam die past bij jouw bedrijf.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFour-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour-st-2"
                                        aria-expanded="false" aria-controls="collapseFour-st-2">
                                        Kan ik mijn website zelf bijwerken na de lancering?
                                    </button>
                                </h2>
                                <div id="collapseFour-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Absoluut. Wij zorgen ervoor dat je website wordt gebouwd met een gebruiksvriendelijk contentmanagementsysteem (CMS), waardoor je zelf eenvoudig tekst en afbeeldingen kunt bijwerken.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFive-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive-st-2"
                                        aria-expanded="false" aria-controls="collapseFive-st-2">
                                        Is mijn website na lancering SEO-geoptimaliseerd?
                                    </button>
                                </h2>
                                <div id="collapseFive-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Ja, wij zorgen ervoor dat je website bij lancering SEO-geoptimaliseerd is. Dit omvat basisoptimalisatie zoals trefwoordintegratie, snelle laadtijden en mobielvriendelijkheid.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven-st-2"
                                        aria-expanded="false" aria-controls="collapseSeven-st-2">
                                        Bieden jullie ondersteuning na de lancering van de website?
                                    </button>
                                </h2>
                                <div id="collapseSeven-st-2" class="accordion-collapse collapse show"
                                    aria-labelledby="headingSix-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Zeker, wij bieden ondersteuning en onderhoudsdiensten na de lancering om ervoor te zorgen dat je website soepel blijft draaien en up-to-date blijft met de nieuwste webstandaarden en -technologieën.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq area end -->

  <!-- title intro area -->
  <section class="title-intro-area fix primary-bg">
    <div class="container">
        <div class="title-intro-wrapper section-spacing">
            <div class="intro__title-wrapper">
                <h2 class="intro__title-inner folks-text">Let's Babbel</h2>
            </div>
            <div class="intro-brn">
                <a href="{{ "contact" |relURL }}" class="circle-btn is-green">
                    <span class="icon-box"><i class="flaticon-next"></i></span>
                    <img src="{{ "img/icons/contact-btn-text.png" | relURL }}" alt="image not found" class="image-text">


                </a>
            </div>
        </div>
    </div>
</section>
<!-- title intro end -->
</main>
{{end}}