{{ define "main" }}
<main>

               <!-- hero area start  -->
               <section class="hero-2-area p-relative fix">
                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row align-items-center">
                            <div class="col-xl-7">
                                <div class="hero-3__content p-relative">
                                  <div class="breadcrumb-menu mb-20">
                                    <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                        <ul class="trail-items">
                                            <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                
                                        </ul>
                                    </nav>
                                </div>
                                    <h1 class="mb-50">
                                      Zakelijke website laten maken
                                    </h1>
                                    <p class="hero-3__text p-text">
                                        Zet je zakelijke ambities kracht bij met een website die spreekt. Bij WebReaktor combineren we strak design met slimme functionaliteit, waardoor jouw bedrijf zich onderscheidt in de digitale wereld. Of je nu een kleine startup of een gevestigde onderneming bent, wij maken een website die jouw unieke zakelijke verhaal vertelt.
                                    </p>
                                    <div class="hero-3__btn btn_wrapper mb-30">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="page-title-thumb">
                                    <img src="{{ "/img/zakelijke-website/zakelijke-website-laten-maken.jpg" | relURL }}" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg ">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/zakelijke-website/zakelijke-website-laten-maken2.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Een uniek digitaal visitekaartje voor je bedrijf
                        </h2>
                        <p class="p-text">Bij WebReaktor maken we elke zakelijke website uniek. We focussen op het vertellen van jouw bedrijfsverhaal met een design dat past bij je merkidentiteit en de interactie met je doelgroep versterkt. Van professionele portfolio's tot innovatieve e-commerce, we zorgen dat jouw website niet alleen informeert, maar ook inspireert.
                        </p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Expertise in klantvriendelijke en vindbare zakelijke websites</h2>
                        <p class="section-intro-paragraph xlarge p-text">WebReaktor is gespecialiseerd in het creëren van zakelijke websites die niet alleen klantvriendelijk zijn, maar ook uitstekend scoren in zoekmachines. Wij begrijpen dat een zakelijke website meer is dan alleen een online platform; het is een essentieel hulpmiddel voor het aantrekken en behouden van klanten. Daarom richten we ons op drie sleutelaspecten:
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/maatwerk-website/fast-time.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Supersnelle laadtijden</h3>
                            </div>
                            <p class="xlarge">Een snelle website is cruciaal voor een positieve gebruikerservaring. We optimaliseren elk aspect van je site om ervoor te zorgen dat pagina's snel laden, wat essentieel is voor het vasthouden van bezoekers en het verbeteren van conversies.
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/maatwerk-website/shield.png" | relURL }}">
                                <h3 class="service-branding-title">Onkraakbare beveiliging</h3>
                            </div>
                            <p class="xlarge">Veiligheid staat voorop, vooral bij zakelijke websites. We implementeren geavanceerde beveiligingsmaatregelen om jouw website en de gegevens van je klanten te beschermen tegen online dreigingen.</p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/maatwerk-website/magnifiying-glass.png" | relURL }}">
                                <h3 class="service-branding-title">SEO geoptimaliseerd</h3>
                            </div>
                            <p class="xlarge">Om ervoor te zorgen dat jouw zakelijke website goed vindbaar is, optimaliseren we deze voor zoekmachines. Dit omvat het gebruik van relevante zoekwoorden, het optimaliseren van de website structuur, en het zorgen voor mobiele compatibiliteit, allemaal gericht op het verhogen van jouw zichtbaarheid in zoekresultaten.
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/zakelijke-website/zakelijke-website-laten-maken3.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

      <!-- foto links text rechts begin, verschillende branches shortcode -->
      <section class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet-marin2">
                        <h2 class="p-text">Webdesign voor elke branche</h2>
                        <p class="p-text">Bij WebReaktor zijn we uitgerust om diverse soorten websites te creëren, van kappers tot zorginstellingen en bouwbedrijven. Ontdek hoe wij voor elke branche een op maat gemaakte, effectieve online aanwezigheid kunnen realiseren</p>
                    </div>
    {{ partial "shortcode.html" . }}
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
  <img src="{{ "/img/website-laten-maken-limburg/website-laten-maken-limburg3.jpg" | relURL }}" alt="image not found">             
</div>
</div>
</div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin, stedenShortcode start -->
        <section
class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="service-page-title-contenet-marin">
                <h3 class="p-text">Flexibele en geavanceerde oplossingen voor je zakelijke website</h3>
                <p class="xlarge">Bij WebReaktor hebben we een breed scala aan tools en technologieën tot onze beschikking om jouw zakelijke website tot een succes te maken. Voor bedrijven die de voorkeur geven aan een gebruiksvriendelijk content management systeem, bouwen we robuuste websites in <a class="kleur" href="https://nl-be.wordpress.org/">WordPress.</a> Dit platform biedt niet alleen gemak en flexibiliteit in het beheer van inhoud, maar ook talloze mogelijkheden voor maatwerk en uitbreiding.
                </p>
                <p class="xlarge">Voor ondernemingen die op zoek zijn naar een op <a class="kleur" href="/maatwerk-website-laten-maken">maat gemaakte, high-performance website</a>, bieden we clean code Hugo-websites. Hugo staat bekend om zijn snelheid en efficiëntie, wat essentieel is voor bedrijven die een snelle, veilige en SEO-vriendelijke website nodig hebben. Ongeacht de gekozen technologie, we integreren diverse maatwerk functionaliteiten, zoals klant logins voor een gepersonaliseerde gebruikerservaring en geavanceerde data-analyse tools voor waardevolle inzichten in klantgedrag en websiteprestaties. Deze functionaliteiten verhogen niet alleen de efficiëntie van je website, maar verbeteren ook de interactie met je klanten.
                </p>
    {{ partial "stedenShortcode.html" . }}
</div>
    <div class="button-item mt-50">
        <a href="{{ "contact" | relURL }}" class="border-btn">
            <span class="btn-text">Neem contact op</span>
            <span class="btn-icon"><i class="flaticon-next"></i></span>
        </a>                        
    </div>
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
        <img src="{{ "/img/zakelijke-website/zakelijke-website-laten-maken4.jpg" | relURL }}" alt="image not found">
</div>
</div>
</div>
</section>

    <!-- approch area start -->
    <section class="approch-area section-spacing">
        <div class="container">
            <div class="row align-items-center gy-50">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="approch-thumb">
                        <img src="{{ "/img/webshop-laten-maken/webshop-laten-maken8.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="section__title-wrapper mb-50">
                        <h2 class="section__title-inner title-anim">Ons stappenplan</h2>
                    </div>
                    <div class="approch-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="approch-1-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-1" type="button" role="tab"
                                    aria-controls="approch-1" aria-selected="true">1. Analyseren</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-2-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-2" type="button" role="tab"
                                    aria-controls="approch-2" aria-selected="false">2. Ontwerpen</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-3-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-3" type="button" role="tab"
                                    aria-controls="approch-3" aria-selected="false">3. Ontwikkeling</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-4-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-4" type="button" role="tab"
                                    aria-controls="approch-4" aria-selected="false">4. Lancering</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="approch-1" role="tabpanel"
                                aria-labelledby="approch-1-tab">
                                <div class="approch-content">
                                    <p class="xlarge">We starten met een diepgaande analyse van jouw zakelijke doelen en doelgroep om een duidelijk beeld te krijgen van wat je website nodig heeft om effectief te zijn.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-2" role="tabpanel"
                                aria-labelledby="approch-2-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Op basis van onze analyse ontwikkelen we een op maat gemaakt ontwerp dat zowel visueel aantrekkelijk als functioneel is, perfect afgestemd op de behoeften van je bedrijf.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-3" role="tabpanel"
                                aria-labelledby="approch-3-tab">
                                <div class="approch-content">
                                    <p class="xlarge">In deze fase bouwen we de website, waarbij we geavanceerde technologieën en maatwerk functionaliteiten implementeren om de prestaties en gebruikerservaring te optimaliseren.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-4" role="tabpanel"
                                aria-labelledby="approch-4-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Na zorgvuldige tests en finetuning zetten we jouw website live, klaar om een sterke online aanwezigheid voor je bedrijf te creëren en te onderhouden.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- approch area end -->

    <!-- faq area start -->
    <section class="faq-area section-spacing">
        <div class="container">
            <div class="section__title-wrapper tpl__item-center mb-60">
                <h2 class="section__title-inner title-anim">Veelgestelde vragen</h2>
            </div>
            <div class="choose-accordion mb-0 tp-accordion-fix">
                <div class="accordion" id="accordionExample-st-2">
                    <div class="row g-5">
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingOne-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne-st-2"
                                        aria-expanded="false" aria-controls="collapseOne-st-2">
                                        Hoe lang duurt het om een website te bouwen?
                                    </button>
                                </h2>
                                <div id="collapseOne-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De tijd die nodig is om een website te bouwen kan variëren, afhankelijk van de complexiteit en specifieke eisen. Gemiddeld duurt het ongeveer 4-6 weken, maar grotere projecten kunnen langer duren.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingTwo-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo-st-2"
                                        aria-expanded="false" aria-controls="collapseTwo-st-2">
                                        Wat kost het om een website te laten maken?
                                    </button>
                                </h2>
                                <div id="collapseTwo-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De kosten van het ontwikkelen van een website hangen af van verschillende factoren zoals het design, functionaliteiten en de inhoud. Wij bieden op maat gemaakte offertes om ervoor te zorgen dat je betaalt voor wat je echt nodig hebt.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree-st-2"
                                        aria-expanded="false" aria-controls="collapseThree-st-2">
                                        Heb ik hosting en een domeinnaam nodig?
                                    </button>
                                </h2>
                                <div id="collapseThree-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Ja, voor een live website zijn hosting en een domeinnaam essentieel. Wij kunnen je helpen met het kiezen van de juiste hostingprovider en het registreren van een domeinnaam die past bij jouw bedrijf.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFour-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour-st-2"
                                        aria-expanded="false" aria-controls="collapseFour-st-2">
                                        Kan ik mijn website zelf bijwerken na de lancering?
                                    </button>
                                </h2>
                                <div id="collapseFour-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Absoluut. Wij zorgen ervoor dat je website wordt gebouwd met een gebruiksvriendelijk contentmanagementsysteem (CMS), waardoor je zelf eenvoudig tekst en afbeeldingen kunt bijwerken.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFive-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive-st-2"
                                        aria-expanded="false" aria-controls="collapseFive-st-2">
                                        Is mijn website na lancering SEO-geoptimaliseerd?
                                    </button>
                                </h2>
                                <div id="collapseFive-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Ja, wij zorgen ervoor dat je website bij lancering SEO-geoptimaliseerd is. Dit omvat basisoptimalisatie zoals trefwoordintegratie, snelle laadtijden en mobielvriendelijkheid.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven-st-2"
                                        aria-expanded="false" aria-controls="collapseSeven-st-2">
                                        Bieden jullie ondersteuning na de lancering van de website?
                                    </button>
                                </h2>
                                <div id="collapseSeven-st-2" class="accordion-collapse collapse show"
                                    aria-labelledby="headingSix-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Zeker, wij bieden ondersteuning en onderhoudsdiensten na de lancering om ervoor te zorgen dat je website soepel blijft draaien en up-to-date blijft met de nieuwste webstandaarden en -technologieën.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq area end -->

  <!-- title intro area -->
  <section class="title-intro-area fix primary-bg">
    <div class="container">
        <div class="title-intro-wrapper section-spacing">
            <div class="intro__title-wrapper">
                <h2 class="intro__title-inner folks-text">Let's Babbel</h2>
            </div>
            <div class="intro-brn">
                <a href="{{ "contact" |relURL }}" class="circle-btn is-green">
                    <span class="icon-box"><i class="flaticon-next"></i></span>
                    <img src="{{ "img/icons/contact-btn-text.png" | relURL }}" alt="image not found" class="image-text">


                </a>
            </div>
        </div>
    </div>
</section>
<!-- title intro end -->
</main>
{{end}}