{{ define "main" }}

<main>

  <!-- page titler area start -->
  <section class="page-title-area section-spacing-top adjust-header-space mb-40">
      <div class="container">
          <div class="page-title-wrappper">
              <div class="breadcrumb-menu mb-20">
                  <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                      <ul class="trail-items">
                          <li class="trail-item trail-begin"><a href="{{"/" | relURL }}"><span>Home</span></a></li>
                          <li class="trail-item"><a href="{{"website-laten-maken-heerlen" | relURL }}"><span>Website laten maken Heerlen</span></a></li>
                      </ul>
                  </nav>
              </div>
              <h1 class="page-title">Website laten maken Heerlen
              </h1>
          </div>
      </div>
  </section>
  <!-- page titler area end -->

  <!-- postbox area start -->
  <section class="postbox__area section-spacing-bottom">
      <div class="container">
          <div class="row gy-50">
              <div class="col-xxl-8 col-xl-7 col-lg-7">
                  <div class="postbox__wrapper">
                      <div class="postbox__item mb-60">
                          <p>Website laten maken in Heerlen? Wij overtreffen je verwachtingen. Ons team van ervaren webbouwers gaat graag voor je aan de slag. Wij bouwen websites die passen bij jouw onderneming. Niet alleen voor vandaag maar ook voor morgen én over 10 jaar. Wij bouwen websites in Heerlen die passen bij je wensen en doelen maar houden ook rekening met vindbaarheid. Een krachtige website met een fantastisch design: dat is wat wij voor je kunnen maken. </p>
                          <p>Website laten maken in Heerlen? Wij zorgen dat je online opvalt. Bij klanten en bij Google. 
                            Vrijblijvend kennismaken? 
                            <div class="button-item">
                              <a href="{{ "contact" | relURL }}"  class="border-btn"><span class="btn-text">Neem contact op</span><span class="btn-icon"><i
                                          class="flaticon-next"></i></span></a>
                          </div>
                            </p>
                              <div class="postbox__thumb-2 mb-30">
                                    <img src="{{ "/img/footerteksten/website-laten-maken-heerlen.jpg" | relURL }}" alt="website laten maken heerlen">
                            </div>
                            <h2>Wij leren je graag wat beter kennen</h2>
                          <p>Wanneer je in Heerlen je onderneming hebt, wil je natuurlijk je website laten maken in Heerlen door een lokale specialist met kennis van de regio. 
                            Voordat wij aan de slag gaan, leren we jou en je onderneming graag iets beter kennen. Tijdens een kennismaking bespreken we uitvoerig wat je wensen zijn en wat wij voor je kunnen betekenen. 
                            </p>
                            <p>Na dit gesprek weten we wat je nodig hebt en gaan we aan de slag om een offerte te maken en een planning. Dan weet jij wat je van ons kan verwachten en hoe we het zouden aanpakken.</p>
                            <p>Ben je akkoord en ga jij je website laten maken in Heerlen door ons team? Dan gaan wij starten en bouwen we jouw website volgens de planning die we je eerder hebben gegeven. We laten je graag versteld staan en zetten daarom ook graag een stapje extra tijdens het ontwerpen en bouwen van jouw website. </p>
                              <h2>Je website laten maken in Heerlen? Dat doen wij! </h2>
                              <p>Wij zijn WebReaktor en wij maken krachtige websites. Websites die vindbaar zijn, converteren en betrouwbaar zijn. Dit doen we met een ervaren team dat weet dat jouw succes ook afhangt van je website. En dat een website moet passen bij je merk, imago en huisstijl maar dat je ook goed vindbaar wil zijn.</p>
                              <p>Wij zijn waar je moet zijn voor webdesign in Heerlen. Wij hebben een passie voor het creëren van visueel verbluffende websites en streven ernaar resultaten te leveren die je verwachtingen overtreffen. Dit doen we zonder de essentie van een website uit het oog te verliezen namelijk dat je klanten je kunnen vinden en bereiken. </p>
                              <p>Natuurlijk zijn onze websites gebruiksvriendelijk, geoptimaliseerd en klaar om mee geadverteerd te worden. Is jouw onderneming klaar voor online succes? Dan is het tijd om jouw website te laten maken in Heerlen.</p>
                              <p>Je vindt ons website design bureau in Heerlen op de Jan Campertstraat 5. </p>
                              <h3>Vindbaar? Wij zorgen ervoor! </h3>
                              <p>Het begint allemaal met een website, maar zonder bezoekers is een website weinig waard. Daarom zorgen wij altijd dat de websites die wij bouwen als webdesign Heerlen volledig geoptimaliseerd zijn. Zodat je, na de oplevering van de website, aan de slag kunt met Search Engine Optimization. SEO. </p>
                              <p>Dat kan je natuurlijk zelf, maar je kan het ook aan ons team overlaten. Wij kunnen ervoor zorgen dat jouw website topposities behaalt in Google voor relevante zoekwoorden. 
                                Wil je meer weten over ons werk als seo bureau heerlen? [intern linken naar seo bureau heerlen pagina] Bekijk dan onze SEO bureau Heerlen pagina! 
                                </p>
                                <h3>Google Ads</h3>
                                <p>Een website laten maken in Heerlen doe je natuurlijk bij ons maar wij zijn er ook voor jouw Google Ads activiteiten. Van vakkundig instellen tot optimaliseren en monitoren, wij doen het allemaal. Met Google Ads kun je jouw zichtbaarheid vergroten, jouw doelgroep bereiken en de conversies op je website verhogen. Uiteraard zorgen wij dat je campagnes top presteren maar wel binnen budget blijven. </p>
                                <h2>Meer weten over je website laten maken in Heerlen? </h2>
                                <p>Alles begint natuurlijk met een goede website. Wil je meer weten over je website laten maken in Heerlen, kennismaken met ons en onze werkwijze of wil je een persoonlijke offerte op maat? Neem dan contact op via telefoonnummer: <a href="tel:0850608121">085 060 8121</a> of stuur een mailtje naar <a href="mailto:info@webreaktor.nl">info@webreaktor.nl</a>. In ons portfolio kun je natuurlijk de websites van onze klanten bekijken. 
                                  Wil je alleen wat vragen of heb je tips nodig? Neem gerust contact op, we helpen je graag. 
                                  </p>
                                  <p>Jouw website laten maken in Heerlen? Dat doe je bij WebReaktor! </p>

                      </div>
                      <div class="sidebar__tag mb-35 mt-70">
                          <a href="{{"/" | relURL }}">Heerlen</a>
                          <a href="{{"/" | relURL }}">Limburg</a>
                          <a href="{{"/" | relURL }}">Sittard</a>
                          <a href="{{"/" | relURL }}">Kerkrade</a>
                          <a href="{{"/" | relURL }}">Weert</a>
                          <a href="{{"/" | relURL }}">Venlo</a>
                          <a href="{{"/" | relURL }}">Maastricht</a>
                          <a href="{{"/" | relURL }}">Breda</a>
                      </div>
                      <div class="postbox__share-wrapper mb-60">
                          <div class="postbox__share-love">
                              <span><i class="flaticon-heart"></i></span>
                          </div>
                          <div class="postbox__social">
                              <a href="https://www.facebook.com/profile.php?id=61550966556127" target="_blank"><i
                                      class="fa-brands fa-facebook"></i></a>
                              <a href="https://twitter.com/WebReaktor045" target="_blank"><i
                                      class="fa-brands fa-twitter"></i></a>
                           <!--   <a href="https://www.instagram.com/" target="_blank"><i
                                      class="fa-brands fa-instagram"></i></a>
                              <a href="https://www.youtube.com/" target="_blank"><i
                                      class="fa-brands fa-youtube"></i></a>-->
                          </div>
                      </div>

                  </div>
              </div>
              <div class="col-xxl-4 col-xl-5 col-lg-5">
                {{ partial "dienstenBlog.html" }}

                {{ partial "contactForm.html" }}

                {{ partial "blogCategorieen.html" }}

            </div>
          </div>
      </div>
  </section>
  <!-- postbox area end -->

</main>

  <!-- title intro area -->
  <section class="title-intro-area fix primary-bg">
    <div class="container">
        <div class="title-intro-wrapper section-spacing">
            <div class="intro__title-wrapper">
                <h2 class="intro__title-inner folks-text">Let's Babbel</h2>
            </div>
            <div class="intro-brn">
                <a href="{{ "contact" | relURL }}" class="circle-btn is-green">
                    <span class="icon-box"><i class="flaticon-next"></i></span>
                    <img src="{{ "img/icons/contact-btn-text.png" | relURL }}" alt="image not found" class="image-text">


                </a>
            </div>
        </div>
    </div>
</section>
<!-- title intro end -->

{{end}}