{{ define "main" }}
<main>

               <!-- hero area start  -->
               <section class="hero-2-area p-relative fix">
                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row align-items-center">
                            <div class="col-xl-7">
                                <div class="hero-3__content p-relative">
                                  <div class="breadcrumb-menu mb-20">
                                    <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                        <ul class="trail-items">
                                            <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                   
                                        </ul>
                                    </nav>
                                </div>
                                    <h1 class="mb-50">
                                      Marketing bureau Breda
                                    </h1>
                                    <p class="hero-3__text p-text">
                                        Welkom in Breda, waar de energie van ondernemerschap en cultuur samenkomt. Hier bij ons marketingbureau begrijpen we dat het succes van jouw bedrijf niet alleen draait om wat je doet, maar ook om hoe je het verhaal vertelt. In deze stad vol leven en mogelijkheden, staan wij klaar om jouw merk naar nieuwe hoogtes te tillen met strategieën die even levendig en dynamisch zijn als Breda zelf. Of je nu lokaal wilt groeien of je bereik wilt vergroten, wij bieden de creatieve vonk en de diepgaande kennis die jouw onderneming nodig heeft.
                                    </p>
                                    <div class="hero-3__btn btn_wrapper mb-30">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="page-title-thumb">
                                    <img src="{{ "/img/marketing-bureau/marketing-bureau1.jpg" | relURL }}" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg ">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/marketing-bureau/marketing-bureau-limburg.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Vertrouwd marketingbureau in Breda</h2>
                        <p class="p-text">In het hart van Breda, staan wij bekend als een betrouwbaar bureau dat naast je staat. Wij combineren lokale expertise met bewezen strategieën om jouw bedrijf vooruit te helpen. Bij ons vind je een partner die jouw ambities begrijpt en zich inzet voor jouw succes.
                        </p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Onze belangrijkste marketingdiensten
                        </h2>
                        <p class="section-intro-paragraph xlarge p-text">In een stad als Breda, waar elke onderneming een uniek verhaal heeft, bieden wij gespecialiseerde marketingdiensten aan die zijn ontworpen om je merk te laten opvallen en groeien. Hier zijn de drie pijlers van onze aanpak:
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/promotion.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Social media marketing</h3>
                            </div>
                            <p class="xlarge">Verbind met Breda's levendige gemeenschap en daarbuiten. We gebruiken lokale inzichten om boeiende campagnes te ontwikkelen die jouw doelgroep aanspreken en je sociale aanwezigheid versterken. <a href="/social-media-marketing-agency" class="kleur">Ontdek meer over onze social media marketing aanpak.</a>
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/email.png" | relURL }}">
                                <h3 class="service-branding-title">E-mail marketing</h3>
                            </div>
                            <p class="xlarge">Bereik je klanten direct met gepersonaliseerde en doelgerichte boodschappen. Onze e-mailcampagnes zijn zorgvuldig ontworpen om betrokkenheid te verhogen en jouw relaties te verdiepen. <a href="/e-mail-marketing-bureau" class="kleur">Leer hoe onze e-mail marketing jou kan ondersteunen.</a></p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/online-video.png" | relURL }}">
                                <h3 class="service-branding-title">Videomarketing</h3>
                            </div>
                            <p class="xlarge">Vertel jouw verhaal met de kracht van video. Of het nu gaat om het vastleggen van de essentie van jouw merk of het demonstreren van producten, onze video's zijn gemaakt om indruk te maken en een blijvende impact te hebben. <a href="/videomarketing-bureau" class="kleur">Verken de mogelijkheden van videomarketing voor jouw bedrijf.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/marketing-bureau/marketing-bureau5.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

      <!-- foto links text rechts begin, verschillende branches shortcode -->
      <section class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet-marin2">
                        <h2 class="p-text">Websites op maat</h2>
                        <p class="p-text">Bij WebReaktor vertalen we jouw unieke ideeën naar op maat gemaakte websites. Ons team zet zich in voor het creëren van visueel aantrekkelijke en functionele sites die jouw bedrijf perfect weerspiegelen.</p>
                        <p class="p-text">Ontdek hoe wij voor elke branche een op maat gemaakte, effectieve online aanwezigheid kunnen realiseren.</p>
                    </div>
    {{ partial "shortcode.html" . }}
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
  <img src="{{ "/img/website-laten-maken-limburg/website-laten-maken-limburg3.jpg" | relURL }}" alt="image not found">             
</div>
</div>
</div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin, stedenShortcode start -->
        <section
class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="service-page-title-contenet-marin">
                <h2 class="p-text">Waarom marketingbureau WebReaktor?
                </h2>
                <p class="xlarge">In Breda, een stad bekend om haar innovatieve geest en bruisende zakelijke landschap, onderscheidt WebReaktor zich door een diepgaand begrip van zowel de lokale markt als de bredere digitale wereld. Onze aanpak is altijd persoonlijk en gericht op het leveren van resultaten die er echt toe doen. Met een team van toegewijde professionals combineren we creativiteit met strategische scherpzinnigheid, om ervoor te zorgen dat jouw bedrijf niet alleen gezien wordt, maar ook onthouden.
                </p>
                <p class="xlarge">Bij ons gaat het niet alleen om de korte termijn. Wij zijn toegewijd aan het opbouwen van duurzame relaties en het leveren van langdurige waarde. Door te investeren in de nieuwste technologieën en methodieken, zorgen we ervoor dat jouw marketingstrategieën fris, relevant en effectief blijven. Onze belofte aan jou is niet alleen het bereiken van je doelen, maar het overtreffen ervan, keer op keer. Kiezen voor WebReaktor betekent kiezen voor een partner die even gepassioneerd is over jouw succes als jij.
                </p>
    {{ partial "marketingBureau.html" . }}
</div>
    <div class="button-item mt-50">
        <a href="{{ "contact" | relURL }}" class="border-btn">
            <span class="btn-text">Neem contact op</span>
            <span class="btn-icon"><i class="flaticon-next"></i></span>
        </a>                        
    </div>
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
        <img src="{{ "/img/marketing-bureau/marketing-bureau-social-media.jpg" | relURL }}" alt="image not found">
</div>
</div>
</div>
</section>

    <!-- approch area start -->
    {{ partial "marketingBureauStappenplan.html" . }}
    <!-- approch area end -->

    <!-- faq area start -->
    {{ partial "marketingBureauVragen.html" . }}
    <!-- faq area end -->

  <!-- title intro area -->
  {{ partial "letsBabbelZwart.html" . }}
<!-- title intro end -->
</main>
{{end}}