{{ define "main" }}
<main>

  <!-- page title area start -->
  <section class="page-title-area section-spacing p-relative adjust-header-space">
      <div class="page-title-shapes">
        <img class="shape-2" src="{{ "img/shapes/circle-line-2.png" | relURL }}" alt="image not found">
      </div>
      <div class="container">
          <div class="row">
              <div class="col-xxl-10">
                  <div class="page-title-wrappper">
                      <div class="breadcrumb-menu mb-25">
                          <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                              <ul class="trail-items">
                                  <li class="trail-item trail-begin"><span>Case Studies</span></li>
                              </ul>
                          </nav>
                      </div>
                      <h2 class="page-title mb-35 animation__word_come_long">Blog 2</h2>
                      <p class="page-title-paragraph xlarge p-text">We showcased how our skilled hands and
                          creative minds turn a concept into a fully-functional product. Here, you will
                          discover satisfied clients with amazing stories!</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- page title area end -->

  <!-- project works area start -->
  <div class="project-works-area section-spacing primary-bg">
      <div class="container">
          <div class="row g-5">
              <div class="col-lg-8">
                  <div class="projects-wrapper is-white">
                      <div class="project-box">
                          <div class="project-box__thumb order-sm-1">
                              <div class="animate-image">
                                <a href="case-details.html"><img class="topylo-tilt" src="{{ "img/projects/project-5.jpg" | relURL }}" alt="image not found"></a>

                              </div>
                          </div>
                          <div class="project-box-content order-sm-0">
                              <div class="bdFadeLeft">
                                  <h4 class="project__title">
                                      <a href="case-details.html">Metastack Blub<span class="icon-box"><i
                                                  class="flaticon-next"></i></span></a>
                                  </h4>
                                  <p>Lift is a full-service, award-winning digital agency with
                                      expertise in
                                      brand
                                      & digital strategy, design, and user experience</p>
                                  <div class="awards-list-box">
                                      <p>Awards From:</p>
                                      <div class="awards-list">
                                          <ul>
                                              <li>Awwwards</li>
                                              <li>RED it</li>
                                              <li>FWA</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="project-box__btn">
                                      <a href="case-details.html" class="text-btn btn-text">Lees meer</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="project-box">
                          <div class="project-box__thumb order-sm-1">
                              <div class="animate-image">
                                <a href="case-details.html"><img class="topylo-tilt" src="{{ "img/projects/project-6.jpg" | relURL }}" alt="image not found"></a>

                              </div>

                          </div>
                          <div class="project-box-content order-sm-0">
                              <div class="bdFadeRight">
                                  <h4 class="project__title">
                                      <a href="case-details.html">Finance Fintech Webapp<span
                                              class="icon-box"><i class="flaticon-next"></i></span></a>
                                  </h4>
                                  <p>Lift is a full-service, award-winning digital agency with
                                      expertise in
                                      brand
                                      & digital strategy, design, and user experience</p>
                                  <div class="awards-list-box">
                                      <p>Awards From:</p>
                                      <div class="awards-list">
                                          <ul>
                                              <li>Awwwards</li>
                                              <li>RED it</li>
                                              <li>FWA</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="project-box__btn">
                                      <a href="case-details.html" class="text-btn btn-text">Lees meer</a>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="project-box">
                          <div class="project-box__thumb order-sm-1">
                              <div class="animate-image">
                                <a href="case-details.html"><img class="topylo-tilt" src="{{ "img/projects/project-7.jpg" | relURL }}" alt="image not found"></a>

                              </div>
                          </div>
                          <div class="project-box-content order-sm-0">
                              <div class="bdFadeLeft">
                                  <h4 class="project__title">
                                      <a href="case-details.html">Creative Illustration Software <span
                                              class="icon-box"><i class="flaticon-next"></i></span></a>
                                  </h4>
                                  <p>Lift is a full-service, award-winning digital agency with
                                      expertise in
                                      brand
                                      & digital strategy, design, and user experience</p>
                                  <div class="awards-list-box">
                                      <p>Awards From:</p>
                                      <div class="awards-list">
                                          <ul>
                                              <li>Awwwards</li>
                                              <li>RED it</li>
                                              <li>FWA</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="project-box__btn">
                                      <a href="case-details.html" class="text-btn btn-text">Lees meer</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="project-box">
                          <div class="project-box__thumb order-sm-1">
                              <div class="animate-image">
                                <a href="case-details.html"><img class="topylo-tilt" src="{{ "img/projects/project-8.jpg" | relURL }}" alt="image not found"></a>

                              </div>
                          </div>
                          <div class="project-box-content">
                              <div class="bdFadeRight order-sm-0">
                                  <h4 class="project__title">
                                      <a href="case-details.html">Digital Marketing Platform <span
                                              class="icon-box"><i class="flaticon-next"></i></span></a>
                                  </h4>
                                  <p>Lift is a full-service, award-winning digital agency with
                                      expertise in
                                      brand
                                      & digital strategy, design, and user experience</p>
                                  <div class="awards-list-box">
                                      <p>Awards From:</p>
                                      <div class="awards-list">
                                          <ul>
                                              <li>Awwwards</li>
                                              <li>RED it</li>
                                              <li>FWA</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="project-box__btn">
                                      <a href="case-details.html" class="text-btn btn-text">Lees meer</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 bd-position-sticky">
                  <div class="column two">
                      <div class="project-social-wrappper">
                          <div class="project-social">
                              <a href="https://dribbble.com/" target="_blank">
                                  <div class="social-round-item">
                                      <div class="social-round-content">
                                        <img src="{{ "img/icons/dribbble.png" | relURL }}" alt="image not found">

                                          <h3 class="project-social-title">Dribbble</h3>
                                      </div>
                                      <div class="social-round-link">
                                          <span><i class="fa-light fa-angle-right"></i></span>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="project-social">
                              <a href="https://www.behance.net/" target="_blank">
                                  <div class="social-round-item">
                                      <div class="social-round-content">
                                        <img src="{{ "img/icons/behance.png" | relURL }}" alt="image not found">

                                          <h3 class="project-social-title">Behance</h3>
                                      </div>
                                      <div class="social-round-link">
                                          <span><i class="fa-light fa-angle-right"></i></span>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="project-social">
                              <a href="https://instagram.com/" target="_blank">
                                  <div class="social-round-item">
                                      <div class="social-round-content">
                                        <img src="{{ "img/icons/instagram.png" | relURL }}" alt="image not found">
                                        <h3 class="project-social-title">Instagram</h3>
                                      </div>
                                      <div class="social-round-link">
                                          <span><i class="fa-light fa-angle-right"></i></span>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="bd-basic__pagination d-flex align-items-center mt-50">
            <nav>
                <ul>
                    <li>
                        <a class="current" href="{{ "blog/" | relURL }}">1</a>
                    </li>
                    <li>
                        <a class="current" href="{{ "blog-2/" | relURL }}">2</a>
                    </li>
                </ul>
            </nav>
        </div>
      </div>
      
  </div>
  <!-- project works area end -->

  

  <!-- brand area start -->
  <section class="brand-area section-spacing">
      <div class="container">
          <div class="row">
              <div class="col-xxl-12">
                  <div class="section__title-wrapper section-title-spacing">
                      <h2 class="section__title-inner animation__word_come">Since 1988, more than 170
                          brands have trusted us.
                      </h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="brand-wrapper">
          <div class="swiper-container swiper-round-active">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="brand-round-item">
                          <div class="brand-round-thumb">
                            <img src="{{ "img/brand/brand-1.png" | relURL }}" alt="image not found">
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="brand-round-item">
                          <div class="brand-round-thumb">
                            <img src="{{ "img/brand/brand-2.png" | relURL }}" alt="image not found">
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="brand-round-item">
                          <div class="brand-round-thumb">
                            <img src="{{ "img/brand/brand-3.png" | relURL }}" alt="image not found">
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="brand-round-item">
                          <div class="brand-round-thumb">
                            <img src="{{ "img/brand/brand-4.png" | relURL }}" alt="image not found">
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="brand-round-item">
                          <div class="brand-round-thumb">
                            <img src="{{ "img/brand/brand-5.png" | relURL }}" alt="image not found">
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="brand-round-item">
                          <div class="brand-round-thumb">
                            <img src="{{ "img/brand/brand-1.png" | relURL }}" alt="image not found">
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="brand-round-item">
                          <div class="brand-round-thumb">
                            <img src="{{ "img/brand/brand-2.png" | relURL }}" alt="image not found">
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="brand-round-item">
                          <div class="brand-round-thumb">
                            <img src="{{ "img/brand/brand-3.png" | relURL }}" alt="image not found">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- brand area start -->

</main>
{{end}}