{{ define "main" }}
<main>

               <!-- hero area start  -->
               <section class="hero-2-area p-relative fix">
                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row align-items-center">
                            <div class="col-xl-7">
                                <div class="hero-3__content p-relative">
                                  <div class="breadcrumb-menu mb-20">
                                    <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                        <ul class="trail-items">
                                            <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                            <a href="{{ "/website-laten-maken-loodgieter" | relURL }}"><li class="trail-item"><span>Website laten maken loodgieter</span></li></a>                                    
                                        </ul>
                                    </nav>
                                </div>
                                    <h1 class="mb-50">
                                      Website laten maken loodgieter
                                    </h1>
                                    <p class="hero-3__text p-text">
                                      Duik in de digitale wereld met een website die net zo betrouwbaar en efficiënt is als jouw loodgieterswerk. Bij WebReaktor specialiseren we ons in het ontwikkelen van op maat gemaakte websites voor loodgieters, waarbij we jouw vakmanschap en diensten op de voorgrond plaatsen. Of je nu focust op huishoudelijke reparaties, industriële projecten of noodinterventies, wij bouwen een website die jouw expertise en betrouwbaarheid uitstraalt, terwijl we klanten een helder en gemakkelijk pad bieden om jouw diensten te ontdekken en te boeken.
                                    </p>
                                    <div class="hero-3__btn btn_wrapper mb-30">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="page-title-thumb">
                                    <img src="{{ "/img/loodgieter/website-laten-maken-loodgieter1.jpg" | relURL }}" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg ">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/loodgieter/website-laten-maken-loodgieter2.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Uw digitale gereedschapskist</h2>
                        <p class="p-text">Bij WebReaktor creëren we overzichtelijke websites voor loodgieters, gericht op het helder presenteren van jouw diensten en het vereenvoudigen van klantcontact. Van dienstbeschrijvingen tot online boeken, wij zorgen dat jouw digitale aanwezigheid net zo betrouwbaar is als je vakwerk.
                        </p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Zichtbaarheid op Google en Bing: Een must voor loodgieters
                        </h2>
                        <p class="section-intro-paragraph xlarge p-text">We begrijpen bij WebReaktor dat voor loodgieters, online vindbaarheid cruciaal is. Een goed ontworpen website is pas effectief als deze zichtbaar is op zoekmachines zoals Google en Bing. Daarom richten we ons op essentiële elementen die jouw website niet alleen aantrekkelijk maken, maar ook zorgen voor een betere online zichtbaarheid.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/maatwerk-website/fast-time.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Snelle laadtijden</h3>
                            </div>
                            <p class="xlarge">Een snelle laadtijd is essentieel voor het behouden van bezoekers. We zorgen dat jouw website geoptimaliseerd is voor snelheid, waardoor klanten snel toegang hebben tot jouw informatie en diensten.
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/loodgieter/calendar.png" | relURL }}">
                                <h3 class="service-branding-title">Online afspraaksysteem</h3>
                            </div>
                            <p class="xlarge">Een gemakkelijk te gebruiken online afspraaksysteem maakt het voor klanten eenvoudig om jouw diensten te boeken. Dit verhoogt niet alleen de klanttevredenheid, maar verbetert ook de operationele efficiëntie van je bedrijf.</p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/zzp/seo.png" | relURL }}">
                                <h3 class="service-branding-title">SEO-optimalisatie</h3>
                            </div>
                            <p class="xlarge">Door je website te optimaliseren voor zoekmachines, verbeteren we je zichtbaarheid op Google en Bing. Dit omvat het gebruik van relevante trefwoorden, het optimaliseren van de website structuur en het zorgen voor mobiele compatibiliteit, wat allemaal bijdraagt aan een hogere rangschikking en betere vindbaarheid.
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/loodgieter/website-laten-maken-loodgieter.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

      <!-- foto links text rechts begin, verschillende branches shortcode -->
      <section class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet-marin2">
                        <h2 class="p-text">Webdesign voor elke branche</h2>
                        <p class="p-text">Bij WebReaktor zijn we uitgerust om diverse soorten websites te creëren, van kappers tot zorginstellingen en bouwbedrijven. Ontdek hoe wij voor elke branche een op maat gemaakte, effectieve online aanwezigheid kunnen realiseren</p>
                    </div>
    {{ partial "shortcode.html" . }}
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
  <img src="{{ "/img/website-laten-maken-limburg/website-laten-maken-limburg3.jpg" | relURL }}" alt="image not found">             
</div>
</div>
</div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin, stedenShortcode start -->
        <section
class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="service-page-title-contenet-marin">
                <h2 class="p-text">Persoonlijke benadering en strategische implementatie
                </h2>
                <p class="xlarge">Onze aanpak bij WebReaktor begint altijd met een persoonlijk gesprek. We nemen de tijd om jou en je loodgietersbedrijf te leren kennen, zodat we precies begrijpen wat je nodig hebt van je website. Dit gesprek helpt ons om te bepalen welk Content Management Systeem (CMS) en welke modules het beste bij je passen, of het nu gaat om een gebruiksvriendelijk WordPress-platform of een op maat gemaakte, high-performance website met Hugo. Ons doel is om een website te ontwikkelen die niet alleen voldoet aan je huidige behoeften, maar ook meegroeit met je bedrijf.
                </p>
                <p class="xlarge">Daarnaast bieden we ondersteuning bij <a class="kleur" href="/zoekmachine-advertenties">zoekmachine-adverteren (SEA)</a>, wat een krachtig middel kan zijn om je website snel onder de aandacht te brengen van potentiële klanten. Ons team is bedreven in het efficiënt instellen en beheren van SEA-campagnes, met een focus op kostenreductie en het maximaliseren van het rendement op je investering. Of het nu gaat om het targeten van specifieke lokale zoekopdrachten of het uitbreiden van je bereik, wij zorgen ervoor dat je advertenties effectief zijn en je bedrijf snel gevonden wordt.
                </p>
    {{ partial "stedenShortcode.html" . }}
</div>
    <div class="button-item mt-50">
        <a href="{{ "contact" | relURL }}" class="border-btn">
            <span class="btn-text">Neem contact op</span>
            <span class="btn-icon"><i class="flaticon-next"></i></span>
        </a>                        
    </div>
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
        <img src="{{ "/img/loodgieter/website-laten-maken-loodgieter3.jpg" | relURL }}" alt="image not found">
</div>
</div>
</div>
</section>

    <!-- approch area start -->
    <section class="approch-area section-spacing">
        <div class="container">
            <div class="row align-items-center gy-50">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="approch-thumb">
                        <img src="{{ "/img/webshop-laten-maken/webshop-laten-maken8.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="section__title-wrapper mb-50">
                        <h2 class="section__title-inner title-anim">Ons stappenplan</h2>
                    </div>
                    <div class="approch-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="approch-1-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-1" type="button" role="tab"
                                    aria-controls="approch-1" aria-selected="true">1. Ontdekken</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-2-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-2" type="button" role="tab"
                                    aria-controls="approch-2" aria-selected="false">2. Ontwerpen</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-3-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-3" type="button" role="tab"
                                    aria-controls="approch-3" aria-selected="false">3. Implementeren</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-4-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-4" type="button" role="tab"
                                    aria-controls="approch-4" aria-selected="false">4. Promoten</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="approch-1" role="tabpanel"
                                aria-labelledby="approch-1-tab">
                                <div class="approch-content">
                                    <p class="xlarge">De eerste stap is het diepgaand verkennen van jouw loodgietersbedrijf. Dit houdt in dat we jouw diensten, doelgroep en unieke verkooppunten in kaart brengen. We willen precies begrijpen wat jouw bedrijf onderscheidt, of het nu gaat om gespecialiseerde diensten, noodgevallen of routineonderhoud. Dit vormt de basis voor een website die echt jouw vakmanschap en expertise vertegenwoordigt.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-2" role="tabpanel"
                                aria-labelledby="approch-2-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Met de verzamelde inzichten gaan we over tot het ontwerpen van je website. Deze stap omvat het kiezen van een geschikt CMS of het ontwikkelen van een op maat gemaakte site met Hugo, afhankelijk van wat het beste past bij jouw specifieke behoeften. Het ontwerp zal zich richten op gebruiksvriendelijkheid en visuele aantrekkelijkheid, waarbij jouw diensten duidelijk en overzichtelijk worden gepresenteerd, compleet met gemakkelijk te navigeren menu's en informatieve inhoud.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-3" role="tabpanel"
                                aria-labelledby="approch-3-tab">
                                <div class="approch-content">
                                    <p class="xlarge">In de implementatiefase bouwen we de website met alle nodige functionaliteiten. Dit omvat het integreren van een online boekingssysteem, een portfolio van je werk, klantenbeoordelingen en contactformulieren. We zorgen ervoor dat de website niet alleen visueel aantrekkelijk is, maar ook optimaal functioneert op zowel desktop- als mobiele apparaten, zodat klanten je diensten gemakkelijk kunnen vinden en gebruiken.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-4" role="tabpanel"
                                aria-labelledby="approch-4-tab">
                                <div class="approch-content">
                                    <p class="xlarge">De laatste stap is het lanceren en promoten van je website. Dit omvat SEO-optimalisatie om je zichtbaarheid op zoekmachines zoals Google en Bing te vergroten, evenals het instellen van gerichte SEA-campagnes. We richten ons op het verbeteren van de lokale zoekopdrachten, zodat potentiële klanten in jouw servicegebied je snel kunnen vinden. Onze doelgerichte aanpak zorgt ervoor dat je investering maximale zichtbaarheid en klantbetrokkenheid oplevert.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- approch area end -->

    <!-- faq area start -->
    <section class="faq-area section-spacing">
        <div class="container">
            <div class="section__title-wrapper tpl__item-center mb-60">
                <h2 class="section__title-inner title-anim">Veelgestelde vragen</h2>
            </div>
            <div class="choose-accordion mb-0 tp-accordion-fix">
                <div class="accordion" id="accordionExample-st-2">
                    <div class="row g-5">
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingOne-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne-st-2"
                                        aria-expanded="false" aria-controls="collapseOne-st-2">
                                        Hoe lang duurt het om een website te bouwen?
                                    </button>
                                </h2>
                                <div id="collapseOne-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De tijd die nodig is om een website te bouwen kan variëren, afhankelijk van de complexiteit en specifieke eisen. Gemiddeld duurt het ongeveer 4-6 weken, maar grotere projecten kunnen langer duren.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingTwo-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo-st-2"
                                        aria-expanded="false" aria-controls="collapseTwo-st-2">
                                        Wat kost het om een website te laten maken?
                                    </button>
                                </h2>
                                <div id="collapseTwo-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De kosten van het ontwikkelen van een website hangen af van verschillende factoren zoals het design, functionaliteiten en de inhoud. Wij bieden op maat gemaakte offertes om ervoor te zorgen dat je betaalt voor wat je echt nodig hebt.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree-st-2"
                                        aria-expanded="false" aria-controls="collapseThree-st-2">
                                        Heb ik hosting en een domeinnaam nodig?
                                    </button>
                                </h2>
                                <div id="collapseThree-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Ja, voor een live website zijn hosting en een domeinnaam essentieel. Wij kunnen je helpen met het kiezen van de juiste hostingprovider en het registreren van een domeinnaam die past bij jouw bedrijf.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFour-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour-st-2"
                                        aria-expanded="false" aria-controls="collapseFour-st-2">
                                        Kan ik mijn website zelf bijwerken na de lancering?
                                    </button>
                                </h2>
                                <div id="collapseFour-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Absoluut. Wij zorgen ervoor dat je website wordt gebouwd met een gebruiksvriendelijk contentmanagementsysteem (CMS), waardoor je zelf eenvoudig tekst en afbeeldingen kunt bijwerken.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFive-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive-st-2"
                                        aria-expanded="false" aria-controls="collapseFive-st-2">
                                        Is mijn website na lancering SEO-geoptimaliseerd?
                                    </button>
                                </h2>
                                <div id="collapseFive-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Ja, wij zorgen ervoor dat je website bij lancering SEO-geoptimaliseerd is. Dit omvat basisoptimalisatie zoals trefwoordintegratie, snelle laadtijden en mobielvriendelijkheid.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven-st-2"
                                        aria-expanded="false" aria-controls="collapseSeven-st-2">
                                        Bieden jullie ondersteuning na de lancering van de website?
                                    </button>
                                </h2>
                                <div id="collapseSeven-st-2" class="accordion-collapse collapse show"
                                    aria-labelledby="headingSix-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Zeker, wij bieden ondersteuning en onderhoudsdiensten na de lancering om ervoor te zorgen dat je website soepel blijft draaien en up-to-date blijft met de nieuwste webstandaarden en -technologieën.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq area end -->

  <!-- title intro area -->
  <section class="title-intro-area fix primary-bg">
    <div class="container">
        <div class="title-intro-wrapper section-spacing">
            <div class="intro__title-wrapper">
                <h2 class="intro__title-inner folks-text">Let's Babbel</h2>
            </div>
            <div class="intro-brn">
                <a href="{{ "contact" |relURL }}" class="circle-btn is-green">
                    <span class="icon-box"><i class="flaticon-next"></i></span>
                    <img src="{{ "img/icons/contact-btn-text.png" | relURL }}" alt="image not found" class="image-text">


                </a>
            </div>
        </div>
    </div>
</section>
<!-- title intro end -->
</main>
{{end}}