{{ define "main" }}
<main>

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg adjust-header-space">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="page-title-wrappper is-white mb-50">
                        <div class="breadcrumb-menu mb-20">
                            <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                <ul class="trail-items">
                                    <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                    <a href="{{ "website-laten-maken-limburg" | relURL }}"><li class="trail-item"><span>Website laten maken Limburg</span></li></a>                                    
                                </ul>
                            </nav>
                        </div>
                        <h1 class="page-title">Website laten maken Limburgg</h1>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/wordpress-website-laten-maken/wordpress-website-laten-maken.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Zoek je naar deskundige webdesign in Limburg?</h2>
                        <p class="p-text">WebReaktor is je lokale partner voor op maat gemaakte websites die zowel functioneel als esthetisch aanspreken. Wij bieden effectieve weboplossingen voor zowel kleine als grote ondernemingen, met de focus op gebruiksgemak en unieke ontwerpen. Ontdek onze diensten in Limburg.</p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Onze maatwerk websites: snel, veilig & SEO-vriendelijk</h2>
                        <p class="section-intro-paragraph xlarge p-text">Bij WebReaktor streven we ernaar om elke website uniek en impactvol te maken. Onze aanpak richt zich op essentiële aspecten die van cruciaal belang zijn voor het succes van jouw online aanwezigheid. Onze websites zijn altijd snel, veilig en SEO-geoptimaliseerd, om jou de beste resultaten te leveren.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/maatwerk-website/fast-time.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Supersnelle laadtijden</h3>
                            </div>
                            <p class="xlarge">Onze websites laden snel, wat essentieel is voor bezoekers uit Limburg en daarbuiten. Een snelle website betekent een betere ervaring voor jouw klanten en een hogere conversieratio.
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/maatwerk-website/shield.png" | relURL }}">
                                <h3 class="service-branding-title">Onkraakbare beveiliging</h3>
                            </div>
                            <p class="xlarge">Wij nemen de beveiliging van jouw website serieus. Met de nieuwste beveiligingsmaatregelen zorgen we ervoor dat jouw Limburgse website beschermd is tegen online dreigingen.</p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/maatwerk-website/magnifiying-glass.png" | relURL }}">
                                <h3 class="service-branding-title">SEO geoptimaliseerd</h3>
                            </div>
                            <p class="xlarge">Een sterke online aanwezigheid in Limburg begint met een SEO-geoptimaliseerde website. Wij zorgen ervoor dat jouw site niet alleen prachtig is, maar ook goed vindbaar voor jouw doelgroep
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/maatwerk-website/maatwerk-website-laten-maken.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

      <!-- foto links text rechts begin -->
    <section
    class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                <div class="service-page-title-contenet-marin2">
                    <h2 class="p-text">Flexibiliteit en functionaliteit op maat</h2>
                    <p class="p-text">Van geïntegreerde features tot op maat gemaakte interacties, elke pixel en regel code wordt zorgvuldig geplaatst om jouw digitale visie werkelijkheid te maken. Met onze aanpak krijg je niet alleen een website, maar een digitaal meesterwerk dat jouw merk perfect vertegenwoordigt.</p>
                </div>
                <div class="sidebar__widget mb-40">
                  <div class="sidebar__widget-content">
                      <div class="sidebar__tag_marin">
                          <a href="blog.html">Vakantiehuis</a>
                          <a href="blog.html">Hotel</a>
                          <a href="blog.html">Rijschool</a>
                          <a href="blog.html">Schoonheidssalon</a>
                          <a href="blog.html">Vacature</a>
                          <a href="blog.html">Hovenier</a>
                          <a href="blog.html">Loodgieter</a>
                          <a href="blog.html">Bakker</a>
                          <a href="blog.html">Tandarts</a>
                          <a href="blog.html">Zzp</a>
                          <a href="blog.html">Kapper</a>
                          <a href="blog.html">Zorginstelling</a>
                          <a href="blog.html">Bouwbedrijf</a>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <img src="{{ "/img/maatwerk-website/maatwerk-website-laten-maken3.jpg" | relURL }}" alt="image not found">             
            </div>
        </div>
    </div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin -->
        <section
        class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="service-page-title-contenet-marin">
                        <h3 class="p-text">Maatwerk website laten maken: een unieke digitale ervaring</h3>
                        <p class="xlarge">Bij WebReaktor is een maatwerk website geen standaardproduct, maar een weerspiegeling van jouw unieke merkidentiteit. Van begin tot eind werken we nauw met je samen om een website te creëren die jouw visie tot leven brengt, met elke functie en elk detail precies zoals jij het voor ogen hebt.</p>
                        <p class="xlarge">Onze focus ligt op het leveren van een website die niet alleen visueel aantrekkelijk is, maar ook soepel en intuïtief functioneert. We gebruiken de nieuwste technologieën om een gebruiksvriendelijke ervaring te bieden die jouw bezoekers aanspreekt en bindt. Jouw maatwerk website wordt het kloppend hart van jouw online aanwezigheid, uniek en krachtig.</p>
                    </div>
                    <div class="button-item mt-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <img src="{{ "/img/maatwerk-website/maatwerk-website-laten-maken4.jpg" | relURL }}" alt="image not found">
                </div>
            </div>
        </div>
    </section>

    <!-- approch area start -->
    <section class="approch-area section-spacing">
        <div class="container">
            <div class="row align-items-center gy-50">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="approch-thumb">
                        <img src="{{ "/img/webshop-laten-maken/webshop-laten-maken8.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="section__title-wrapper mb-50">
                        <h2 class="section__title-inner title-anim">Ons stappenplan</h2>
                    </div>
                    <div class="approch-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="approch-1-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-1" type="button" role="tab"
                                    aria-controls="approch-1" aria-selected="true">1. Concept</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-2-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-2" type="button" role="tab"
                                    aria-controls="approch-2" aria-selected="false">2. Ontwerp</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-3-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-3" type="button" role="tab"
                                    aria-controls="approch-3" aria-selected="false">3. Ontwikkeling</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-4-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-4" type="button" role="tab"
                                    aria-controls="approch-4" aria-selected="false">4. Lancering</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="approch-1" role="tabpanel"
                                aria-labelledby="approch-1-tab">
                                <div class="approch-content">
                                    <p class="xlarge">We beginnen met een diepgaand gesprek om jouw visie, doelen en specifieke vereisten voor de website te begrijpen. Dit omvat het bespreken van jouw merk, doelgroep en gewenste functionaliteiten, zodat we een helder concept kunnen vormen dat als basis dient voor het ontwerp.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-2" role="tabpanel"
                                aria-labelledby="approch-2-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Gebaseerd op het initiële concept, creëren onze ontwerpers een visueel aantrekkelijk en gebruiksvriendelijk ontwerp. We zorgen ervoor dat het ontwerp niet alleen er goed uitziet, maar ook naadloos aansluit bij jouw merkidentiteit en de verwachtingen van je doelgroep.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-3" role="tabpanel"
                                aria-labelledby="approch-3-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Na goedkeuring van het ontwerp, gaan onze ontwikkelaars aan de slag met het bouwen van de website. Hier gebruiken we moderne technologieën en zorgen voor clean code, wat resulteert in een snelle, veilige en responsieve website.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-4" role="tabpanel"
                                aria-labelledby="approch-4-tab">
                                <div class="approch-content">
                                    <p class="xlarge">De laatste stap is de lancering van jouw nieuwe maatwerk website. Na een uitgebreide testfase om alle functionaliteiten en prestaties te verifiëren, zetten we de site live. We zorgen ook voor een naadloze overgang en bieden ondersteuning voor eventuele aanpassingen of verbeteringen.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- approch area end -->

    <!-- faq area start -->
    <section class="faq-area section-spacing">
        <div class="container">
            <div class="section__title-wrapper tpl__item-center mb-60">
                <h2 class="section__title-inner title-anim">Veelgestelde vragen</h2>
            </div>
            <div class="choose-accordion mb-0 tp-accordion-fix">
                <div class="accordion" id="accordionExample-st-2">
                    <div class="row g-5">
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingOne-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne-st-2"
                                        aria-expanded="false" aria-controls="collapseOne-st-2">
                                        Wat is het voordeel van een maatwerk website boven een template?
                                    </button>
                                </h2>
                                <div id="collapseOne-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Een maatwerk website is volledig afgestemd op jouw unieke behoeften en merkidentiteit, wat resulteert in een unieke, snellere en vaak veiligere website dan standaard templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingTwo-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo-st-2"
                                        aria-expanded="false" aria-controls="collapseTwo-st-2">
                                        Hoe lang duurt het om een maatwerk website te laten maken?
                                    </button>
                                </h2>
                                <div id="collapseTwo-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De tijd om een maatwerk website te ontwikkelen varieert afhankelijk van de complexiteit en specifieke eisen. Gemiddeld duurt het enkele weken tot enkele maanden.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree-st-2"
                                        aria-expanded="false" aria-controls="collapseThree-st-2">
                                        Zijn maatwerk websites zoekmachinevriendelijk?
                                    </button>
                                </h2>
                                <div id="collapseThree-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Ja, maatwerk websites die wij bouwen zijn geoptimaliseerd voor zoekmachines. We zorgen voor schone code, snelle laadtijden en responsief design, wat allemaal bijdraagt aan een betere SEO.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFour-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour-st-2"
                                        aria-expanded="false" aria-controls="collapseFour-st-2">
                                        Kan ik mijn bestaande content overzetten naar een nieuwe maatwerk website?
                                    </button>
                                </h2>
                                <div id="collapseFour-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Absoluut. We kunnen bestaande content migreren en deze optimaliseren voor de nieuwe site.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFive-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive-st-2"
                                        aria-expanded="false" aria-controls="collapseFive-st-2">
                                        Hoe betrekken jullie mij in het ontwikkelproces?
                                    </button>
                                </h2>
                                <div id="collapseFive-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>We houden van een collaboratieve aanpak en betrekken je in elke fase, van concept tot lancering. Jouw feedback is cruciaal voor het creëren van een website die jouw visie reflecteert.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven-st-2"
                                        aria-expanded="false" aria-controls="collapseSeven-st-2">
                                        Bieden jullie na lancering ondersteuning en onderhoud aan?
                                    </button>
                                </h2>
                                <div id="collapseSeven-st-2" class="accordion-collapse collapse show"
                                    aria-labelledby="headingSix-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Ja, we bieden ondersteuning en onderhoudsdiensten aan om ervoor te zorgen dat jouw website up-to-date, veilig en efficiënt blijft functioneren.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq area end -->

  <!-- title intro area -->
  <section class="title-intro-area fix primary-bg">
    <div class="container">
        <div class="title-intro-wrapper section-spacing">
            <div class="intro__title-wrapper">
                <h2 class="intro__title-inner folks-text">Let's Babbel</h2>
            </div>
            <div class="intro-brn">
                <a href="{{ "contact" |relURL }}" class="circle-btn is-green">
                    <span class="icon-box"><i class="flaticon-next"></i></span>
                    <img src="{{ "img/icons/contact-btn-text.png" | relURL }}" alt="image not found" class="image-text">


                </a>
            </div>
        </div>
    </div>
</section>
<!-- title intro end -->
</main>
{{end}}