{{ define "main" }}
<main>

  <!-- page titler area start -->
  <section class="page-title-area section-spacing-top adjust-header-space mb-40">
      <div class="container">
          <div class="page-title-wrappper">
              <div class="breadcrumb-menu mb-20">
                  <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                      <ul class="trail-items">
                          <li class="trail-item trail-begin"><a href="{{"/" | relURL }}"><span>Home</span></a></li>
                          <li class="trail-item"><a href=""><span>Hoger in Google</span></a></li>
                      </ul>
                  </nav>
              </div>
              <h1 class="page-title">Hoger in Google
              </h1>
          </div>
      </div>
  </section>
  <!-- page titler area end -->

  <!-- postbox area start -->
  <section class="postbox__area section-spacing-bottom">
      <div class="container">
          <div class="row gy-50">
              <div class="col-xxl-8 col-xl-7 col-lg-7">
                  <div class="postbox__wrapper">
                      <div class="postbox__item mb-60">

                          <p>There are lots of ways to generate leads. You can earn leads through search
                              results, paid ads, social media, and email campaigns. Each of those methods
                              is a great choice for lead generation, Proin faucibus nec mauris a sodales,
                              sed elementum mi tincidunt. Sed eget viverra egestas nisi in consequat.
                              Fusce sodales augue a accumsan. Cras sollicitudin, ipsum eget blandit
                              pulvinar. Integer tincidunt. Cras dapibus.</p>
                              <div class="postbox__thumb-2 mb-30">

                                    <img src="{{ "/img/gallery/gallery-2.jpg" | relURL }}" alt="image not found">

                            </div>
                          <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                              doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore
                              veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
                              <h2>Wat zijn de voordelen</h2>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fuga alias sapiente quas similique inventore consequuntur omnis quaerat doloremque eligendi recusandae veritatis dignissimos dolor, ab voluptatum nostrum praesentium doloribus iusto?
                              Repellat non deleniti commodi natus autem blanditiis! Omnis ad ipsum temporibus tempore atque soluta, dolorum autem error possimus similique dolores impedit ratione cupiditate labore. Numquam minus veritatis illum quam modi!
                            </p>
                              <h3>Dit is een h3</h3>
                              <ul>
                                <li>Nadeel 1</li>
                                <li>Nadeel 2</li>
                                <li>Nadeel 2</li>
                              </ul>
                      </div>
                      <div class="postbox__item is-box mb-60">
                          <h5 class="mb-20">At vero eos et accusam</h5>
                          <p class="mb-40">There are lots of ways to generate leads. You can earn leads
                              through search results, paid ads, social media, and email campaigns. Each of
                              those methods is a great choice for lead generation, Proin faucibus nec
                              mauris a sodales, sed elementum mi tincidunt. Sed eget viverra egestas nisi
                              in consequat. Fusce sodales augue a accumsan. Cras sollicitudin, ipsum eget
                              blandit pulvinar. Integer tincidunt. Cras dapibus.</p>
                          <div class="postbox__box-thumb mb-30">
                              <img src="{{ "/img/gallery/gallery-11.jpg" | relURL }}" alt="image not found">
                              <img src="{{"/img/gallery/gallery-26.jpg" | relURL }}" alt="image not found">
                          </div>
                          <p>There are lots of ways to generate leads. You can earn leads through search
                              results, paid ads, social media, and email campaigns. Each of tho se methods
                              is a great choice for lead generation, Proin faucibus nec mauris a sodales,
                              sed elementum mi tincidunt. Sed eget viverra egestas nisi in consequat.
                              Fusce sodales augue a accumsan. Cras sollicitudin, ipsum eget blandit
                              pulvinar. Integer tincidunt. Cras dapibus.</p>
                          <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                              accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab
                              illo inventore veritatis et quasi architecto beatae vitae dicta sunt,
                              explicabo.</p>
                      </div>
                      <p>There are lots of ways to generate leads. You can earn leads through search
                          results, paid ads, social media, and email campaigns. Each of those methods is a
                          great choice for lead generation, Proin faucibus nec mauris a sodales, sed
                          elementum mi tincidunt. Sed eget viverra egestas nisi in consequat. Fusce
                          sodales augue a accumsan. Cras sollicitudin, ipsum eget blandit pulvinar.
                          Integer tincidunt. Cras dapibus.</p>
                      <p class="mb-55">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                          accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo
                          inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
                      <div class="postbox__thumb-2 mb-30">
                          <img src="{{"/img/gallery/gallery-13.jpg" |relURL }}" alt="image not found">
                      </div>
                      <p class="mb-20">Etiam vitae leo et diam pellentesque porta. Sed eleifend ultricies
                          risus, vel rutrum erat commodo ut. Praesent finibus congue euismod. Nullam
                          scelerisque massa vel augue placerat, a tempor sem egestas. Curabitur placerat
                          finibus lacus.</p>
                      <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                          reprehenderit.</p>
                      <div class="sidebar__tag mb-35 mt-70">
                          <a href="blog.html">Agency</a>
                          <a href="blog.html">Marketing</a>
                          <a href="blog.html">IT Solutions</a>
                          <a href="blog.html">IT Solutions</a>
                          <a href="blog.html">IT Solutions</a>
                          <a href="blog.html">IT Solutions</a>
                      </div>
                      <div class="postbox__share-wrapper mb-60">
                          <div class="postbox__share-love">
                              <span><i class="flaticon-heart"></i></span>
                          </div>
                          <div class="postbox__social">
                              <a href="https://www.facebook.com/" target="_blank"><i
                                      class="fa-brands fa-facebook"></i></a>
                              <a href="https://www.twitter.com/" target="_blank"><i
                                      class="fa-brands fa-twitter"></i></a>
                              <a href="https://www.instagram.com/" target="_blank"><i
                                      class="fa-brands fa-instagram"></i></a>
                              <a href="https://www.youtube.com/" target="_blank"><i
                                      class="fa-brands fa-youtube"></i></a>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="col-xxl-4 col-xl-5 col-lg-5">
                  <div class="sidebar__wrapper">
                    <div class="sidebar__widget mb-50">
                        <h3 class="sidebar__widget-title mb-30">Diensten</h3>
                        <div class="sidebar__widget-content">
                            <ul>
                                <li><a href="blog.html"><span>Website laten bouwen</span>
                                        </a></li>
                                <li><a href="blog.html"><span>Webshop laten bouwen</span> </a>
                                </li>
                                <li><a href="blog.html"><span>Hoger in Google</span>
                                        </a></li>
                                <li><a href="blog.html"><span>Vindbaarheid</span></a>
                                </li>
                                <li><a href="blog.html"><span>Branding</span></a>
                                </li>
                                <li><a href="blog.html"><span>Google ads</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                      <div class="sidebar__widget mb-50">
                          <div class="sidebar__widget-content">
                              <div class="sidebar__search">
                                  <form action="#">
                                      <div class="sidebar__search-input">
                                          <input type="text" placeholder="Laat uw nummer achter...">
                                          <button type="submit">
                                              <i class="flaticon-telephone"></i>
                                          </button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>

                      <div class="sidebar__widget mb-45">
                      <div class="">
                        <h3 class="sidebar__widget-title">Direct contact</h3>
                        <form
                          action="https://formspree.io/f/mknlppgz"
                          method="POST"
                        >
                          <div class="row">
                            <div class="col-xxl-12">
                              <div class="contact-input">
                                <input
                                  type="text"
                                  placeholder="Je Naam*"
                                  name="naam"
                                />
                              </div>
                            </div>
                            <div class="col-xxl-12">
                              <div class="contact-input">
                                <input
                                  type="email"
                                  placeholder="Je E-Mail*"
                                  name="mail"
                                />
                              </div>
                            </div>
                            <div class="col-xxl-12">
                              <div class="contact-input">
                                <input
                                  type="tel"
                                  placeholder="Telefoon"
                                  name="tel"
                                />
                              </div>
                            </div>
                            <div class="col-xxl-12">
                              <div class="contact-input">
                                <input
                                  type="text"
                                  placeholder="Onderwerp"
                                  name="onderwerp"
                                />
                              </div>
                            </div>
                            <div class="col-xxl-12">
                              <div class="contact-input">
                                <textarea
                                  placeholder="Roept u maar"
                                  name="bericht"
                                ></textarea>
                              </div>
                            </div>
                            <div class="col-xxl-12">
                              <div class="postbox__comment-check mb-40">
                                <input
                                  class="e-check-input is-black"
                                  type="checkbox"
                                  id="c-check"
                                />
                                <label class="e-check-label" for="c-check"
                                  >Ik ga akkoord met de privacy-policy *</label
                                >
                              </div>
                            </div>
                            <div class="col-xxl-12">
                              <div class="contact-btn">
                                <button type="submit" class="input-btn">
                                  <span class="btn-text contact-btn-marin">Boem!</span
                                  ><span class="btn-icon"
                                    ><i class="flaticon-next"></i
                                  ></span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                      <div class="sidebar__widget">
                          <h3 class="sidebar__widget-title mb-30">Popular Tags</h3>
                          <div class="sidebar__widget-content">
                              <div class="sidebar__tag">
                                  <a href="blog.html">Agency</a>
                                  <a href="blog.html">Marketing</a>
                                  <a href="blog.html">IT Solutions</a>
                                  <a href="blog.html">Portfolio</a>
                                  <a href="blog.html">Art Design</a>
                                  <a href="blog.html">Education</a>
                                  <a href="blog.html">Data Science</a>
                                  <a href="blog.html">Machine Learning</a>
                                  <a href="blog.html">App</a>
                                  <a href="blog.html">Tips</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- postbox area end -->

</main>
{{end}}