{{ define "main" }}

               <!-- hero area start  -->
               <section class="hero-3-area p-relative fix">
                <div class="noise-wrapper">
                    <div class="noise"></div>
                </div>

                <div class="hero-3-area__bg area-absolute">
                </div>
                <div class="hero-3__shapes">
                    <img class="hero-3__shape-1" src="{{ "/img/shapes/circle-line.png" | relURL }}" alt="image not found">
                    <img class="hero-3__shape-2" src="{{ "/img/shapes/plane-flying.png" | relURL }}" alt="image not found">
                    <img class="hero-3__shape-3" src="{{ "/img/shapes/arrow-down-left.png" | relURL }}" alt="image not found">
                    
                </div>

                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-3__content p-relative">
                                    <h2 class="hero-3__title bd_banner__anim">
                                      Marketing
                                    </h2>
                                    <p class="hero-3__text p-text">
                                        Marketing is een essentieel onderdeel van elk succesvol bedrijf. Bij WebReaktor richten we ons op het maximaliseren van jouw online aanwezigheid en klantbetrokkenheid door middel van doeltreffende social media marketing, efficiënte e-mailmarketingcampagnes en creatieve videomarketing. Onze strategieën zijn ontworpen om jouw merk te versterken en je doelgroep effectief te bereiken, wat resulteert in meer verkeer en conversies
                                    </p>
                                    <div class="hero-3__btn btn_wrapper">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

            <!-- services area start  -->
            <section class="services-area-3 fix" id="services-area-3">
                <div class="services-area-3__bg area-absolute">
                    <img src="/img/bg/noise-2.png" alt="image not found">
                </div>
                <div class="area-shapes">
                    <img class="services-area-3__shape-1" src="{{ "/img/shapes/border-square.png" | relURL }}" alt="image not found">
                    <img class="services-area-3__shape-2" src="{{ "/img/shapes/circle-line.png" | relURL }}" alt="image not found">                    
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5 order-lg-2">
                            <div class="services-area-3-content section-spacing p-relative">
                                <div class="section__title-3-wrapper section__title-wrapper-services ">
                                    <div class="section__subtitle-3">
                                        <p class="section__subtitle-text">
                                            Wat wij doen
                                        </p>

                                    </div>
                                    <h2 class="section__title-main xlarge uppercase mb-45 title-anim">onze
                                        <span class="font-highlight tpl__theme-color">oplossingen</span>
                                    </h2>
                                </div>
                                <p class="mb-65">Onze marketingmix bij WebReaktor is een creatieve cocktail van social buzz, e-mailconnecties en pakkende video's. We vangen aandacht en bouwen relaties op een manier die traditionele benaderingen overstijgt. Jouw merkverhaal wordt niet alleen gehoord maar ook beleefd.
                                </p>
                                <div class="area-btn btn_wrapper">
                                    <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                        <span class="c-button__border"></span>
                                        <span class="c-button__text">Neem contact op</span>
                                    </a>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 order-lg-1">
                            <div class="services-wrapper-3 section-spacing p-relative">
                                <div class="services-wrapper-3__bg area-absolute bg-theme-3">
                                </div>
                                <div class="row g-5">
                                    <div class="col-xl-12">
                                        <div class="service-box-3 bd-one-by-one">
                                            <div class="service-box-3__content">
                                                <h4 class="service__title">
                                                    <a href="{{ "social-media-marketing-agency" | relURL }}">Social media marketing
                                                        <span class="icon-box"><i class="flaticon-next"></i></span>
                                                    </a>    
                                                </h4>
                                                <p>Bij WebReaktor blazen we leven in je merk op platforms als Facebook, Instagram en TikTok, waar we authentieke interacties creëren en volgers omzetten in fans.</p>
                                                <div class="area-btn">
                                                    <a href="{{ "social-media-marketing-agency" | relURL }}" class="text-btn btn-text">Meer over social media marketing</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="service-box-3 bd-one-by-one">
                                            <div class="service-box-3__content">
                                                <h4 class="service__title">
                                                    <a href="{{ "e-mail-marketing-bureau" | relURL }}">E-mail marketing
                                                        <span class="icon-box"><i class="flaticon-next"></i></span>
                                                    </a>
                                                    
                                                </h4>
                                                <p>We gebruiken e-mailmarketing om een directe, persoonlijke lijn met je doelgroep te openen, met boeiende content die klikt en converteert.</p>
                                                <div class="area-btn">
                                                    <a href="{{ "e-mail-marketing-bureau" | relURL }}" class="text-btn btn-text">Meer over e-mail marketing</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="service-box-3 bd-one-by-one">
                                            <div class="service-box-3__content">
                                                <h4 class="service__title">
                                                    <a href="{{ "videomarketing-bureau" | relURL }}">Videomarketing
                                                        <span class="icon-box"><i class="flaticon-next"></i></span>
                                                    </a>
                                                    
                                                </h4>
                                                <p>Onze videomarketing brengt je verhaal tot leven, van boeiende bedrijfsfilms tot pakkende productvideo's, die kijkers betrekken en activeren.</p>
                                                <div class="area-btn">
                                                    <a href="{{ "videomarketing-bureau" | relURL }}" class="text-btn btn-text">Meer over videomarketing</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>



                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- services area end  -->

                                <!-- title intro area -->
                                <section class="title-intro-area fix primary-white">
                                  <div class="container">
                                      <div class="title-intro-wrapper section-spacing">
                                          <div class="intro__title-wrapper">
                                              <h2 class="intro__title-inner folks-text">Let's Babbel</h2>
                                          </div>
                                          <div class="intro-brn">
                                            <a href="{{ "contact" | relURL }}" class="circle-btn is-green">
                                                <span class="icon-box"><i class="flaticon-next"></i></span>
                                                <img src="{{ "/img/icons/contact-btn-text.png" | relURL }}" alt="image not found" class="image-text">
                                            </a>
                                            
                                          </div>
                                      </div>
                                  </div>
                              </section>
                              <!-- title intro end -->
{{end}}