{{ define "main" }}

               <!-- hero area start  -->
               <section class="hero-3-area p-relative fix">
                <div class="noise-wrapper">
                    <div class="noise"></div>
                </div>

                <div class="hero-3-area__bg area-absolute">
                </div>
                <div class="hero-3__shapes">
                    <img class="hero-3__shape-1" src="{{ "/img/shapes/circle-line.png" | relURL }}" alt="circle icon">
                    <img class="hero-3__shape-2" src="{{ "/img/shapes/plane-flying.png" | relURL }}" alt="vliegtuig icon">
                    <img class="hero-3__shape-3" src="{{ "/img/shapes/arrow-down-left.png" | relURL }}" alt="pijl icon">
                    
                </div>

                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-3__content p-relative">
                                    <h1 class="hero-3__title bd_banner__anim">
                                      Vindbaarheid
                                    </h1>
                                    <p class="hero-3__text p-text">
                                        Verhoog je online aanwezigheid en trek meer bezoekers naar je website met onze gespecialiseerde diensten in vindbaarheid. Bij WebReaktor combineren we de kracht van SEO, SEA en effectieve linkbuilding strategieën om jouw website niet alleen zichtbaar, maar ook aantrekkelijk te maken voor je doelgroep. Of je nu streeft naar topposities in zoekmachines, een boost in webverkeer of een sterke online reputatie, wij zijn er om elk aspect van jouw digitale aanwezigheid te optimaliseren.
                                    </p>
                                    <div class="hero-3__btn btn_wrapper">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

            <!-- services area start  -->
            <section class="services-area-3 fix" id="services-area-3">
                <div class="services-area-3__bg area-absolute">
                    <img src="/img/bg/noise-2.png" alt="image not found">
                </div>
                <div class="area-shapes">
                    <img class="services-area-3__shape-1" src="{{ "/img/shapes/border-square.png" | relURL }}" alt="vierkant icon">
                    <img class="services-area-3__shape-2" src="{{ "/img/shapes/circle-line.png" | relURL }}" alt="cirkel icon">                    
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5 order-lg-2">
                            <div class="services-area-3-content section-spacing p-relative">
                                <div class="section__title-3-wrapper section__title-wrapper-services ">
                                    <div class="section__subtitle-3">
                                        <p class="section__subtitle-text">
                                            Wat wij doen
                                        </p>

                                    </div>
                                    <h2 class="section__title-main xlarge uppercase mb-45 title-anim">onze
                                        <span class="font-highlight tpl__theme-color">oplossingen</span>
                                    </h2>
                                </div>
                                <p class="mb-65">Ontketen het volledige potentieel van jouw online aanwezigheid met WebReaktor. Onze SEO, SEA en linkbuilding strategieën zijn tailor-made, ontworpen om jouw website bovenaan de zoekresultaten te krijgen en te houden. We combineren innovatie met bewezen tactieken om ervoor te zorgen dat jouw merk niet alleen vindbaar, maar ook onvergetelijk wordt.</p>
                                <div class="area-btn btn_wrapper">
                                    <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                        <span class="c-button__border"></span>
                                        <span class="c-button__text">Neem contact op</span>
                                    </a>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 order-lg-1">
                            <div class="services-wrapper-3 section-spacing p-relative">
                                <div class="services-wrapper-3__bg area-absolute">
                                </div>
                                <div class="row g-5">
                                    <div class="col-xl-12">
                                        <div class="service-box-3 bd-one-by-one">
                                            <div class="service-box-3__content">
                                                <h4 class="service__title">
                                                    <a href="{{ "zoekmachine-optimalisatie" | relURL }}">Zoekmachine optimalisatie (SEO)
                                                        <span class="icon-box"><i class="flaticon-next"></i></span>
                                                    </a>
                                                    
                                                </h4>
                                                <p>We optimaliseren je website zodat deze hoger scoort in zoekmachines, waardoor je zichtbaarheid en organisch verkeer toenemen.</p>
                                                <div class="area-btn">
                                                    <a href="{{ "zoekmachine-optimalisatie" | relURL }}" class="text-btn btn-text">Meer over zoekmachine optimalisatie</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="service-box-3 bd-one-by-one">
                                            <div class="service-box-3__content">
                                                <h4 class="service__title">
                                                    <a href="{{ "zoekmachine-advertenties" | relURL }}">Zoekmachine advertenties (SEA)<span
                                                            class="icon-box"><i
                                                                class="flaticon-next"></i></span></a>
                                                </h4>
                                                <p>Gerichte advertentiecampagnes in zoekmachines om jouw doelgroep snel en effectief te bereiken en direct meer verkeer en leads te genereren.</p>
                                                <div class="area-btn">
                                                    <a href="{{ "zoekmachine-advertenties" | relURL }}" class="text-btn btn-text">Meer over zoekmachine advertenties</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="service-box-3 bd-one-by-one">
                                            <div class="service-box-3__content">
                                                <h4 class="service__title">
                                                    <a href="{{ "linkbuilding-uitbesteden" | relURL }}">Linkbuilding<span
                                                            class="icon-box"><i
                                                                class="flaticon-next"></i></span></a>
                                                </h4>
                                                <p>Strategisch gekozen backlinks naar jouw website, versterken jouw online autoriteit en verbeteren de ranking in zoekmachine resultaten.</p>
                                                <div class="area-btn">
                                                    <a href="{{ "linkbuilding-uitbesteden" | relURL }}" class="text-btn btn-text">Meer over linkbuilding</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- services area end  -->

                                <!-- title intro area -->
                                {{ partial "letsBabbelWit.html" . }}
                              <!-- title intro end -->
{{end}}