{{ define "main" }}
<main>

               <!-- hero area start  -->
               <section class="hero-2-area p-relative fix">
                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row align-items-center">
                            <div class="col-xl-7">
                                <div class="hero-3__content p-relative">
                                  <div class="breadcrumb-menu mb-20">
                                    <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                        <ul class="trail-items">
                                            <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                  
                                        </ul>
                                    </nav>
                                </div>
                                    <h1 class="mb-50">
                                      Marketing bureau Geleen
                                    </h1>
                                    <p class="hero-3__text p-text">
                                        Welkom bij WebReaktor, jouw innovatieve partner in de wereld van marketing, genesteld in het hart van Geleen. In een stad bekend om zijn ondernemende geest en dynamische gemeenschap, begrijpen wij de kunst van lokale connecties en het bouwen van duurzame relaties. Ons team is hier om jouw merk te transformeren met creatieve en doelgerichte strategieën, waarbij we elke kans benutten die Geleen te bieden heeft. Samen zetten we de volgende stap naar jouw succes.
                                    </p>
                                    <div class="hero-3__btn btn_wrapper mb-30">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="page-title-thumb">
                                    <img src="{{ "/img/marketing-bureau/marketing-bureau1.jpg" | relURL }}" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg ">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/marketing-bureau/marketing-bureau-limburg.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Lokale flair in jouw marketing</h2>
                        <p class="p-text">In Geleen draait marketing om meer dan alleen bereik; het gaat om resonantie met de lokale cultuur en gemeenschap. Bij WebReaktor verrijken we jouw strategieën met een authentieke Geleense touch, waardoor jouw merk niet alleen opvalt, maar ook echt verbindt. Ontdek hoe lokale inzichten jouw aanwezigheid kunnen versterken en je dichter bij je publiek brengen.
                        </p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Versterk je merk in Geleen
                        </h2>
                        <p class="section-intro-paragraph xlarge p-text">In de levendige markt van Geleen is het essentieel om op te vallen en je publiek te betrekken. WebReaktor biedt gespecialiseerde diensten die jouw merk zullen versterken en je connectie met de lokale gemeenschap zullen verdiepen. Hier zijn drie manieren waarop we dit doen:
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/promotion.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Social media marketing</h3>
                            </div>
                            <p class="xlarge">Ontdek de kracht van sociale interactie. We gebruiken lokale trends en inzichten om jouw merk te verbinden met de Geleense gemeenschap. Onze strategieën zijn ontworpen om jouw boodschap te personaliseren en engagement op platforms zoals Facebook, Instagram en LinkedIn te stimuleren. <a href="/social-media-marketing-agency" class="kleur">Ontdek meer over onze social media marketing aanpak.</a>
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/email.png" | relURL }}">
                                <h3 class="service-branding-title">E-mail marketing</h3>
                            </div>
                            <p class="xlarge">Bereik de inbox van je lokale publiek met een persoonlijke touch. Onze e-mailmarketingcampagnes zijn op maat gemaakt om te resoneren met de Geleense bevolking, met content die informeert, engageert en converteert. <a href="/e-mail-marketing-bureau" class="kleur">Leer hoe onze e-mail marketing jou kan ondersteunen.</a></p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/online-video.png" | relURL }}">
                                <h3 class="service-branding-title">Videomarketing</h3>
                            </div>
                            <p class="xlarge">Breng je verhaal tot leven met de visuele flair van Geleen. Of het nu gaat om het vastleggen van de lokale cultuur of het tonen van je producten of diensten, onze videomarketingstrategieën zorgen voor een blijvende impact en een diepere merkverbinding met je doelgroep. <a href="/videomarketing-bureau" class="kleur">Verken de mogelijkheden van videomarketing voor jouw bedrijf.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/marketing-bureau/marketing-bureau5.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

      <!-- foto links text rechts begin, verschillende branches shortcode -->
      <section class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet-marin2">
                        <h2 class="p-text">Websites op maat</h2>
                        <p class="p-text">Bij WebReaktor vertalen we jouw unieke ideeën naar op maat gemaakte websites. Ons team zet zich in voor het creëren van visueel aantrekkelijke en functionele sites die jouw bedrijf perfect weerspiegelen.</p>
                        <p class="p-text">Ontdek hoe wij voor elke branche een op maat gemaakte, effectieve online aanwezigheid kunnen realiseren.</p>
                    </div>
    {{ partial "shortcode.html" . }}
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
  <img src="{{ "/img/website-laten-maken-limburg/website-laten-maken-limburg3.jpg" | relURL }}" alt="image not found">             
</div>
</div>
</div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin, stedenShortcode start -->
        <section
class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="service-page-title-contenet-marin">
                <h2 class="p-text">Waarom WebReaktor de juiste keuze is
                </h2>
                <p class="xlarge">Bij WebReaktor begrijpen we dat het kiezen van een marketingpartner een grote beslissing is. Je wilt iemand met ervaring, zeker, maar ook iemand die echt luistert en begrijpt wat jouw bedrijf uniek maakt. Dat is precies wat wij bieden. Met jarenlange ervaring in de branche hebben we de kneepjes van het vak geleerd, maar belangrijker nog, we weten dat geen twee bedrijven hetzelfde zijn. We zijn trots op onze persoonlijke aanpak; we nemen de tijd om jou en je ambities te leren kennen, zodat we strategieën kunnen creëren die echt passen bij jouw visie.
                </p>
                <p class="xlarge">En het gaat niet alleen om de strategieën. Het gaat om het bouwen van een relatie waarop je kunt vertrouwen. Bij WebReaktor vind je een toegewijd team dat net zo betrokken is bij het succes van jouw bedrijf als jij. We zijn hier niet alleen om te adviseren, maar om samen te werken, om samen te groeien en om samen successen te vieren.
                </p>
    {{ partial "marketingBureau.html" . }}
</div>
    <div class="button-item mt-50">
        <a href="{{ "contact" | relURL }}" class="border-btn">
            <span class="btn-text">Neem contact op</span>
            <span class="btn-icon"><i class="flaticon-next"></i></span>
        </a>                        
    </div>
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
        <img src="{{ "/img/marketing-bureau/marketing-bureau-social-media.jpg" | relURL }}" alt="image not found">
</div>
</div>
</div>
</section>

    <!-- approch area start -->
    {{ partial "marketingBureauStappenplan.html" . }}
    <!-- approch area end -->

    <!-- faq area start -->
    {{ partial "marketingBureauVragen.html" . }}
    <!-- faq area end -->

  <!-- title intro area -->
  {{ partial "letsBabbelZwart.html" . }}
<!-- title intro end -->
</main>
{{end}}