{{ define "main" }}
<main>

  <!-- page title area start -->
  <section class="page-title-area section-spacing-top pb-200 primary-bg p-relative adjust-header-space">
      <div class="container">
          <div class="row">
              <div class="col-xxl-9">
                  <div class="page-title-wrappper is-white">
                      <div class="breadcrumb-menu mb-20">
                          <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                              <ul class="trail-items">
                                  <a href="/"><li class="trail-item trail-begin"><span>Home</span></li></a>
                                  <a href="/lipomassage"><li class="trail-item"><span>Lipomassage</span></li></a>
                              </ul>
                          </nav>
                      </div>
                      <h1 class="page-title mb-35">Lipomassage</h1>
                      <p class="page-title-paragraph xlarge p-text">Bij WebReaktor hebben we de digitale aanwezigheid van Zautsen Kantoorinrichting getransformeerd. Ons werk omvatte een nieuwe website, SEO-optimalisatie, en een gebruiksvriendelijke webshop, waarmee Zautsen zijn unieke kantoorinrichtingen en bedrijfsmeubels effectief presenteert.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- page title area end -->

  <!-- case deetails area start -->
  <section class="case-details-area">
      <div class="container">
          <div class="row">
              <div class="col-xxl-12">
                  <div class="case-meta-wrapper mb-40">
                      <div class="case-meta-item">
                          <P><strong>Klant : </strong>Zautsen Kantoorinrichting</P>
                      </div>
                      <div class="case-meta-item">
                          <P><strong>Diensten : </strong>Website, Webshop, SEO</P>
                      </div>
                      <div class="case-meta-item">
                          <P><strong>Sector : </strong>Projectinrichting</P>
                      </div>
                      <div class="case-meta-item">
                          <P><strong>Website : </strong> <a class="case-btn" href="https://zautsenkantoorinrichting.nl/">zautsenkantoorinrichting.nl <span
                                      class="icon-box"><i class="flaticon-up-right"></i></span></a></P>
                      </div>
                  </div>
                  <div class="case-details-thumb-2">
                    <img src="{{ "img/projects/lipomassage/lipomassage-featured.png" | relURL }}" alt="Afbeelding niet gevonden">
                  </div>
                  <table class="customTable mt-105 mb-105">
                    <tr>
                      <th>Doelstellingen</th>
                      <th>Resultaat</th>
                    </tr>
                    <tr>
                      <td>Verbeteren van online zichtbaarheid</td>
                      <td>300% toename in Google zichtbaarheid</td>
                    </tr>
                    <tr>
                      <td>Verhogen van klantbetrokkenheid</td>
                      <td>Verdubbeling van interacties op sociale media</td>
                    </tr>
                    <tr>
                      <td>Versterken van merkidentiteit</td>
                      <td>Succesvolle rebranding en positieve klantfeedback</td>
                    </tr>
                    <tr>
                      <td>Optimaliseren van gebruikerservaring op de website</td>
                      <td>Verbeterde navigatie en 40% minder bounce rate</td>
                    </tr>
                    <tr>
                      <td>Genereren van leads via de website</td>
                      <td>25% toename in online aanvragen</td>
                    </tr>
                  </table>
                  <h2 class="case-subtitle mb-25"><span>
                          <svg width="26" height="26" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M3.23197 8L0 9.90086L2.38215 14.0991L5.616 12.2016L5.61782 16H10.3822L10.384 12.2016L13.6178 14.0991L16 9.90086L12.768 8L16 6.09914L13.6178 1.90086L10.384 3.79843L10.3822 0H5.61782L5.616 3.79843L2.38215 1.90086L0 6.09914L3.23197 8Z"
                                  fill="#14CF93" />
                          </svg>
                          
                      </span>De opdracht
                  </h2>
                  
                  <p class="mb-55">Twee jaar geleden lanceerde Zautsen Kantoorinrichting, een ambitieuze speler in de markt van bedrijfsmeubels en kantoorinrichting. Gezien de hevige concurrentie, was het essentieel om zich te onderscheiden. WebReaktor nam deze uitdaging aan en stelde een geheel nieuw marketingtraject voor. We startten met een rebranding van het merk, waarbij we de unieke identiteit van Zautsen accentueerden. Dit ging gepaard met de lancering van een nieuwe, uitgebreide website, ontworpen om zowel de zichtbaarheid als de gebruikerservaring te optimaliseren.
                  </p>
                  <p>Een website is echter slechts een middel; het ware doel is het genereren van leads en het versterken van de marktpositie. Hier kwam onze expertise in online marketingstrategieën om de hoek kijken. Ons plan was niet alleen op maat gemaakt voor Zautsen Kantoorinrichting, maar sloot ook naadloos aan op hun ambities en groeidoelstellingen. Door deze holistische aanpak hebben we Zautsen geholpen zich te onderscheiden in een competitieve markt en een solide basis te leggen voor toekomstige groei.
                  </p>


                </div>
            </div>
        </div>
                                  <!-- step area start -->
                <section class="step-area section-spacing">
                    <div class="container">
                        <h2 class="case-subtitle mb-25"><span>
                            <svg width="26" height="26" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M3.23197 8L0 9.90086L2.38215 14.0991L5.616 12.2016L5.61782 16H10.3822L10.384 12.2016L13.6178 14.0991L16 9.90086L12.768 8L16 6.09914L13.6178 1.90086L10.384 3.79843L10.3822 0H5.61782L5.616 3.79843L2.38215 1.90086L0 6.09914L3.23197 8Z"
                                    fill="#14CF93" />
                            </svg>
                        </span>Onze aanpak
                    </h2>
                        <div class="step-main-wrapper">
                            <div class="row counter-row g-5">
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
                                    <div class="step-item">
                                        <div class="step-content">
                                            <div class="step-content-heading">
                                                <h4 class="step-title">Analyse</h4>
                                                <div class="num__count"></div>
                                            </div>
                                            <p>Beoordeling van de concurrentieomgeving om inzicht te krijgen in de markt waarin Zautsen opereert.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
                                    <div class="step-item">
                                        <div class="step-content">
                                            <div class="step-content-heading">
                                                <h4 class="step-title">Trefwoorden</h4>
                                                <div class="num__count"></div>
                                            </div>
                                            <p>Uitvoeren van uitgebreid trefwoordenonderzoek om de SEO-strategie en content creatie te optimaliseren.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
                                    <div class="step-item">
                                        <div class="step-content">
                                            <div class="step-content-heading">
                                                <h4 class="step-title">Branding</h4>
                                                <div class="num__count"></div>
                                            </div>
                                            <p>Ontwikkelen van een unieke huisstijl die aansluit bij de waarden en visie van Zautsen Kantoorinrichting.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
                                    <div class="step-item">
                                        <div class="step-content">
                                            <div class="step-content-heading">
                                                <h4 class="step-title">SEO</h4>
                                                <div class="num__count"></div>
                                            </div>
                                            <p>Implementatie van zoekmachineoptimalisatie technieken om de zichtbaarheid en vindbaarheid van Zautsen online te verbeteren.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- step area end -->

                       <!-- foto rechts text links begin -->
        <section
        class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-50 grey-bg">
        <div class="container">
            <div class="row">
                <h2 class="case-subtitle mb-25"><span>
                    <svg width="26" height="26" viewBox="0 0 16 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M3.23197 8L0 9.90086L2.38215 14.0991L5.616 12.2016L5.61782 16H10.3822L10.384 12.2016L13.6178 14.0991L16 9.90086L12.768 8L16 6.09914L13.6178 1.90086L10.384 3.79843L10.3822 0H5.61782L5.616 3.79843L2.38215 1.90086L0 6.09914L3.23197 8Z"
                            fill="#14CF93" />
                    </svg>
                </span>De resultaten
            </h2>
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="service-page-title-contenet-marin">
                        <h3 class="p-text">Aanzienlijke groei in keyword zichtbaarheid in 6 maanden</h3>
                        <p class="xlarge">Binnen een periode van slechts zes maanden heeft WebReaktor een aanzienlijke verbetering bewerkstelligd in de keyword zichtbaarheid voor Zautsen Kantoorinrichting. Deze grafiek toont de meetbare en indrukwekkende toename in keywords, met een bereik van 1300 tot 1500. Dit resultaat onderstreept onze effectiviteit in SEO-optimalisatie en het vermogen om significante verbeteringen te realiseren in een relatief korte tijd.</p>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <img src="{{ "/img/projects/zautsen/zautsen-keywords.png" | relURL }}" alt="image not found">
                </div>
            </div>
        </div>
    </section>

         <!-- foto links text rechts begin -->
         <section
         class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
         <div class="container">
             <div class="row">
                 <div class="col-xxl-12">
                 </div>
             </div>
             <div class="row align-items-center">
                 <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                     <div class="service-page-title-contenet-marin2">
                         <h2 class="p-text">Topprestaties in Google Pagespeed</h2>
                         <p class="p-text">De website van Zautsen Kantoorinrichting onderscheidt zich door zijn uitmuntende snelheid en efficiëntie, zoals blijkt uit de indrukwekkende Google PageSpeed scores van 95, 90, 95, en een perfecte 100.</p>
                         <p class="p-text">Deze cijfers weerspiegelen de superieure kwaliteit van de website, met een focus op snelle laadtijden en optimale gebruikerservaring. De behaalde scores tonen de effectiviteit van onze nauwkeurige optimalisatietechnieken en ons vermogen om websites te leveren die niet alleen aan de verwachtingen voldoen, maar deze overtreffen.</p>
                     </div>
                 </div>
                 <div class="col-xxl-6 col-xl-6 col-lg-6">
                   <img src="{{ "/img/projects/zautsen/zautsen-pagespeed-2.png" | relURL }}" alt="image not found">             
                 </div>
             </div>
         </div>
     </section>
             <!-- foto links text rechts einde -->


           <!-- foto rechts text links begin, stedenShortcode start -->
           <section
           class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
           <div class="container">
               <div class="row">
                   <div class="col-xxl-12">
                   </div>
               </div>
               <div class="row align-items-center">
                   <div class="col-xxl-6 col-xl-6 col-lg-6">
                       <div class="service-page-title-contenet-marin">
                           <h3 class="p-text">Nummer 1 posities op google voor keynkeywords</h3>
                           <p class="xlarge">Zautsen Kantoorinrichting heeft een aanzienlijke online aanwezigheid bereikt, vooral voor cruciale zoektermen binnen hun branche. Onze SEO-strategieën hebben ertoe geleid dat ze nu op de eerste positie staan in zoekresultaten voor sleutelwoorden als 'kantoormeubilair huren Roermond', 'Weert', 'Heerlen', 'Limburg', 'Venlo', 'Sittard' en 'Kantoorinrichting Limburg'.</p>
                           <p class="xlarge">Deze topposities in zoekmachines zijn een direct resultaat van onze doelgerichte en effectieve optimalisatie. Het succes in deze specifieke zoekopdrachten benadrukt onze vaardigheid in het nauwkeurig afstemmen van SEO-strategieën op de unieke behoeften en doelen van onze klanten.</p>
           </div>
               <div class="button-item mt-50">
                   <a href="{{ "contact" | relURL }}" class="border-btn">
                       <span class="btn-text">Neem contact op</span>
                       <span class="btn-icon"><i class="flaticon-next"></i></span>
                   </a>                        
               </div>
           </div>
           <div class="col-xxl-6 col-xl-6 col-lg-6">
            <img class="mb-50" src="{{ "/img/projects/zautsen/zautsen-rankings-2.png" | relURL }}" alt="image not found">
            <img src="{{ "/img/projects/zautsen/zautsen-google.png" | relURL }}" alt="image not found">
           </div>
           </div>
           
           </div>
           </section>

      <div class="container">
          <div class="row">
              <div class="col-xxl-12">


            

                
                <!--
                                   Design area start -->
                                  <!--<section class="design-area">
                                      <h4 class="case-subtitle"><span>
                                              <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                  xmlns="http://www.w3.org/2000/svg">
                                                  <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M3.23197 8L0 9.90086L2.38215 14.0991L5.616 12.2016L5.61782 16H10.3822L10.384 12.2016L13.6178 14.0991L16 9.90086L12.768 8L16 6.09914L13.6178 1.90086L10.384 3.79843L10.3822 0H5.61782L5.616 3.79843L2.38215 1.90086L0 6.09914L3.23197 8Z"
                                                      fill="#14CF93"></path>
                                              </svg>
                                          </span>Visual design
                                      </h4>
                                      <div class="design-humb-grid">
                                        <div class="design-thumb">
                                            <img src="{{ "img/projects/zautsen/logo-website-zautsen.png" | relURL }}" alt="Afbeelding niet gevonden">
                                            <img src="{{ "img/projects/zautsen/logo-website-zautsen.png" | relURL }}" alt="Afbeelding niet gevonden">
                                        </div>
                                        <div class="design-thumb">
                                            <img src="{{ "img/projects/project-18.jpg" | relURL }}" alt="Afbeelding niet gevonden">
                                            <img src="{{ "img/projects/zautsen/logo-website-zautsen.png" | relURL }}" alt="Afbeelding niet gevonden">
                                        </div>
                                        <div class="design-thumb">
                                            <img src="{{ "img/projects/project-20.jpg" | relURL }}" alt="Afbeelding niet gevonden">
                                            <img src="{{ "img/projects/zautsen/zautsen3.jpg" | relURL }}" alt="Afbeelding niet gevonden">
                                        </div>
                                        <div class="design-thumb">
                                            <img src="{{ "img/projects/project-19.jpg" | relURL }}" alt="Afbeelding niet gevonden">
                                            <img src="{{ "img/projects/zautsen/zautsen5.webp" | relURL }}" alt="Afbeelding niet gevonden">
                                        </div>
                                    </div>
                                    
                                  </section>-->
                                  <!-- Design area end -->
                              </div>
                          </div>
                      </div>
                  </section>
                  <!-- case deetails area end -->

  <!--  case quote area start -->
  <section class="case-quote-area pt-65 pb-70">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xxl-8 col-xl-12">
                  <div class="blockquote-wrapper">
                      <blockquote>
                          <div class="case-quote-icon">
                              <svg width="64" height="64" viewBox="0 0 64 64" fill="none"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                      d="M50.629 26.2256C50.5001 24.8321 50.5987 21.044 54.2276 15.7764C54.5021 15.3789 54.4523 14.8428 54.1114 14.502C52.6319 13.0225 51.7159 12.0889 51.0734 11.4356C50.2286 10.5742 49.8429 10.1817 49.2784 9.66992C48.9015 9.33112 48.3312 9.32522 47.9503 9.65732C41.6251 15.1612 34.5997 26.5342 35.6163 40.4678C36.212 48.6494 42.1798 54.5879 49.8058 54.5879C57.6319 54.5879 63.9991 48.2217 63.9991 40.3955C63.9991 32.8457 58.0734 26.6543 50.629 26.2256ZM49.8058 52.5879C43.2569 52.5879 38.129 47.4297 37.6105 40.3233C37.6105 40.3233 37.6105 40.3233 37.6105 40.3223C36.4669 24.6514 45.7823 14.4727 48.5968 11.7774C48.8712 12.0479 49.1847 12.3662 49.6466 12.8369C50.2032 13.4033 50.965 14.1787 52.1173 15.335C47.712 22.1221 48.5431 26.958 48.9073 27.6514C49.0802 27.9805 49.4347 28.2022 49.8058 28.2022C56.5294 28.2022 61.9991 33.6719 61.9991 40.3955C61.9991 47.1182 56.5294 52.5879 49.8058 52.5879Z"
                                      fill="#A5A5A5" />
                                  <path
                                      d="M15.113 26.2256C14.9831 24.836 15.0788 21.0508 18.7116 15.7764C18.9851 15.3789 18.9362 14.8428 18.5954 14.502C17.1188 13.0254 16.2038 12.0928 15.5622 11.4395C14.7146 10.5762 14.3278 10.1826 13.7634 9.66992C13.3864 9.33112 12.8161 9.32622 12.4353 9.65632C6.11013 15.1602 -0.916268 26.5313 0.098332 40.4678V40.4688C0.696032 48.6494 6.66473 54.5879 14.2907 54.5879C22.1169 54.5879 28.4841 48.2217 28.4841 40.3955C28.4841 32.8448 22.5583 26.6524 15.113 26.2256ZM14.2907 52.5879C7.74293 52.5879 2.61203 47.4297 2.09253 40.3223V40.3233C0.951932 24.6485 10.2673 14.4717 13.0817 11.7774C13.3571 12.0479 13.6716 12.3682 14.1345 12.8399C14.6901 13.4063 15.4509 14.1807 16.6013 15.335C12.196 22.1231 13.0271 26.958 13.3913 27.6504C13.5642 27.9795 13.9196 28.2022 14.2907 28.2022C21.0144 28.2022 26.4841 33.6719 26.4841 40.3955C26.4841 47.1182 21.0144 52.5879 14.2907 52.5879Z"
                                      fill="#A5A5A5" />
                              </svg>
                          </div>
                          <h3 class="case-quite-title">
                              Ben super tevreden met de samenwerking met WebReaktor. Ze hebben een prachtige website voor ons gemaakt en zijn altijd bereikbaar voor vragen en advies. Ik kan ze zeker aanraden!
                          </h3>
                          <div class="case-quote-author">
                              <span class="name">Dennis Zautsen</span>
                              <span class="title">Zautsen Kantoorinrichting</span>
                          </div>
                      </blockquote>
                  </div>
              </div>
          </div>
          
      </div>

  </section>
  <!--  case quote area end -->

  <!-- 
                    <section class="faq-area pt-100 pb-120">
                        <div class="container tp-accordion-fix">
                            <div class="section__title-wrapper tpl__item-center mb-80">
                                <h2 class="section__title-inner title-anim">FAQ on brand services</h2>
                            </div>
                            <div class="choose-accordion mb-0">
                                <div class="accordion" id="accordionExample-st-2">
                                    <div class="row g-5">
                                        <div class="col-lg-6">
                                            <div class="accordion-item mb-30">
                                                <h2 class="accordion-header" id="headingOne-st-2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapseOne-st-2"
                                                        aria-expanded="false"
                                                        aria-controls="collapseOne-st-2">
                                                        How much do you charge for branding?
                                                    </button>
                                                </h2>
                                                <div id="collapseOne-st-2"
                                                    class="accordion-collapse collapse"
                                                    aria-labelledby="headingOne-st-2"
                                                    data-bs-parent="#accordionExample-st-2">
                                                    <div class="accordion-body">
                                                        <div class="capabilities-list">
                                                            <div class="choose-accordion-content">
                                                                <p>Axil is data-driven and
                                                                    performance-focused, paving the way for
                                                                    us to charge your business forward and
                                                                    accelerate your growth.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item mb-30">
                                                <h2 class="accordion-header" id="headingTwo-st-2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapseTwo-st-2"
                                                        aria-expanded="false"
                                                        aria-controls="collapseTwo-st-2">
                                                        Can you design only a logo?
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo-st-2"
                                                    class="accordion-collapse collapse"
                                                    aria-labelledby="headingTwo-st-2"
                                                    data-bs-parent="#accordionExample-st-2">
                                                    <div class="accordion-body">
                                                        <div class="capabilities-list">
                                                            <div class="choose-accordion-content">
                                                                <p>Axil is data-driven and
                                                                    performance-focused, paving
                                                                    the way
                                                                    for us to charge your business forward
                                                                    and
                                                                    accelerate your
                                                                    growth.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingThree-st-2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapseThree-st-2"
                                                        aria-expanded="false"
                                                        aria-controls="collapseThree-st-2">
                                                        How long do projects take?
                                                    </button>
                                                </h2>
                                                <div id="collapseThree-st-2"
                                                    class="accordion-collapse collapse"
                                                    aria-labelledby="headingThree-st-2"
                                                    data-bs-parent="#accordionExample-st-2">
                                                    <div class="accordion-body">
                                                        <div class="capabilities-list">
                                                            <div class="choose-accordion-content">
                                                                <p>Axil is data-driven and
                                                                    performance-focused, paving
                                                                    the way
                                                                    for us to charge your business forward
                                                                    and
                                                                    accelerate your
                                                                    growth.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="accordion-item mb-30">
                                                <h2 class="accordion-header" id="headingFour-st-2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapseFour-st-2"
                                                        aria-expanded="false"
                                                        aria-controls="collapseFour-st-2">
                                                        Why should I work with an agency over a freelancer?
                                                    </button>
                                                </h2>
                                                <div id="collapseFour-st-2"
                                                    class="accordion-collapse collapse"
                                                    aria-labelledby="headingFour-st-2"
                                                    data-bs-parent="#accordionExample-st-2">
                                                    <div class="accordion-body">
                                                        <div class="capabilities-list">
                                                            <div class="choose-accordion-content">
                                                                <p>Axil is data-driven and
                                                                    performance-focused, paving
                                                                    the way
                                                                    for us to charge your business forward
                                                                    and
                                                                    accelerate your
                                                                    growth.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item mb-30">
                                                <h2 class="accordion-header" id="headingFive-st-2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapseFive-st-2"
                                                        aria-expanded="false"
                                                        aria-controls="collapseFive-st-2">
                                                        What is your process like?
                                                    </button>
                                                </h2>
                                                <div id="collapseFive-st-2"
                                                    class="accordion-collapse collapse"
                                                    aria-labelledby="headingFive-st-2"
                                                    data-bs-parent="#accordionExample-st-2">
                                                    <div class="accordion-body">
                                                        <div class="capabilities-list">
                                                            <div class="choose-accordion-content">
                                                                <p>Axil is data-driven and
                                                                    performance-focused, paving
                                                                    the way
                                                                    for us to charge your business forward
                                                                    and
                                                                    accelerate your
                                                                    growth.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingSix-st-2">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapseSeven-st-2"
                                                        aria-expanded="false"
                                                        aria-controls="collapseSeven-st-2">
                                                        Will I own my branding assets?
                                                    </button>
                                                </h2>
                                                <div id="collapseSeven-st-2"
                                                    class="accordion-collapse collapse show"
                                                    aria-labelledby="headingSix-st-2"
                                                    data-bs-parent="#accordionExample-st-2">
                                                    <div class="accordion-body">
                                                        <div class="capabilities-list">
                                                            <div class="choose-accordion-content">
                                                                <p>Axil is data-driven and
                                                                    performance-focused, paving
                                                                    the way
                                                                    for us to charge your business forward
                                                                    and
                                                                    accelerate your
                                                                    growth.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                -->

  <!-- title intro area -->
  <section class="title-intro-area">
      <div class="container">
          <div class="title-intro-wrapper is-center section-spacing">
              <div class="intro__title-wrapper">
                  <h2 class="intro__title-inner folks-text">Let's babbel</h2>
              </div>
              <div class="intro-brn">
                <a href="{{ "contact" | relURL }}" class="circle-btn is-green">
                      <span class="icon-box"><i class="flaticon-next"></i></span>
                      <img src="{{ "img/icons/contact-btn-text.png" | relURL }}" alt="Afbeelding niet gevonden" class="image-text">
                  </a>
              </div>
          </div>
      </div>
  </section>
  <!-- title intro end -->

</main>
{{end}}