{{ define "main" }}
<main>

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg adjust-header-space">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="page-title-wrappper is-white mb-50">
                        <div class="breadcrumb-menu mb-20">
                            <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                <ul class="trail-items">
                                    <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>                                 
                                </ul>
                            </nav>
                        </div>
                        <h1 class="page-title">Videomarketing</h1>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/videomarketing/videomarketing.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Maak een onvergetelijke indruk</h2>
                        <p class="p-text">Bij WebReaktor geloven we dat video de krachtigste manier is om uw merkverhaal te vertellen. Of het nu gaat om het vastleggen van de kern van uw bedrijf in een bedrijfsfilm, het stimuleren van betrokkenheid met een pakkende commercial, het demonstreren van de waarde van uw producten, of het verkennen van nieuwe perspectieven met drone-video’s, wij brengen uw visie tot leven.</p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Video's die vertellen</h2>
                        <p class="section-intro-paragraph xlarge p-text">Bij WebReaktor transformeren we uw ideeën in visuele verhalen die resoneren. Of u nu uw merkverhaal wilt delen via een bedrijfsvideo, de unieke kenmerken van uw producten wilt benadrukken, of een boeiende commercial wilt creëren, wij hebben de expertise om dit te realiseren.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/social-media-marketing/facebook.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Bedrijfsvideo's</h3>
                            </div>
                            <p class="xlarge">Onze bedrijfsvideo's zijn meer dan alleen een visuele presentatie; ze zijn een venster in de ziel van uw onderneming. Bij WebReaktor creëren we video's die uw bedrijfscultuur, ethos en unieke verkooppunten uitlichten, waardoor uw merk een persoonlijke connectie maakt met uw doelgroep.
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/social-media-marketing/instagram.png" | relURL }}">
                                <h3 class="service-branding-title">Productvideo's</h3>
                            </div>
                            <p class="xlarge">Productvideo's zetten uw goederen in de schijnwerpers. Wij leggen de functies, voordelen en het gebruik van uw producten vast op een manier die informatief en visueel aantrekkelijk is. Deze video's zijn ontworpen om de aandacht te trekken en klanten te informeren, waardoor de kans op conversies toeneemt.</p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/social-media-marketing/tik-tok.png" | relURL }}">
                                <h3 class="service-branding-title">Commercials & Promotiefilms</h3>
                            </div>
                            <p class="xlarge">Commercials en promotiefilms bij WebReaktor zijn meer dan alleen reclame; het zijn boeiende verhalen die uw merkboodschap overbrengen. We combineren creatieve concepten met hoogwaardige productietechnieken om commercials te maken die opvallen en een blijvende indruk achterlaten bij uw doelgroep.
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/videomarketing/videomarketing1.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

        <!-- foto links text rechts begin -->
    <section
    class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                <div class="service-page-title-contenet-marin2">
                    <h2 class="p-text">Drone video laten maken, vlieg hoog, val op</h2>
                    <p class="p-text">Stijg boven het gewone uit met onze drone video's. WebReaktor tilt uw visuele content naar een hoger niveau met adembenemende luchtopnamen. Of het nu gaat om het vastleggen van uitgestrekte landschappen of het toevoegen van een dynamische dimensie aan uw videoprojecten, onze drone video's zorgen voor een ongeëvenaarde impact en een fris perspectief.</p>
                </div>
                <div class="button-item mt-50 mb-50">
                    <a href="{{ "contact" | relURL }}" class="border-btn3">
                        <span class="btn-text">Neem contact op</span>
                        <span class="btn-icon"><i class="flaticon-next"></i></span>
                    </a>                    
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <video controls muted>
                <source src="{{ "/img/videomarketing/drone-video-laten-maken.mp4" | relURL }}" type="video/mp4">
              </video>              
            </div>
        </div>
    </div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin -->
        <section
        class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="service-page-title-contenet-marin">
                        <h3 class="p-text">Versterk je merk met boeiende videocontent</h3>
                        <p class="xlarge">In het huidige digitale tijdperk is videocontent koning. Bij WebReaktor specialiseren we ons in het creëren van video's die niet alleen gezien, maar ook onthouden worden. Van concept tot eindproduct, onze focus ligt op het produceren van content die een verhaal vertelt, emoties oproept, en uw merkidentiteit versterkt.</p>
                        <p class="xlarge">Met onze expertise in videomarketing helpen we uw bedrijf om op te vallen in een overvolle markt en een diepere connectie met uw doelgroep te realiseren.</p>
                    </div>
                    <div class="button-item mt-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <img src="{{ "/img/videomarketing/videomarketing2.jpg" | relURL }}" alt="image not found">
                </div>
            </div>
        </div>
    </section>

    <!-- approch area start -->
    <section class="approch-area section-spacing">
        <div class="container">
            <div class="row align-items-center gy-50">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="approch-thumb">
                        <img src="{{ "/img/webshop-laten-maken/webshop-laten-maken8.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="section__title-wrapper mb-50">
                        <h2 class="section__title-inner title-anim">Ons stappenplan</h2>
                    </div>
                    <div class="approch-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="approch-1-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-1" type="button" role="tab"
                                    aria-controls="approch-1" aria-selected="true">1. Concept</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-2-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-2" type="button" role="tab"
                                    aria-controls="approch-2" aria-selected="false">2. Productie</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-3-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-3" type="button" role="tab"
                                    aria-controls="approch-3" aria-selected="false">3. Bewerking</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-4-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-4" type="button" role="tab"
                                    aria-controls="approch-4" aria-selected="false">4. Distributie</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="approch-1" role="tabpanel"
                                aria-labelledby="approch-1-tab">
                                <div class="approch-content">
                                    <p class="xlarge">We beginnen met een brainstormsessie om uw ideeën te vertalen naar een creatief en haalbaar concept. Deze fase omvat het uitwerken van het script, het bepalen van de visuele stijl en het plannen van de productie. Ons doel is om een heldere en aantrekkelijke verhaallijn te creëren die uw boodschap effectief overbrengt.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-2" role="tabpanel"
                                aria-labelledby="approch-2-tab">
                                <div class="approch-content">
                                    <p class="xlarge">De productiefase brengt het concept tot leven. Dit omvat alles van locatiescouting en casting tot de daadwerkelijke opnames. Ons team gebruikt de nieuwste apparatuur en technieken om hoogwaardig beeldmateriaal te garanderen. We werken nauw samen met u om ervoor te zorgen dat elk aspect van de video uw visie weerspiegelt.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-3" role="tabpanel"
                                aria-labelledby="approch-3-tab">
                                <div class="approch-content">
                                    <p class="xlarge">De bewerkingsfase is waar uw verhaal samenkomt. Onze ervaren editors combineren de beste takes, voegen overgangen toe, en passen kleurcorrectie en geluidsdesign toe om de kwaliteit en impact van uw video te maximaliseren. We zorgen ervoor dat de uiteindelijke versie niet alleen visueel aantrekkelijk is, maar ook in lijn met uw merkboodschap.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-4" role="tabpanel"
                                aria-labelledby="approch-4-tab">
                                <div class="approch-content">
                                    <p class="xlarge">De laatste stap is de distributie van uw video. We helpen u de video te lanceren op de juiste platforms - van sociale media tot uw website - om een maximaal bereik en betrokkenheid te garanderen. Ons team adviseert ook over SEO en andere strategieën om ervoor te zorgen dat uw video door uw doelpubliek wordt gezien en gewaardeerd.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- approch area end -->

    <!-- faq area start -->
    <section class="faq-area section-spacing">
        <div class="container">
            <div class="section__title-wrapper tpl__item-center mb-60">
                <h2 class="section__title-inner title-anim">Veelgestelde vragen</h2>
            </div>
            <div class="choose-accordion mb-0 tp-accordion-fix">
                <div class="accordion" id="accordionExample-st-2">
                    <div class="row g-5">
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingOne-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne-st-2"
                                        aria-expanded="false" aria-controls="collapseOne-st-2">
                                        Wat kost een videoproductie?
                                    </button>
                                </h2>
                                <div id="collapseOne-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De kosten van een videoproductie variëren afhankelijk van de complexiteit, duur, en specifieke vereisten van uw project. Bij WebReaktor bieden we transparante offertes en werken we samen met u om een productie te creëren die binnen uw budget past.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingTwo-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo-st-2"
                                        aria-expanded="false" aria-controls="collapseTwo-st-2">
                                        Hoe lang duurt het om een video te maken?
                                    </button>
                                </h2>
                                <div id="collapseTwo-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De tijdsduur van een videoproject hangt af van verschillende factoren zoals de lengte van de video, het type content en de nabewerkingsvereisten. Over het algemeen kan een standaardproductie enkele weken tot een maand in beslag nemen.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree-st-2"
                                        aria-expanded="false" aria-controls="collapseThree-st-2">
                                        Kan ik betrokken zijn bij het productieproces?
                                    </button>
                                </h2>
                                <div id="collapseThree-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Absoluut. Wij moedigen klantbetrokkenheid aan tijdens het hele proces om ervoor te zorgen dat het eindproduct uw visie en doelstellingen weerspiegelt.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFour-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour-st-2"
                                        aria-expanded="false" aria-controls="collapseFour-st-2">
                                        Welke soorten video's kan WebReaktor produceren?
                                    </button>
                                </h2>
                                <div id="collapseFour-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>We zijn gespecialiseerd in een breed scala aan videoproducties, waaronder bedrijfsvideo's, productvideo's, commercials, promotiefilms en drone video's. Elk project wordt op maat gemaakt om aan uw specifieke behoeften te voldoen.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFive-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive-st-2"
                                        aria-expanded="false" aria-controls="collapseFive-st-2">
                                        Hoe zorgt WebReaktor voor de distributie van de video?
                                    </button>
                                </h2>
                                <div id="collapseFive-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>We helpen niet alleen bij de productie van uw video, maar bieden ook ondersteuning bij de distributie. Dit omvat het kiezen van de juiste platforms en strategieën om ervoor te zorgen dat uw video de gewenste doelgroep bereikt en maximale impact heeft.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven-st-2"
                                        aria-expanded="false" aria-controls="collapseSeven-st-2">
                                        Hoe meet WebReaktor het succes van een videocampagne?
                                    </button>
                                </h2>
                                <div id="collapseSeven-st-2" class="accordion-collapse collapse show"
                                    aria-labelledby="headingSix-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>We gebruiken verschillende metrics, waaronder kijkcijfers, betrokkenheid, en conversieratio's, om het succes van uw videocampagne te evalueren. We bieden gedetailleerde rapporten en analyses om de impact van uw video op uw marketingdoelstellingen te begrijpen.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq area end -->

  <!-- title intro area -->
  {{ partial "letsBabbelZwart.html" . }}
<!-- title intro end -->
</main>
{{end}}