{{ define "main" }}

               <!-- hero area start  -->
               <section class="hero-3-area p-relative fix">
                <div class="noise-wrapper">
                    <div class="noise"></div>
                </div>

                <div class="hero-3-area__bg area-absolute">
                </div>
                <div class="hero-3__shapes">
                    <img class="hero-3__shape-1" src="{{ "/img/shapes/circle-line.png" | relURL }}" alt="circle icon">
                    <img class="hero-3__shape-2" src="{{ "/img/shapes/plane-flying.png" | relURL }}" alt="vliegtuig icon">
                    <img class="hero-3__shape-3" src="{{ "/img/shapes/arrow-down-left.png" | relURL }}" alt="pijl icon">
                    
                </div>

                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-3__content p-relative">
                                    <h1 class="hero-3__title bd_banner__anim">
                                      Branding
                                    </h1>
                                    <p class="hero-3__text p-text">
                                        Bij WebReaktor geven we jouw merk een onvergetelijke identiteit. Of het nu gaat om een stijlvolle huisstijl of een iconisch logo, we zorgen ervoor dat jouw merk zich onderscheidt en een blijvende indruk achterlaat. Met onze expertise in huisstijlontwerp en logo-creatie brengen we de essentie van jouw bedrijf visueel tot leven.
                                    </p>
                                    <div class="hero-3__btn btn_wrapper">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

            <!-- services area start  -->
            <section class="services-area-3 fix" id="services-area-3">
                <div class="services-area-3__bg area-absolute">
                    <img src="/img/bg/noise-2.png" alt="pixels">
                </div>
                <div class="area-shapes">
                    <img class="services-area-3__shape-1" src="{{ "/img/shapes/border-square.png" | relURL }}" alt="vierkant icon">
                    <img class="services-area-3__shape-2" src="{{ "/img/shapes/circle-line.png" | relURL }}" alt="cirkel icon">                    
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5 order-lg-2">
                            <div class="services-area-3-content section-spacing p-relative">
                                <div class="section__title-3-wrapper section__title-wrapper-services ">
                                    <div class="section__subtitle-3">
                                        <p class="section__subtitle-text">
                                            Wat wij doen
                                        </p>

                                    </div>
                                    <h2 class="section__title-main xlarge uppercase mb-45 title-anim">onze
                                        <span class="font-highlight tpl__theme-color">oplossingen</span>
                                    </h2>
                                </div>
                                <p class="mb-65">
                                    Ontdek hoe WebReaktor jouw merk kan versterken met aangepaste huisstijlen en unieke logo-ontwerpen. We brengen creativiteit en strategie samen om jouw merkidentiteit te transformeren en te versterken, zodat je eruit springt in de markt.</p>
                                <div class="area-btn btn_wrapper">
                                    <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                        <span class="c-button__border"></span>
                                        <span class="c-button__text">Neem contact op</span>
                                    </a>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 order-lg-1">
                            <div class="services-wrapper-3 section-spacing p-relative">
                                <div class="services-wrapper-3__bg area-absolute">
                                </div>
                                <div class="row g-5">
                                    <div class="col-xl-12">
                                        <div class="service-box-3 bd-one-by-one">
                                            <div class="service-box-3__content">
                                                <h4 class="service__title">
                                                    <a href="{{ "huisstijl-laten-ontwerpen" | relURL }}">Huisstijl laten ontwerpen
                                                        <span class="icon-box"><i class="flaticon-next"></i></span>
                                                    </a>
                                                    
                                                </h4>
                                                <p>Wij creëren huisstijlen die jouw merkverhaal tot leven brengen. Van kleurenschema's tot lettertypen, we zorgen ervoor dat jouw visuele identiteit opvalt en blijft hangen.</p>
                                                <div class="area-btn">
                                                    <a href="{{ "huisstijl-laten-ontwerpen" | relURL }}" class="text-btn btn-text">Meer over huisstijl laten ontwerpen</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="service-box-3 bd-one-by-one">
                                            <div class="service-box-3__content">
                                                <h4 class="service__title">
                                                    <a href="{{ "logo-laten-maken" | relURL }}">Logo laten maken
                                                        <span class="icon-box"><i class="flaticon-next"></i></span>
                                                    </a>
                                                    
                                                </h4>
                                                <p>Onze ontwerpers smeden unieke logo's die jouw merk herkenbaar maken. Elk element wordt zorgvuldig gekozen om jouw identiteit te vertegenwoordigen en een blijvende indruk achter te laten.</p>
                                                <div class="area-btn">
                                                    <a href="{{ "logo-laten-maken" | relURL }}" class="text-btn btn-text">Meer over logo laten maken</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>



                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- services area end  -->

                                <!-- title intro area -->
                                {{ partial "letsBabbelWit.html" . }}
                              <!-- title intro end -->
{{end}}