{{ define "main" }}
<main>

  <!-- history area start -->
  <section class="history-area fix p-relative section-spacing ">
    <div class="history-thumbs">
      <div class="history-thumb-1">
          <img src="{{ "/img/over-ons/webreaktor5.jpg" | relURL }}" alt="Image">
      </div>
      <div class="history-thumb-2">
          <img src="{{ "/img/over-ons/webreaktor2.jpg" | relURL }}" alt="Image">
      </div>
  </div>
  
      </div>
      <div class="container">
          <div class="row">
              <div class="col-xxl-12">
                  <div class="section__title-wrapper tpl__item-center section__title-wrapper-history">
                      <span class="section__inner-subtitle">Our History</span>
                      <h2 class="section__title-inner title-anim">It all began in . . .</h2>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-xxl-6 col-xl-6 col-lg-8">
                  <div class="history-content p-relative z-index-1 text-center">
                      <h5>Milestone 01</h5>
                      <h2>198<span class="highlight">8</span></h2>
                      <p>Lift is a full-service, award-winning digital agency with expertise in brand &
                          digital strategy, design, and user experience At vero eos et accusamus et iusto
                          odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                          corrupti cupiditate non provident.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xxl-12">
                  <div class="history-thumb-3">
                    <img src="{{ "/img/over-ons/webreaktor4.jpg" | relURL }}" alt="Image">

                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- history area end -->

                  <!-- team area start -->
                  <section class="team-area primary-bg section-spacing-top">
                      <div class="container">
                          <div class="section__title-wrapper is-white tpl__item-center mb-60">
                              <h2 class="section__title-inner title-anim">Ontmoet ons team</h2>
                          </div>
                          <div class="row">
                              <div class="col-xxl-12">
                                <div class="team-item-2-grid">
                                  <div class="team-item-2">
                                      <div class="team-thmb-2">
                                          <a href="#">
                                              <img src="{{ "/img/team/team-1.jpg" | relURL }}" alt="Team Member">
                                          </a>
                                      </div>
                                      <div class="team-info-2">
                                          <h3><a href="team-details.html">Boris Simic</a></h3>
                                          <span>Co-Founder</span>
                                      </div>
                                  </div>
                                  <div class="team-item-2 active">
                                      <div class="team-thmb-2">
                                          <a href="#">
                                              <img src="{{ "/img/team/team-2.jpg" | relURL }}" alt="Team Member">
                                          </a>
                                      </div>
                                      <div class="team-info-2">
                                          <h3><a href="team-details.html">Jan Kaats</a></h3>
                                          <span>Founder</span>
                                      </div>
                                  </div>
                                  <div class="team-item-2">
                                      <div class="team-thmb-2">
                                          <a href="#">
                                              <img src="{{ "/img/team/team-4.jpg" | relURL }}" alt="Team Member">
                                          </a>
                                      </div>
                                      <div class="team-info-2">
                                          <h3><a href="team-details.html">Marin Simic</a></h3>
                                          <span>Co-Founder</span>
                                      </div>
                                  </div>
                                  <div class="team-item-2">
                                      <div class="team-thmb-2">
                                          <a href="#">
                                              <img src="{{ "/img/team/team-15.jpg" | relURL }}" alt="Team Member">
                                          </a>
                                      </div>
                                      <div class="team-info-2">
                                          <h3><a href="team-details.html">Irinia Kantulova</a></h3>
                                          <span>ux engineer</span>
                                      </div>
                                  </div>
                                  <div class="team-item-2">
                                      <div class="team-thmb-2">
                                          <a href="#">
                                              <img src="{{ "/img/team/team-11.jpg" | relURL }}" alt="Team Member">
                                          </a>
                                      </div>
                                      <div class="team-info-2">
                                          <h3><a href="team-details.html">Nigel Verbeek</a></h3>
                                          <span>business marketer</span>
                                      </div>
                                  </div>
                                  <div class="team-item-2">
                                      <div class="team-thmb-2">
                                          <a href="#">
                                              <img src="{{ "/img/team/team-6.jpg" | relURL }}" alt="Team Member">
                                          </a>
                                      </div>
                                      <div class="team-info-2">
                                          <h3><a href="team-details.html">Michel Speenders</a></h3>
                                          <span>Harisman Okla</span>
                                      </div>
                                  </div>
                              </div>
                              
                              </div>
                          </div>
                      </div>
                  </section>
                  <!-- team area end-->

                                  <!-- project area start  -->
  <section class="project-area section-spacing p-relative">
      <div class="noise-wrapper">
          <div class="noise"></div>
      </div>
      <div class="container">
          <div class="row align-items-center g-5 section-title-spacing">
              <div class="col-lg-6">
                  <div class="project__meta-description mb-20">
                      <div class="winning-projects">
                          <p>120+ <span class="tpl__theme-color">Recente</span> Projects</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="section__title-2-wrapper text-lg-end">
                      <h2 class="section__title-main xlarge uppercase title-anim">Recente projecten</h2>
                  </div>
              </div>
          </div>
          <div class="project__works-inner">
              <div class="projects-wrapper__border"></div>
              <div class="row g-0">
                  <div class="col-lg-8">
                      <div class="projects-wrapper">
                          <div class="project-box">
                              <div class="project-box__thumb order-sm-1">
                                  <div class="animate-image">
                                    <a href="{{ "zautsen-kantoorinrichting" | relURL }}">
                                        <img class="topylo-tilt" src="{{ "/img/over-ons/over-ons-zautsen.jpg" | relURL }}" alt="Image">
                                    </a>                                    
                                  </div>
                              </div>
                              <div class="project-box-content order-sm-0">
                                  <div class="bdFadeLeft">
                                      <h4 class="project__title">
                                        <a href="{{ "zautsen-kantoorinrichting" | relURL }}">Zautsen Kantoorinrichting <span class="icon-box"><i class="flaticon-next"></i></span></a>
                                      </h4>
                                      <p>Lift is a full-service, award-winning digital agency with
                                          expertise in
                                          brand
                                          & digital strategy, design, and user experience</p>
                                      <div class="awards-list-box">
                                          <p>Resultaat</p>
                                          <div class="awards-list">
                                              <ul>
                                                  <li>Kwalitatief design</li>
                                                  <li>Hoog in Google</li>
                                                  <li>+300% omzet</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="project-box__btn is-black">
                                        <a href="{{ "zautsen-kantoorinrichting" | relURL }}" class="text-btn btn-text">Bekijk project</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="project-box">
                              <div class="project-box__thumb order-sm-1">
                                  <div class="animate-image">
                                    <a href="case-details.html">
                                      <img class="topylo-tilt" src="{{ "/img/projects/project-6.jpg" | relURL }}" alt="Image">
                                  </a>
                                  
                                  </div>

                              </div>
                              <div class="project-box-content order-sm-0">
                                  <div class="bdFadeRight">
                                      <h4 class="project__title">
                                          <a href="case-details.html">Finance Fintech Webapp<span
                                                  class="icon-box"><i
                                                      class="flaticon-next"></i></span></a>
                                      </h4>
                                      <p>Lift is a full-service, award-winning digital agency with
                                          expertise in
                                          brand
                                          & digital strategy, design, and user experience</p>
                                      <div class="awards-list-box">
                                          <p>Awards From:</p>
                                          <div class="awards-list">
                                              <ul>
                                                  <li>Awwwards</li>
                                                  <li>RED it</li>
                                                  <li>FWA</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="project-box__btn is-black">
                                          <a href="case-details.html" class="text-btn btn-text">View
                                              Website</a>
                                      </div>
                                  </div>
                              </div>

                          </div>

                      </div>
                  </div>
                  <div class="col-lg-4 bd-position-sticky">
                      <div class="column two">
                          <div class="projects-all-view-btn btn_wrapper p-relative">
                              <a class="c-button btn-moving" href="case-study-01.html">
                                  <span class="c-button__border"></span>
                                  <span class="c-button__text">View All Projects</span>
                              </a>
                          </div>
                      </div>
                      <div class="rot-line"></div>
                      <div class="b-right"></div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- project area end  -->
  <!-- idea area start -->
  <section class="idea__area p-relative fix section-spacing-top">
    <img class="round-cercle-2" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="Image">

      <div class="container">
          <div class="idea-main-wrapper p-relative z-index-5">
            <img class="idea-shape" src="{{ "/img/shapes/idea.png" | relURL }}" alt="Image">

              <div class="row">
                  <div class="col-xxl-6 col-xl-6 col-lg-6">
                      <div class="idea-content mb-60">
                          <div class="col-xxl-12">
                              <div class="section__title-wrapper is-white mb-80">
                                  <h2 class="section__title-main large uppercase title-anim mb-35">Do
                                      You Have
                                      a <br>
                                      New <span class="tpl__theme-color fw-reguler">Idea</span></h2>
                                  <p class="section__paragraph">Our experts from different fields
                                      collaborate with yours throughout the product lifecycle. Solving the
                                      right problems for your target audience.</p>
                              </div>
                          </div>
                          <div class="btn_wrapper">
                              <a class="c-button is-white btn-moving" href="service-02.html">
                                  <span class="c-button__border"></span>
                                  <span class="c-button__text">View All Services</span>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6">
                      <div class="idea-thumb mb-60">
                        <img src="{{ "/images/raket-webreaktor-site.png" | relURL }}" alt="Image">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- idea area end -->
                  <!-- link scroll area start  -->
                  <section class="link-scroll-area p-relative fix pt-55 pb-55 bg-theme-2">
                      <div class="link-scroll-area-shape">
                      </div>
                      <div class="swiper text__scroll">
                          <div class="swiper-wrapper link-scroll-wrapper">
                              <div class="swiper-slide">
                                  <div class="link-scroll-line">
                                      <h2 class="link-scroll-line__heading xlarge uppercase">
                                          <a href="contact.html">GET IN <span class="stroke-text">TOUCH</span></a>
                                          <a href="contact.html">GET IN <span class="stroke-text">TOUCH</span></a>
                                      </h2>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="link-scroll-line">
                                      <h2 class="link-scroll-line__heading xlarge uppercase">
                                          <a href="contact.html">GET IN <span class="stroke-text">TOUCH</span></a>
                                          <a href="contact.html">GET IN <span class="stroke-text">TOUCH</span></a>
                                      </h2>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
                  <!-- link scroll area end  -->

</main>
{{end}}