{{ define "main" }}
<main>

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg adjust-header-space">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="page-title-wrappper is-white mb-50">
                        <div class="breadcrumb-menu mb-20">
                            <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                <ul class="trail-items">
                                    <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                    <a href="{{ "/social-media-marketing-agency" | relURL }}"><li class="trail-item"><span>Soecial media marketing</span></li></a>                                    
                                </ul>
                            </nav>
                        </div>
                        <h1 class="page-title">Social media marketing</h1>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/social-media-marketing/social-media-marketing.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Versterk je merk op sociale platforms</h2>
                        <p class="p-text">In een wereld waar sociale media de dienst uitmaken, zet WebReaktor je bedrijf in de schijnwerpers op platforms zoals Facebook, Instagram, en TikTok. Onze strategieën zijn erop gericht om je zichtbaarheid te vergroten, je publiek te betrekken en je merkverhaal effectief te vertellen, wat resulteert in meetbare groei en klantbetrokkenheid.</p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Veroveren van Facebook, Instagram & TikTok</h2>
                        <p class="section-intro-paragraph xlarge p-text">Elk social media platform biedt unieke kansen om jouw merk te laten groeien. Bij WebReaktor ontwikkelen we doelgerichte strategieën voor Facebook, Instagram en TikTok, afgestemd op de kenmerken en sterktes van elk platform.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
 
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/social-media-marketing/facebook.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Facebook marketing</h3>
                            </div>
                            <p class="xlarge">Facebook is een krachtpatser voor merkbekendheid en klantenbinding. Wij benutten de uitgebreide demografische dekking en geavanceerde targeting-opties van Facebook om jouw merk bij een breder publiek bekend te maken en een sterke community op te bouwen.
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/social-media-marketing/instagram.png" | relURL }}">
                                <h3 class="service-branding-title">Instagram marketing</h3>
                            </div>
                            <p class="xlarge">Instagram is het podium voor visuele storytelling. We gebruiken de kracht van aantrekkelijke beelden en creatieve content om je merk te onderscheiden, engagement te stimuleren en een visueel aantrekkelijk merkverhaal te vertellen.</p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/social-media-marketing/tik-tok.png" | relURL }}">
                                <h3 class="service-branding-title">TikTok marketing</h3>
                            </div>
                            <p class="xlarge">TikTok biedt ongekende kansen voor virale marketing. Ons team is bedreven in het creëren van pakkende, trendgevoelige content die de aandacht grijpt en jouw merk in de spotlight zet bij een jonger en energiek publiek.
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/social-media-marketing/social-media-marketing1.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

        <!-- foto links text rechts begin -->
    <section
    class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                <div class="service-page-title-contenet-marin2">
                    <h2 class="p-text">Benut de kracht van YouTube marketing</h2>
                    <p class="p-text">Op YouTube gaat visuele content hand in hand met enorm bereik. Bij WebReaktor richten we ons op het creëren van aantrekkelijke en informatieve video's die jouw merkverhaal op een boeiende manier vertellen.</p>
                </div>
                <div class="button-item mt-50 mb-50">
                    <a href="{{ "videomarketing-bureau" | relURL }}" class="border-btn3">
                        <span class="btn-text">Meer over videomarketing</span>
                        <span class="btn-icon"><i class="flaticon-next"></i></span>
                    </a>                    
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <img src="{{ "/img/social-media-marketing/social-media-marketing2.jpg" | relURL }}" alt="image not found">
            </div>
        </div>
    </div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin -->
        <section
        class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="service-page-title-contenet-marin">
                        <h3 class="p-text">Social media marketing met data</h3>
                        <p class="xlarge">In de wereld van social media telt elke like, reactie en deelactie. Bij WebReaktor gebruiken we deze waardevolle gegevens om onze social media strategieën te verfijnen.</p>
                        <p class="xlarge">Dit betekent dat we kijken naar wat jouw publiek echt leuk vindt en betrokken is, en deze inzichten gebruiken om jouw content en campagnes te verbeteren. Zo zorgen we ervoor dat jouw berichten niet alleen gezien worden, maar ook resulteren in echte interactie en resultaten.</p>
                    </div>
                    <div class="button-item mt-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <img src="{{ "/img/social-media-marketing/social-media-marketing3.jpg" | relURL }}" alt="image not found">
                </div>
            </div>
        </div>
    </section>

    <!-- approch area start -->
    <section class="approch-area section-spacing">
        <div class="container">
            <div class="row align-items-center gy-50">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="approch-thumb">
                        <img src="{{ "/img/webshop-laten-maken/webshop-laten-maken8.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="section__title-wrapper mb-50">
                        <h2 class="section__title-inner title-anim">Ons stappenplan</h2>
                    </div>
                    <div class="approch-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="approch-1-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-1" type="button" role="tab"
                                    aria-controls="approch-1" aria-selected="true">1. Analyse</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-2-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-2" type="button" role="tab"
                                    aria-controls="approch-2" aria-selected="false">2. Strategie</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-3-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-3" type="button" role="tab"
                                    aria-controls="approch-3" aria-selected="false">3. Uitvoering</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-4-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-4" type="button" role="tab"
                                    aria-controls="approch-4" aria-selected="false">4. Optimalisatie</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="approch-1" role="tabpanel"
                                aria-labelledby="approch-1-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Deze fase draait om het diepgaand begrijpen van je bedrijf, doelgroep, en concurrentie. We analyseren je huidige social media aanwezigheid, identificeren je doelgroep en hun voorkeuren, en onderzoeken wat concurrenten doen. Deze inzichten vormen de basis van onze strategie.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-2" role="tabpanel"
                                aria-labelledby="approch-2-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Gebaseerd op de analyse, ontwikkelen we een op maat gemaakte social media strategie. Dit omvat het kiezen van de juiste platforms (zoals Facebook, Instagram, TikTok, YouTube), het bepalen van de soorten content die resoneren met je publiek, en het plannen van de frequentie en timing van posts.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-3" role="tabpanel"
                                aria-labelledby="approch-3-tab">
                                <div class="approch-content">
                                    <p class="xlarge">In deze stap implementeren we de strategie. Dit betekent het creëren van aantrekkelijke, relevante content, het plannen en publiceren van berichten, en het actief beheren van je social media kanalen. We zorgen voor consistentie in je berichtgeving en visuele identiteit om je merkidentiteit te versterken.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-4" role="tabpanel"
                                aria-labelledby="approch-4-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Social media marketing is een doorlopend proces. In deze laatste stap analyseren we de prestaties van de campagnes en content. Op basis van data zoals betrokkenheid, bereik en conversie passen we de strategie continu aan voor verbetering. Dit zorgt voor een dynamische aanpak die meegroeit met de trends en feedback van het publiek.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- approch area end -->

    <!-- faq area start -->
    <section class="faq-area section-spacing">
        <div class="container">
            <div class="section__title-wrapper tpl__item-center mb-60">
                <h2 class="section__title-inner title-anim">Veelgestelde vragen</h2>
            </div>
            <div class="choose-accordion mb-0 tp-accordion-fix">
                <div class="accordion" id="accordionExample-st-2">
                    <div class="row g-5">
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingOne-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne-st-2"
                                        aria-expanded="false" aria-controls="collapseOne-st-2">
                                        Hoe vaak moet mijn bedrijf posten op social media?
                                    </button>
                                </h2>
                                <div id="collapseOne-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De optimale frequentie van posts hangt af van het platform en je doelgroep. Over het algemeen raden we aan om consistent te zijn, maar de kwaliteit van de content is belangrijker dan de kwantiteit. We helpen je een schema te vinden dat past bij jouw merk en publiek.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingTwo-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo-st-2"
                                        aria-expanded="false" aria-controls="collapseTwo-st-2">
                                        Op welke social media platforms moet mijn bedrijf actief zijn?
                                    </button>
                                </h2>
                                <div id="collapseTwo-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Dit hangt af van waar je doelgroep het meest actief is. Voor sommige merken is dit Instagram en Facebook, terwijl anderen meer succes vinden op platforms zoals TikTok of LinkedIn. We analyseren je doelgroep om te bepalen op welke platforms je het beste kunt focussen.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree-st-2"
                                        aria-expanded="false" aria-controls="collapseThree-st-2">
                                        Hoe meet WebReaktor het succes van social media campagnes?
                                    </button>
                                </h2>
                                <div id="collapseThree-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Wij gebruiken een combinatie van metrics zoals bereik, engagement, websiteverkeer, en conversies. We houden ook rekening met meer kwalitatieve aspecten zoals merkbekendheid en klantfeedback.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFour-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour-st-2"
                                        aria-expanded="false" aria-controls="collapseFour-st-2">
                                        Hoe lang duurt het voordat ik resultaten zie van mijn social media strategie?
                                    </button>
                                </h2>
                                <div id="collapseFour-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Social media marketing is een langetermijnstrategie. Hoewel sommige resultaten, zoals toegenomen engagement, snel zichtbaar kunnen zijn, duurt het vaak enkele maanden voordat substantiële resultaten in verkeer en conversies zichtbaar zijn.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFive-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive-st-2"
                                        aria-expanded="false" aria-controls="collapseFive-st-2">
                                        Kan WebReaktor helpen met influencer marketing?
                                    </button>
                                </h2>
                                <div id="collapseFive-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Ja, we kunnen helpen bij het identificeren en samenwerken met influencers die resoneren met jouw merk en doelgroep. Influencer marketing kan een krachtig hulpmiddel zijn om je bereik en geloofwaardigheid op social media te vergroten.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven-st-2"
                                        aria-expanded="false" aria-controls="collapseSeven-st-2">
                                        Wat maakt social media marketing anders dan traditionele marketing?
                                    </button>
                                </h2>
                                <div id="collapseSeven-st-2" class="accordion-collapse collapse show"
                                    aria-labelledby="headingSix-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Social media marketing is interactiever en biedt directe communicatiekanalen met je doelgroep. Het stelt merken in staat om een persoonlijkere relatie met klanten op te bouwen en realtime feedback te krijgen, iets wat met traditionele marketing lastiger is.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq area end -->

  <!-- title intro area -->
  <section class="title-intro-area fix primary-bg">
    <div class="container">
        <div class="title-intro-wrapper section-spacing">
            <div class="intro__title-wrapper">
                <h2 class="intro__title-inner folks-text">Let's Babbel</h2>
            </div>
            <div class="intro-brn">
                <a href="{{ "contact" |relURL }}" class="circle-btn is-green">
                    <span class="icon-box"><i class="flaticon-next"></i></span>
                    <img src="{{ "img/icons/contact-btn-text.png" | relURL }}" alt="image not found" class="image-text">


                </a>
            </div>
        </div>
    </div>
</section>
<!-- title intro end -->
</main>
{{end}}