{{ define "main" }}
<main>

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg adjust-header-space">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="page-title-wrappper is-white mb-50">
                        <div class="breadcrumb-menu mb-20">
                            <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                <ul class="trail-items">
                                    <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                    <a href="{{ "/e-mail-marketing-bureau" | relURL }}"><li class="trail-item"><span>E-mail marketing</span></li></a>                                    
                                </ul>
                            </nav>
                        </div>
                        <h1 class="page-title">E-mail marketing</h1>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/e-mail-marketing/e-mail-marketing.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Boost jouw business met e-mailmarketing</h2>
                        <p class="p-text">Ontketen de kracht van e-mailmarketing met WebReaktor. Onze op maat gemaakte e-mailcampagnes zijn ontworpen om jouw merk te versterken en je verkoop te stimuleren. Van het trekken van aandacht tot het bouwen van langdurige relaties, we zorgen ervoor dat elke e-mail een blijvende indruk maakt op je doelgroep.</p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">De kern van effectieve e-mailmarketing</h2>
                        <p class="section-intro-paragraph xlarge p-text">Bij WebReaktor richten we ons op drie sleutelaspecten om jouw e-mailmarketing naar een hoger niveau te tillen. Van het eerste contact tot het opbouwen van loyaliteit, onze strategieën zijn gericht op het creëren van waardevolle en aansprekende e-mailervaringen voor je publiek.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/e-mail-marketing/writer.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Doelgerichte content</h3>
                            </div>
                            <p class="xlarge">We beginnen met het nauwkeurig afstemmen van de inhoud op jouw doelgroep. Door de interesses en behoeften van je ontvangers te analyseren, creëren we gepersonaliseerde en relevante berichten die resoneren en actie uitlokken.
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/e-mail-marketing/sketch.png" | relURL }}">
                                <h3 class="service-branding-title">Aantrekkelijk ontwerp</h3>
                            </div>
                            <p class="xlarge">Het visuele aspect van je e-mails is cruciaal. Ons team zorgt voor een aantrekkelijk en responsief ontwerp dat aansluit bij jouw merkidentiteit en de aandacht van je lezers vasthoudt, zowel op desktop als mobiele apparaten.</p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/e-mail-marketing/results.png" | relURL }}">
                                <h3 class="service-branding-title">Meetbare resultaten</h3>
                            </div>
                            <p class="xlarge">Succes in e-mailmarketing is meer dan alleen het verzenden van berichten. We gebruiken geavanceerde tools om de prestaties van je campagnes te meten en te analyseren, waardoor we voortdurend kunnen optimaliseren voor betere resultaten
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/e-mail-marketing/e-mail-marketing2.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

      <!-- foto links text rechts begin -->
    <section
    class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                <div class="service-page-title-contenet-marin2">
                    <h2 class="p-text">Personaliseren & segmenteren</h2>
                    <p class="p-text">In e-mailmarketing is het versturen van de juiste boodschap naar de juiste persoon op het juiste moment essentieel. Bij WebReaktor benutten we de kracht van segmentatie en personalisatie om jouw e-mails te transformeren in treffende, persoonlijke berichten.</p>
                    <p class="p-text">We zorgen ervoor dat elke e-mail precies aansluit bij de interesses van de ontvanger, waardoor jouw campagnes meer impact hebben en de betrokkenheid groeit.</p>
                </div>
                <div class="button-item mt-50 mb-50">
                    <a href="{{ "contact" | relURL }}" class="border-btn3">
                        <span class="btn-text">Neem contact op</span>
                        <span class="btn-icon"><i class="flaticon-next"></i></span>
                    </a>                    
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <img src="{{ "/img/e-mail-marketing/e-mail-marketing3.jpg" | relURL }}" alt="image not found">             
            </div>
        </div>
    </div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin -->
        <section
        class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="service-page-title-contenet-marin">
                        <h3 class="p-text">E-mail marketing bureau: WebReaktor</h3>
                        <p class="xlarge">Ons team gebruikt de nieuwste tools om belangrijke metrics zoals open rates, click-through rates en conversieratio's te volgen. Deze inzichten stellen ons in staat om de prestaties van je e-mails continu te monitoren en te verbeteren. We duiken diep in de data om te begrijpen wat werkt, wat niet, en waarom.</p>
                        <p class="xlarge">Maar het gaat niet alleen om cijfers. We analyseren ook het gedrag van je publiek en hun interacties met jouw e-mails. Deze diepgaande analyse helpt ons om gepersonaliseerde en relevante content te creëren die resonantie vindt bij je doelgroep. Bij WebReaktor zetten we data om in actie, waardoor je e-mailmarketingstrategie steeds effectiever wordt.</p>
                    </div>
                    <div class="button-item mt-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <img src="{{ "/img/e-mail-marketing/e-mail-marketing4.jpg" | relURL }}" alt="image not found">
                </div>
            </div>
        </div>
    </section>

    <!-- approch area start -->
    <section class="approch-area section-spacing">
        <div class="container">
            <div class="row align-items-center gy-50">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="approch-thumb">
                        <img src="{{ "/img/webshop-laten-maken/webshop-laten-maken8.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="section__title-wrapper mb-50">
                        <h2 class="section__title-inner title-anim">Ons stappenplan</h2>
                    </div>
                    <div class="approch-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="approch-1-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-1" type="button" role="tab"
                                    aria-controls="approch-1" aria-selected="true">1. Analyse</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-2-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-2" type="button" role="tab"
                                    aria-controls="approch-2" aria-selected="false">2. Strategie</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-3-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-3" type="button" role="tab"
                                    aria-controls="approch-3" aria-selected="false">3. Uitvoering</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-4-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-4" type="button" role="tab"
                                    aria-controls="approch-4" aria-selected="false">4. Optimalisatie</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="approch-1" role="tabpanel"
                                aria-labelledby="approch-1-tab">
                                <div class="approch-content">
                                    <p class="xlarge">We beginnen met een grondige analyse van je huidige e-mailmarketinginspanningen en doelgroep. Dit omvat het bekijken van je abonneelijst, eerdere campagnes, en het begrijpen van de behoeften en voorkeuren van je doelgroep. Deze stap zorgt ervoor dat we een sterke basis hebben voor het ontwikkelen van een effectieve strategie.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-2" role="tabpanel"
                                aria-labelledby="approch-2-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Op basis van de verzamelde inzichten ontwikkelen we een op maat gemaakte e-mailmarketingstrategie. Dit omvat het bepalen van doelstellingen, het segmenteren van je lijst, het plannen van de content en het vaststellen van een verzendschema. De strategie is erop gericht om maximale betrokkenheid en conversie te bereiken.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-3" role="tabpanel"
                                aria-labelledby="approch-3-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Vervolgens gaan we over tot de uitvoering. We creëren en versturen e-mails die aansluiten bij de vastgestelde strategie. Dit omvat alles van het design en de opmaak tot het schrijven van overtuigende teksten en het optimaliseren voor verschillende apparaten en e-mailclients.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-4" role="tabpanel"
                                aria-labelledby="approch-4-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Na het verzenden van de e-mails, monitoren we hun prestaties en verzamelen we data. We gebruiken deze inzichten om de campagnes continu te verbeteren. Dit betekent het aanpassen van de content, het design, en de segmentatie om de effectiviteit van toekomstige campagnes te verhogen.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- approch area end -->

    <!-- faq area start -->
    <section class="faq-area section-spacing">
        <div class="container">
            <div class="section__title-wrapper tpl__item-center mb-60">
                <h2 class="section__title-inner title-anim">Veelgestelde vragen</h2>
            </div>
            <div class="choose-accordion mb-0 tp-accordion-fix">
                <div class="accordion" id="accordionExample-st-2">
                    <div class="row g-5">
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingOne-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne-st-2"
                                        aria-expanded="false" aria-controls="collapseOne-st-2">
                                        Wat maakt e-mailmarketing effectief?
                                    </button>
                                </h2>
                                <div id="collapseOne-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>E-mailmarketing is effectief omdat het direct, persoonlijk en kosteneffectief is. Het stelt je in staat om een specifieke doelgroep te bereiken met berichten die zijn afgestemd op hun interesses en behoeften, wat kan leiden tot hogere betrokkenheid en conversies.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingTwo-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo-st-2"
                                        aria-expanded="false" aria-controls="collapseTwo-st-2">
                                        Hoe vaak moet ik e-mails versturen?
                                    </button>
                                </h2>
                                <div id="collapseTwo-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De frequentie van e-mails hangt af van je doelgroep en je doelstellingen. Het is belangrijk om een balans te vinden tussen regelmatig contact houden en je abonnees niet te overladen met berichten. We helpen je de optimale verzendfrequentie te vinden op basis van je specifieke situatie.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree-st-2"
                                        aria-expanded="false" aria-controls="collapseThree-st-2">
                                        Hoe meet ik het succes van mijn e-mailcampagnes?
                                    </button>
                                </h2>
                                <div id="collapseThree-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Succes kan gemeten worden aan de hand van verschillende indicatoren zoals open rates, click-through rates, conversieratio's, en uiteindelijk de ROI van de campagne. Wij bieden gedetailleerde rapportages en analyses om de prestaties van je campagnes te begrijpen en te verbeteren.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFour-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour-st-2"
                                        aria-expanded="false" aria-controls="collapseFour-st-2">
                                        Is e-mailmarketing nog steeds relevant in het tijdperk van social media?
                                    </button>
                                </h2>
                                <div id="collapseFour-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Ja, e-mailmarketing blijft een krachtig instrument. Hoewel social media een breed bereik heeft, biedt e-mailmarketing een meer persoonlijke en directe manier van communiceren met je doelgroep.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFive-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive-st-2"
                                        aria-expanded="false" aria-controls="collapseFive-st-2">
                                        Kan ik mijn e-maillijst segmenteren voor betere resultaten?
                                    </button>
                                </h2>
                                <div id="collapseFive-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Absoluut. Segmentatie is een belangrijk onderdeel van effectieve e-mailmarketing. Het stelt je in staat om je berichten af te stemmen op specifieke delen van je doelgroep, wat resulteert in relevantere communicatie en betere resultaten.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven-st-2"
                                        aria-expanded="false" aria-controls="collapseSeven-st-2">
                                        Hoe zorg ik ervoor dat mijn e-mails niet als spam worden gemarkeerd?
                                    </button>
                                </h2>
                                <div id="collapseSeven-st-2" class="accordion-collapse collapse show"
                                    aria-labelledby="headingSix-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Om te voorkomen dat je e-mails als spam worden gemarkeerd, is het belangrijk om best practices te volgen zoals het verkrijgen van toestemming van ontvangers, het creëren van kwaliteitscontent, en het regelmatig opschonen van je e-maillijst. Wij zorgen ervoor dat je e-mails voldoen aan alle relevante richtlijnen en wetgeving.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq area end -->

  <!-- title intro area -->
  <section class="title-intro-area fix primary-bg">
    <div class="container">
        <div class="title-intro-wrapper section-spacing">
            <div class="intro__title-wrapper">
                <h2 class="intro__title-inner folks-text">Let's Babbel</h2>
            </div>
            <div class="intro-brn">
                <a href="{{ "contact" |relURL }}" class="circle-btn is-green">
                    <span class="icon-box"><i class="flaticon-next"></i></span>
                    <img src="{{ "img/icons/contact-btn-text.png" | relURL }}" alt="image not found" class="image-text">


                </a>
            </div>
        </div>
    </div>
</section>
<!-- title intro end -->
</main>
{{end}}