<div class="sidebar__wrapper mt-50 alice-blue-bg">
  <div class="sidebar__widget">
      <h3 class="sidebar__widget-title mb-30">Website categorieën</h3>
      <div class="sidebar__widget-content">
          <div class="sidebar__tag">
              <a href="blog.html">Vakantiehuis</a>
              <a href="blog.html">Hotel</a>
              <a href="blog.html">Rijschool</a>
              <a href="blog.html">Schoonheidssalon</a>
              <a href="blog.html">Vacature</a>
              <a href="blog.html">Hovenier</a>
              <a href="blog.html">Loodgieter</a>
              <a href="blog.html">Bakker</a>
              <a href="blog.html">Tandarts</a>
              <a href="blog.html">Zzp</a>
              <a href="blog.html">Kapper</a>
              <a href="blog.html">Zorginstelling</a>
              <a href="blog.html">Bouwbedrijf</a>
          </div>
      </div>
  </div>

</div>