<div class="sidebar__wrapper white-bg mb-50">
  <div class="sidebar__widget mb-50">
      <h3 class="sidebar__widget-title mb-30">Diensten</h3>
      <div class="sidebar__widget-content">
          <ul>
              <li><a href="{{"/webdesign" | relURL }}"><span>Webdesign</span></a></li>
              <li><a href="{{"/vindbaarheid" | relURL }}"><span>Vindbaarheid</span> </a>
              </li>
              <li><a href="{{"/marketing" | relURL }}"><span>Marketing</span>
                      </a></li>
              <li><a href="{{"/branding" | relURL }}"><span>Branding</span></a>
              </li>
          </ul>
      </div>
  </div>
</div>