           <!-- footer-area-start -->
           <footer>
            <section class="footer-area footer__bg section-spacing">
                <div class="container">
                    <div class="row gy-50">
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                            <div class="footer__widget footer__widget-1">
                                <div class="footer__logo mb-20">
                                    <a href="{{ "index.html" | relURL }}">
                                        <img src="{{ "/img/logo/wr-logo-white.png" | relURL }}" alt="Logo">
                                    </a>                                    
                                </div>
                                <p class="made-by-text mb-30">Digitale groei</p>

                                <div class="social-links">
                                    <ul>
                                        <li>
                                            <a href="https://linkedin.com" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                                <span class="icon-text">IN</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                                <span class="icon-text">TW</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://facebook.com" target="_blank">
                                                <i class="fab fa-facebook"></i>
                                                <span class="icon-text">FB</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="footer__widget footer__widget-2">
                                <h4 class="footer__widget-title mb-30">Webdesign</h4>
                                <div class="footer__links">
                                    <ul>
                                        <li><a href="{{ "website-laten-maken-heerlen" | relURL }}">Website laten maken Heerlen</a></li>
                                        <li><a href="{{ "website-laten-maken-limburg" | relURL }}">Website laten maken Limburg</a></li>
                                        <li><a href="{{ "website-laten-maken-sittard" | relURL }}">Website laten maken Sitard</a></li>
                                        <li><a href="{{ "website-laten-maken-kerkrade" | relURL }}">Website laten maken Kerkrade</a></li>
                                        <li><a href="{{ "website-laten-maken-weert" | relURL }}">Website laten maken Weert</a></li>
                                        <li><a href="{{ "website-laten-maken-venlo" | relURL }}">Website laten maken Venlo</a></li>
                                        <li><a href="{{ "website-laten-maken-maastricht" | relURL }}">Website laten maken Maastricht</a></li>
                                        <li><a href="{{ "website-laten-maken-breda" | relURL }}">Website laten maken Breda</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="footer__widget footer__widget-3">
                                <h4 class="footer__widget-title mb-30">Marketing</h4>
                                <div class="footer__links">
                                    <ul>
                                        <li><a href="{{ "/marketing-bureau-limburg" | relURL }}">Marketing bureau Limburg</a></li>
                                        <li><a href="{{ "/marketing-bureau-heerlen" | relURL }}">Marketing bureau Heerlen</a></li>
                                        <li><a href="{{ "/marketing-bureau-geleen" | relURL }}">Marketing bureau Geleen</a></li>
                                        <li><a href="{{ "/marketing-bureau-sittard" | relURL }}">Marketing bureau Sittard</a></li>
                                        <li><a href="{{ "/marketing-bureau-maastricht" | relURL }}">Marketing bureau Maastricht</a></li>
                                        <li><a href="{{ "/marketing-bureau-breda" | relURL }}">Marketing bureau Breda</a></li>
                                        <li><a href="{{ "/marketing-bureau-venlo" | relURL }}">Marketing bureau Venlo</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                            <div class="footer__widget footer__widget-4">
                                <h4 class="footer__widget-title mb-30">SEO Check</h4>
                                <p class="mb-20">Benieuwd hoe jouw website presteert op het gebied van SEO? Vul eenvoudig je website URL in en wij voeren een gratis SEO check voor je uit. Ontdek waar je goed scoort en waar er ruimte is voor verbetering.</p>
                                <div class="joining-form p-relative">
                                    <form action="https://formspree.io/f/mknlppgz" method="POST">
                                        <div class="input-wrapper mb-30">
                                            <div class="single-input-field field-email">
                                                <input name="seocheckurl" type="text" placeholder="voorbeeld.nl">
                                            </div>
                                            <div class="single-input-field field-email">
                                                <input name="field-email" type="email" placeholder="123@gmail.com">
                                            </div>
                                            <div class="joining__btn">
                                                <button type="submit" class="circle-icon-btn" aria-label="Verzenden"><i
                                                        class="fal fa-long-arrow-right"></i></button>
                                            </div>
                                        </div>
                                        <label for="privacy-policy">
                                            <input type="checkbox" id="privacy-policy" style="display: none;">
                                            <span class="check">
                                                <svg width="18px" height="18px" viewBox="0 0 18 18">
                                                    <path
                                                        d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                                                    </path>
                                                    <polyline points="1 9 7 14 15 4"></polyline>
                                                </svg>
                                            </span>
                                            Ik ga akkoord met de privacy voorwaarden
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="company-address-area footer__bg">
                <div class="container">
                    <div class="address-wrapper pt-60 pb-10">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="address-box mb-40">
                                    <h4 class="country-name mb-25">Hoofdkantoor Heerlen</h4>
                                    <div class="address-list">
                                        <ul>
                                            <li>
                                                <a href="https://maps.google.com" target="_blank">Jan Campertstraat 5 <br> 6416 SG Heerlen
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="address-box mb-40">
                                    <h4 class="country-name mb-25">Kantoor Maastricht
                                    </h4>
                                    <div class="address-list">
                                        <ul>
                                            <li>
                                                <a href="https://maps.google.com" target="_blank">Stationsplein 8-K <br> 6221 BT Maastricht
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="address-box mb-40">
                                    <h4 class="country-name mb-25">Spreeklocatie Roermond</h4>
                                    <div class="address-list">
                                        <ul>
                                            <li>
                                                <a href="https://maps.google.com" target="_blank">Looskade 20 <br> 6041 LE Roermond</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="address-box mb-40">
                                    <h4 class="country-name mb-25">Spreeklocatie Eindhoven</h4>
                                    <div class="address-list">
                                        <ul>
                                            <li>
                                                <a href="https://maps.google.com" target="_blank">Kennedyplein 200 <br> 5611 ZT Eindhoven</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="copyright-area copyright__bg pb-30 p-relative z-index-1">
                <div class="container">
                    <div class="footer-top pt-30"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="copyright__text tpl__item-center">
                                <p>Copyright © 2024 <a target="_blank"
                                        href="/">WebReaktor</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
<!-- oude footer einde-->
    </div>
</div>

<!-- back to top start -->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
<!-- back to top end -->



