
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ .Title }}</title>
  
    <!-- start met yoast -->
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}Supersnelle en krachtige vindbare Websites{{ end }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <meta property="og:locale" content="nl_NL" />
    <meta property="og:type" content="{{ with .Params.pageType }}{{ . }}{{ else }}website{{ end }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="WebReaktor" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "{{ with .Params.pageType }}{{ . }}{{ else }}WebPage{{ end }}",
            "@id": "{{ .Permalink }}",
            "url": "{{ .Permalink }}",
            "name": "{{ .Title }} - WebReaktor",
            "isPartOf": {
              "@id": "{{ .Site.BaseURL }}#website"
            },
            "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
            "dateModified": "{{ .Params.lastmod.Format "2006-01-02T15:04:05-07:00" }}",
            "description": "{{ .Description }}",
            "inLanguage": "nl-NL",
            "potentialAction": [
              {
                "@type": "ReadAction",
                "target": ["{{ .Permalink }}"]
              }
            ]
          },
          {
            "@type": "BreadcrumbList",
            "@id": "{{ .Site.BaseURL }}#breadcrumb",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "{{ .Site.BaseURL }}"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "{{ .Title }}",
                "item": "{{ .Permalink }}"
              }
            ]
          },
          {{ if eq .Kind "home" }}
          {
            "@type": "WebSite",
            "@id": "{{ .Site.BaseURL }}#website",
            "url": "{{ .Site.BaseURL }}",
            "name": "WebReaktor",
            "description": "WebReaktor biedt webdesign, SEO en SEA diensten.",
            "inLanguage": "nl-NL"
          }
          {{ end }}
        ]
      }
      </script>

      
    <!-- einde yoast -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/images/WebReaktor-logo-icon.png" | relURL }}">
    <!-- CSS here -->
<!-- Preloading Stylesheets -->

{{ $bootstrap := resources.Get "css/bootstrap.min.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $bootstrap.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ $meanmenu := resources.Get "css/meanmenu.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $meanmenu.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ $animate := resources.Get "css/animate.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $animate.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ $swiper := resources.Get "css/swiper-bundle.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $swiper.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ $backToTop := resources.Get "css/backToTop.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $backToTop.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ $magnificPopup := resources.Get "css/magnific-popup.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $magnificPopup.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ $fontAwesome6Pro := resources.Get "css/fontAwesome6Pro.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $fontAwesome6Pro.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ $flaticonAxil := resources.Get "css/flaticon_axil.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $flaticonAxil.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ $fontAutography := resources.Get "css/font-autography.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $fontAutography.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ $slick := resources.Get "css/slick.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $slick.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ $odometer := resources.Get "css/odometer.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $odometer.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ $default := resources.Get "css/default.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $default.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{ $main := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
<link rel="preload" href="{{ $main.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">


<!-- Loading Stylesheets  -->

<link rel="stylesheet" href="{{ $bootstrap.RelPermalink }}">
<link rel="stylesheet" href="{{ $meanmenu.RelPermalink }}">
<link rel="stylesheet" href="{{ $animate.RelPermalink }}">
<link rel="stylesheet" href="{{ $swiper.RelPermalink }}">
<link rel="stylesheet" href="{{ $backToTop.RelPermalink }}">
<link rel="stylesheet" href="{{ $magnificPopup.RelPermalink }}">
<link rel="stylesheet" href="{{ $fontAwesome6Pro.RelPermalink }}">
<link rel="stylesheet" href="{{ $flaticonAxil.RelPermalink }}">
<link rel="stylesheet" href="{{ $fontAutography.RelPermalink }}">
<link rel="stylesheet" href="{{ $slick.RelPermalink }}">
<link rel="stylesheet" href="{{ $odometer.RelPermalink }}">
<link rel="stylesheet" href="{{ $default.RelPermalink }}">
<link rel="stylesheet" href="{{ $main.RelPermalink }}">



</head>