<section class="faq-area section-spacing">
  <div class="container">
      <div class="section__title-wrapper tpl__item-center mb-60">
          <h2 class="section__title-inner title-anim">Veelgestelde vragen</h2>
      </div>
      <div class="choose-accordion mb-0 tp-accordion-fix">
          <div class="accordion" id="accordionExample-st-2">
              <div class="row g-5">
                  <div class="col-lg-6">
                      <div class="accordion-item mb-30">
                          <h2 class="accordion-header" id="headingOne-st-2">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseOne-st-2"
                                  aria-expanded="false" aria-controls="collapseOne-st-2">
                                  Hoe betrekken jullie klanten in het marketingproces?
                              </button>
                          </h2>
                          <div id="collapseOne-st-2" class="accordion-collapse collapse"
                              aria-labelledby="headingOne-st-2"
                              data-bs-parent="#accordionExample-st-2">
                              <div class="accordion-body">
                                  <div class="capabilities-list">
                                      <div class="choose-accordion-content">
                                          <p>Klantbetrokkenheid is voor ons essentieel. We houden je regelmatig op de hoogte met duidelijke rapportages, betrekken je bij belangrijke beslissingen en staan altijd open voor jouw ideeën en feedback. Jouw visie en doelen staan centraal in elke stap die we nemen.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item mb-30">
                          <h2 class="accordion-header" id="headingTwo-st-2">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseTwo-st-2"
                                  aria-expanded="false" aria-controls="collapseTwo-st-2">
                                  Kunnen jullie mijn huidige marketingstrategie beoordelen en verbeteren?
                              </button>
                          </h2>
                          <div id="collapseTwo-st-2" class="accordion-collapse collapse"
                              aria-labelledby="headingTwo-st-2"
                              data-bs-parent="#accordionExample-st-2">
                              <div class="accordion-body">
                                  <div class="capabilities-list">
                                      <div class="choose-accordion-content">
                                          <p>Absoluut, we beginnen vaak met een grondige beoordeling van je huidige marketinginspanningen om sterktes en verbeterpunten te identificeren. Vervolgens werken we samen om een versterkte strategie te ontwikkelen die beter aansluit bij je doelen en marktpositie.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree-st-2">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseThree-st-2"
                                  aria-expanded="false" aria-controls="collapseThree-st-2">
                                  Hoe meten jullie het succes van een campagne?
                              </button>
                          </h2>
                          <div id="collapseThree-st-2" class="accordion-collapse collapse"
                              aria-labelledby="headingThree-st-2"
                              data-bs-parent="#accordionExample-st-2">
                              <div class="accordion-body">
                                  <div class="capabilities-list">
                                      <div class="choose-accordion-content">
                                          <p>We gebruiken geavanceerde analytics en trackingtools om de prestaties van onze campagnes nauwkeurig te meten. Dit omvat alles van websiteverkeer en conversieratio's tot klantbetrokkenheid en ROI. We zijn transparant over de resultaten en werken voortdurend aan optimalisatie.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="accordion-item mb-30">
                          <h2 class="accordion-header" id="headingFour-st-2">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseFour-st-2"
                                  aria-expanded="false" aria-controls="collapseFour-st-2">
                                  Wat maakt jullie expertise in de lokale markt waardevol voor mijn bedrijf?
                              </button>
                          </h2>
                          <div id="collapseFour-st-2" class="accordion-collapse collapse"
                              aria-labelledby="headingFour-st-2"
                              data-bs-parent="#accordionExample-st-2">
                              <div class="accordion-body">
                                  <div class="capabilities-list">
                                      <div class="choose-accordion-content">
                                          <p>Onze diepe kennis van de lokale markt betekent dat we unieke inzichten en kansen kunnen identificeren die buitenstaanders vaak missen. Dit lokale perspectief helpt ons om campagnes te creëren die echt resoneren met het publiek in Zuid-Nederland.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item mb-30">
                          <h2 class="accordion-header" id="headingFive-st-2">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseFive-st-2"
                                  aria-expanded="false" aria-controls="collapseFive-st-2">
                                  Kunnen jullie helpen met zowel online als offline marketing?
                              </button>
                          </h2>
                          <div id="collapseFive-st-2" class="accordion-collapse collapse"
                              aria-labelledby="headingFive-st-2"
                              data-bs-parent="#accordionExample-st-2">
                              <div class="accordion-body">
                                  <div class="capabilities-list">
                                      <div class="choose-accordion-content">
                                          <p>Ja, we bieden een volledig spectrum aan marketingdiensten die zowel digitale als traditionele kanalen omvatten. Van SEO en social media tot printadvertenties en evenementen, we zorgen voor een geïntegreerde aanpak die jouw merk in alle facetten versterkt.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="headingSix-st-2">
                              <button class="accordion-button collapsed" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseSeven-st-2"
                                  aria-expanded="false" aria-controls="collapseSeven-st-2">
                                  Hoe verschilt jullie aanpak van andere marketingbureaus in de regio?
                              </button>
                          </h2>
                          <div id="collapseSeven-st-2" class="accordion-collapse collapse show"
                              aria-labelledby="headingSix-st-2"
                              data-bs-parent="#accordionExample-st-2">
                              <div class="accordion-body">
                                  <div class="capabilities-list">
                                      <div class="choose-accordion-content">
                                          <p>Ons bureau onderscheidt zich door een diepgaand begrip van de lokale markt te combineren met innovatieve, wereldwijde marketingstrategieën. We focussen op maatwerk en persoonlijke aandacht om ervoor te zorgen dat jouw unieke merkverhaal opvalt.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>