<!-- layouts/partials/responsiveimage.html -->
{{ $src := .src }}
{{ $alt := .alt }}

{{ with resources.Get $src }}
    {{ $original := . }}
    {{ $srcset := slice }}
    
    <!-- Definieer kleinere afbeeldingsgroottes voor kleinere schermen -->
    {{ range slice "600x" "800x" "1000x" }}
        {{ $resized := $original.Resize (print . " q100") }} <!-- behoud hoge kwaliteit -->
        {{ $srcset = $srcset | append (dict "src" $resized.RelPermalink "width" (trim . "x")) }}
    {{ end }}

    <!-- Gebruik de originele afbeelding voor grotere schermen en kleinere voor kleinere schermen -->
    <img src="{{ $original.RelPermalink }}" 
         srcset="{{ range $srcset }}{{ .src }} {{ .width }}w,{{ end }}"
         sizes="(max-width: 767px) 100%,  
                (min-width: 768px) 100%"  
         alt="{{ $alt }}">
{{ else }}
    <p>De opgegeven afbeelding kon niet worden gevonden: {{ $src }}</p>
{{ end }}
