<!-- JS here -->
<!--
<script defer src="{{ "js/vendor/jquery-3.6.0.min.js" | relURL }}"></script>
<script defer src="{{ "js/vendor/waypoints.min.js" | relURL }}"></script>
<script defer src="{{ "js/sidebar.js" | relURL }}"></script>
<script defer src="{{ "js/bootstrap.bundle.min.js" | relURL }}"></script>
<script defer src="{{ "js/meanmenu.js" | relURL }}"></script>
<script defer src="{{ "js/backToTop.js" | relURL }}"></script>
<script defer src="{{ "js/swiper-bundle.min.js" | relURL }}"></script>
<script defer src="{{ "js/slick.min.js" | relURL }}"></script>
<script defer src="{{ "js/magnific-popup.min.js" | relURL }}"></script>
<script defer src="{{ "js/ajax-form.js" | relURL }}"></script>
<script defer src="{{ "js/jquery.appear.js" | relURL }}"></script>
<script defer src="{{ "js/jquery.odometer.min.js" | relURL }}"></script>
<script defer src="{{ "js/service-accordion.js" | relURL }}"></script>
<script defer src="{{ "js/chroma.min.js" | relURL }}"></script>
<script defer src="{{ "js/SplitText.min.js" | relURL }}"></script>
<script defer src="{{ "js/ScrollSmoother.min.js" | relURL }}"></script>
<script defer src="{{ "js/ScrollToPlugin.min.js" | relURL }}"></script>
<script defer src="{{ "js/ScrollTrigger.min.js" | relURL }}"></script>
<script defer src="{{ "js/gsap.min.js" | relURL }}"></script>
<script defer src="{{ "js/vanilla-tilt.js" | relURL }}"></script>
<script defer src="{{ "js/main.js" | relURL }}"></script>
-->
<script defer src="{{ "js/bundle.js" | relURL }}"></script>