
              <div class="sidebar__widget mb-40">
                <div class="sidebar__widget-content">
                    <div class="sidebar__tag_marin">
                      <a href="{{ "/vakantiehuis-website-laten-maken" | relURL }}">Vakantiehuis</a>
                      <a href="{{ "/hotel-website-laten-maken" | relURL }}">Hotel</a>
                      <a href="{{ "/rijschool-website-laten-maken" | relURL }}">Rijschool</a>
                      <a href="{{ "/schoonheidssalon-website-laten-maken" | relURL }}">Schoonheidssalon</a>
                      <a href="{{ "/vacature-website-laten-maken" | relURL }}">Vacature</a>
                      <a href="{{ "/hovenier-website-laten-maken" | relURL }}">Hovenier</a>
                      <a href="{{ "/loodgieter-website-laten-maken" | relURL }}">Loodgieter</a>
                      <a href="{{ "/bakker-website-laten-maken" | relURL }}">Bakker</a>
                      <a href="{{ "/tandarts-website-laten-maken" | relURL }}">Tandarts</a>
                      <a href="{{ "/zzp-website-laten-maken" | relURL }}">Zzp</a>
                      <a href="{{ "/kapper-website-laten-maken" | relURL }}">Kapper</a>
                      <a href="{{ "/zorginstelling-website-laten-maken" | relURL }}">Zorginstelling</a>
                      <a href="{{ "/bouwbedrijf-website-laten-maken" | relURL }}">Bouwbedrijf</a>
                    </div>
                </div>
            </div>
