
              <div class="sidebar__widget mb-40">
                <div class="sidebar__widget-content">
                    <div class="sidebar__tag_marin">
                      <a href="{{ "/website-laten-maken-tandarts" | relURL }}">Tandarts</a>
                      <a href="{{ "/taxi-website-laten-maken" | relURL }}">Taxi</a>
                      <a href="{{ "/kapper-website-laten-maken" | relURL }}">Kapper</a>
                      <a href="{{ "/zakelijke-website-laten-maken" | relURL }}">Zakelijk</a>
                      <a href="{{ "/website-laten-maken-schoonheidssalon" | relURL }}">Schoonheidssalon</a>
                      <a href="{{ "/website-laten-maken-bakker" | relURL }}">Bakker</a>
                      <a href="{{ "/website-laten-maken-zzp" | relURL }}">ZZP</a>
                    </div>
                </div>
            </div>
