
                <p class="xlarge">WebReaktor bedient met trots een breed scala aan klanten door heel Zuid-Nederland. We hebben een sterke klantenkring opgebouwd in steden zoals 
                    <a href="{{ "/heerlen" | relURL }}" class="kleur">Heerlen</a>, 
                    <a href="{{ "/sittard" | relURL }}" class="kleur">Sittard</a>, 
                    <a href="{{ "/kerkrade" | relURL }}" class="kleur">Kerkrade</a>, 
                    <a href="{{ "/weert" | relURL }}" class="kleur">Weert</a>, 
                    <a href="{{ "/venlo" | relURL }}" class="kleur">Venlo</a>, 
                    <a href="{{ "/maastricht" | relURL }}" class="kleur">Maastricht</a>, 
                    <a href="{{ "/breda" | relURL }}" class="kleur">Breda</a>.
                </p>

