
                <p class="xlarge">WebReaktor bedient met trots een breed scala aan klanten door heel Zuid-Nederland. We hebben een sterke klantenkring opgebouwd in steden zoals 
                    <a href="{{ "/website-laten-maken-heerlen" | relURL }}" class="kleur">Heerlen</a>, 
                    <a href="{{ "/website-laten-maken-sittard" | relURL }}" class="kleur">Sittard</a>, 
                    <a href="{{ "/website-laten-maken-kerkrade" | relURL }}" class="kleur">Kerkrade</a>, 
                    <a href="{{ "/website-laten-maken-weert" | relURL }}" class="kleur">Weert</a>, 
                    <a href="{{ "/website-laten-maken-venlo" | relURL }}" class="kleur">Venlo</a>, 
                    <a href="{{ "/website-laten-maken-maastricht" | relURL }}" class="kleur">Maastricht</a>, 
                    <a href="{{ "/website-laten-maken-breda" | relURL }}" class="kleur">Breda</a>.
                </p>

