{{ define "main" }}
<main>

               <!-- hero area start  -->
               <section class="hero-2-area p-relative fix">
                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row align-items-center">
                            <div class="col-xl-7">
                                <div class="hero-3__content p-relative">
                                  <div class="breadcrumb-menu mb-20">
                                    <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                        <ul class="trail-items">
                                            <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                            <a href="{{ "/marketing-bureau-limburg" | relURL }}"><li class="trail-item"><span>Marketing bureau Limburg</span></li></a>                                    
                                        </ul>
                                    </nav>
                                </div>
                                    <h1 class="mb-50">
                                      Marketing bureau Limburg
                                    </h1>
                                    <p class="hero-3__text p-text">
                                        Zoek je een marketingbureau in Limburg? Ontdek WebReaktor, waar ambitie en innovatie samenkomen om jouw bedrijf te laten groeien. Als jouw full-service marketingbureau zetten we ons in voor marketing die converteert, van een opvallend ontwerp tot een responsieve website. Ons team biedt alle expertise onder één dak en benadert jouw marketinguitdagingen met een 360º perspectief. Klaar voor resultaatgerichte marketing? WebReaktor is jouw partner voor succes in Limburg en verder. 
                                    </p>
                                    <div class="hero-3__btn btn_wrapper mb-30">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="page-title-thumb">
                                    <img src="{{ "/img/marketing-bureau/marketing-bureau1.jpg" | relURL }}" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg ">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/marketing-bureau/marketing-bureau-limburg.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Stapsgewijze groei naar succes</h2>
                        <p class="p-text">Elke stap die je met WebReaktor zet, is een stap richting grotere successen. Wij geloven in gestage vooruitgang en meetbare resultaten. Met ons aan je zijde zul je de kracht van gerichte marketingstrategieën ervaren die je bedrijf trapsgewijs naar nieuwe hoogtes leiden. 
                        </p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Jouw marketing bureau in Limburg
                        </h2>
                        <p class="section-intro-paragraph xlarge p-text">We begrijpen de unieke uitdagingen en kansen die de regio biedt en zijn hier om jouw bedrijf naar nieuwe hoogten te tillen. Ontdek onze gespecialiseerde diensten die zijn ontworpen om jouw merk te laten groeien en bloeien in het digitale tijdperk.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/promotion.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Social media marketing</h3>
                            </div>
                            <p class="xlarge">Wil je een diepere connectie met je publiek opbouwen? Onze social media strategieën zijn op maat gemaakt om jouw unieke merkverhaal te delen en echte gesprekken te stimuleren. <a href="/social-media-marketing-agency" class="kleur">Ontdek meer over onze social media marketing aanpak.</a>
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/email.png" | relURL }}">
                                <h3 class="service-branding-title">E-mail marketing</h3>
                            </div>
                            <p class="xlarge">Bereik je klanten direct met boodschappen die ertoe doen. Onze e-mailmarketing is persoonlijk, doelgericht en ontworpen om jouw relatie met je klanten te versterken. <a href="/e-mail-marketing-bureau" class="kleur">Leer hoe onze e-mail marketing jou kan ondersteunen.</a></p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/online-video.png" | relURL }}">
                                <h3 class="service-branding-title">Videomarketing</h3>
                            </div>
                            <p class="xlarge">Laat je merk in actie zien met boeiende videocontent. Of het nu gaat om het demonstreren van een product of het delen van een klantverhaal, onze videomarketingdiensten zijn er om jouw boodschap te versterken. <a href="/videomarketing-bureau" class="kleur">Verken de mogelijkheden van videomarketing voor jouw bedrijf.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/marketing-bureau/marketing-bureau5.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

      <!-- foto links text rechts begin, verschillende branches shortcode -->
      <section class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet-marin2">
                        <h2 class="p-text">Websites op maat</h2>
                        <p class="p-text">Bij WebReaktor vertalen we jouw unieke ideeën naar op maat gemaakte websites. Ons team zet zich in voor het creëren van visueel aantrekkelijke en functionele sites die jouw bedrijf perfect weerspiegelen.</p>
                        <p class="p-text">Ontdek hoe wij voor elke branche een op maat gemaakte, effectieve online aanwezigheid kunnen realiseren.</p>
                    </div>
    {{ partial "shortcode.html" . }}
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
  <img src="{{ "/img/website-laten-maken-limburg/website-laten-maken-limburg3.jpg" | relURL }}" alt="image not found">             
</div>
</div>
</div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin, stedenShortcode start -->
        <section
class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="service-page-title-contenet-marin">
                <h2 class="p-text">Waarom de hulp inschakelen van een online marketingbureau in Limburg?
                </h2>
                <p class="xlarge">We leven in een wereld waar een antwoord op bijna alles slechts een klik verwijderd is. Stel je voor, je bent op vakantie op zoek naar een gezellig restaurantje. Wat doe je? Juist, je pakt je smartphone en vraagt Google om raad. Van "Wat is er dit weekend te doen?" tot "Hoe krijg ik die vlek uit mijn bank?" - Google is onze go-to voor vrijwel alles.
                </p>
                <p class="xlarge">Maar wat betekent dit voor jouw bedrijf? Simpel: online zichtbaar zijn is cruciaal. Hoe meer mensen je vinden, hoe bekender je wordt, en hoe sneller je jouw doelen bereikt. Maar om echt op te vallen, heb je een slimme strategie nodig. En daar komt Search Engine Advertising (SEA) om de hoek kijken.
                </p>
    {{ partial "marketingBureau.html" . }}
</div>
    <div class="button-item mt-50">
        <a href="{{ "contact" | relURL }}" class="border-btn">
            <span class="btn-text">Neem contact op</span>
            <span class="btn-icon"><i class="flaticon-next"></i></span>
        </a>                        
    </div>
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
        <img src="{{ "/img/marketing-bureau/marketing-bureau-social-media.jpg" | relURL }}" alt="image not found">
</div>
</div>
</div>
</section>

    <!-- approch area start -->
    {{ partial "marketingBureauStappenplan.html" . }}
    <!-- approch area end -->

    <!-- faq area start -->
    {{ partial "marketingBureauVragen.html" . }}
    <!-- faq area end -->

  <!-- title intro area -->
  <section class="title-intro-area fix primary-bg">
    <div class="container">
        <div class="title-intro-wrapper section-spacing">
            <div class="intro__title-wrapper">
                <h2 class="intro__title-inner folks-text">Let's Babbel</h2>
            </div>
            <div class="intro-brn">
                <a href="{{ "contact" |relURL }}" class="circle-btn is-green">
                    <span class="icon-box"><i class="flaticon-next"></i></span>
                    <img src="{{ "img/icons/contact-btn-text.png" | relURL }}" alt="image not found" class="image-text">


                </a>
            </div>
        </div>
    </div>
</section>
<!-- title intro end -->
</main>
{{end}}