{{ define "main" }}
<main>

               <!-- hero area start  -->
               <section class="hero-2-area p-relative fix">
                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row align-items-center">
                            <div class="col-xl-7">
                                <div class="hero-3__content p-relative">
                                  <div class="breadcrumb-menu mb-20">
                                    <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                        <ul class="trail-items">
                                            <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                   
                                        </ul>
                                    </nav>
                                </div>
                                    <h1 class="mb-50">
                                      Marketing bureau Sittard
                                    </h1>
                                    <p class="hero-3__text p-text">
                                        In het historische en levendige Sittard, waar traditie en innovatie samenkomen, staat WebReaktor klaar om jouw bedrijf naar een hoger niveau te tillen. Met een mix van lokale inzichten en wereldwijde marketingtrends, bieden wij strategieën die echt resoneren met jouw publiek. Of je nu een start-up bent of een gevestigde onderneming, ons team is gepassioneerd om jouw merk te laten schitteren in Sittard en ver daarbuiten.
                                    </p>
                                    <div class="hero-3__btn btn_wrapper mb-30">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="page-title-thumb">
                                    <img src="{{ "/img/marketing-bureau/marketing-bureau1.jpg" | relURL }}" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg ">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/marketing-bureau/marketing-bureau-limburg.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Unieke strategieën voor Sittardse bedrijven </h2>
                        <p class="p-text">In de unieke stedelijke mix van Sittard zet WebReaktor lokale kennis om in marketingmagie. Hier combineren we traditionele waarden met frisse, innovatieve ideeën om jouw merk een onderscheidende stem te geven. Of je nu lokaal wilt groeien of je vleugels wilt uitslaan, we hebben de tools en de creativiteit om jouw visie tot leven te brengen.
                        </p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Onze kernservices
                        </h2>
                        <p class="section-intro-paragraph xlarge p-text">Bij WebReaktor begrijpen we dat een sterke online aanwezigheid cruciaal is voor succes in Sittard en daarbuiten. Daarom bieden we een reeks gespecialiseerde marketingdiensten aan, elk ontworpen om je merk te laten opvallen en je publiek te betrekken. Of je nu je sociale media wilt versterken, effectiever wilt communiceren via e-mail of een onvergetelijke visuele indruk wilt maken, wij hebben de expertise die je nodig hebt.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/promotion.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Social media marketing</h3>
                            </div>
                            <p class="xlarge">Duik in de dynamische wereld van social media met strategieën die speciaal zijn afgestemd op jouw merk en doelgroep. Wij helpen je authentieke connecties te maken en je community in Sittard en verder te laten groeien. <a href="/social-media-marketing-agency" class="kleur">Ontdek meer over onze social media marketing aanpak.</a>
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/email.png" | relURL }}">
                                <h3 class="service-branding-title">E-mail marketing</h3>
                            </div>
                            <p class="xlarge">Bereik je klanten rechtstreeks met doelgerichte en persoonlijke e-mailcampagnes. Onze e-mailmarketing is ontworpen om je relaties te versterken en je conversies te verhogen. <a href="/e-mail-marketing-bureau" class="kleur">Leer hoe onze e-mail marketing jou kan ondersteunen.</a></p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/online-video.png" | relURL }}">
                                <h3 class="service-branding-title">Videomarketing</h3>
                            </div>
                            <p class="xlarge">Breng je boodschap tot leven met boeiende videocontent. Of je nu je verhaal wilt vertellen of je producten wilt demonstreren, onze videomarketing trekt de aandacht en laat een blijvende indruk achter. <a href="/videomarketing-bureau" class="kleur">Verken de mogelijkheden van videomarketing voor jouw bedrijf.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/marketing-bureau/marketing-bureau5.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

      <!-- foto links text rechts begin, verschillende branches shortcode -->
      <section class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet-marin2">
                        <h2 class="p-text">Websites op maat</h2>
                        <p class="p-text">Bij WebReaktor vertalen we jouw unieke ideeën naar op maat gemaakte websites. Ons team zet zich in voor het creëren van visueel aantrekkelijke en functionele sites die jouw bedrijf perfect weerspiegelen.</p>
                        <p class="p-text">Ontdek hoe wij voor elke branche een op maat gemaakte, effectieve online aanwezigheid kunnen realiseren.</p>
                    </div>
    {{ partial "shortcode.html" . }}
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
  <img src="{{ "/img/website-laten-maken-limburg/website-laten-maken-limburg3.jpg" | relURL }}" alt="image not found">             
</div>
</div>
</div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin, stedenShortcode start -->
        <section
class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="service-page-title-contenet-marin">
                <h2 class="p-text">Waarom WebReaktor de juiste keuze is
                </h2>
                <p class="xlarge">Bij WebReaktor begrijpen we dat het kiezen van de juiste marketingpartner essentieel is voor jouw succes in Sittard. We onderscheiden ons door niet alleen je behoeften te begrijpen, maar ook door actief deel uit te maken van jouw groeiproces. Onze toewijding gaat verder dan gewone dienstverlening; we streven naar een partnerschap waarbij jouw doelen de onze worden.
                </p>
                <p class="xlarge">Ons team, een mix van lokale experts en brede denkers, is jouw grootste troef. We combineren diepgaande lokale inzichten met wereldwijde marketingtrends om strategieën te creëren die resoneren en renderen. Met WebReaktor aan je zijde kun je vertrouwen op een proactieve aanpak en continue innovatie. Samen navigeren we door de steeds veranderende marketingwereld, zodat jouw bedrijf niet alleen vandaag succesvol is, maar ook klaar voor de toekomst.
                </p>
    {{ partial "marketingBureau.html" . }}
</div>
    <div class="button-item mt-50">
        <a href="{{ "contact" | relURL }}" class="border-btn">
            <span class="btn-text">Neem contact op</span>
            <span class="btn-icon"><i class="flaticon-next"></i></span>
        </a>                        
    </div>
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
        <img src="{{ "/img/marketing-bureau/marketing-bureau-social-media.jpg" | relURL }}" alt="image not found">
</div>
</div>
</div>
</section>

    <!-- approch area start -->
    {{ partial "marketingBureauStappenplan.html" . }}
    <!-- approch area end -->

    <!-- faq area start -->
    {{ partial "marketingBureauVragen.html" . }}
    <!-- faq area end -->

  <!-- title intro area -->
  {{ partial "letsBabbelZwart.html" . }}
<!-- title intro end -->
</main>
{{end}}