{{ define "main" }}
<main>

  <!-- hero area start  -->
  <section class="hero-area section-spacing p-relative fix">
      <div class="adjust-header-space"></div>
      <div class="hero-area__bg">
        <img src="img/bg/hero-bg-1.jpg" alt="">
      </div>
      <div class="hero__shapes d-none d-md-block">
          <img class="hero__shape-1" src="img/shapes/star-1.png" alt="image not found">
          <img class="hero__shape-2" src="img/shapes/star-2.png" alt="image not found">
      </div>
      <div class="meta-item meta-item-call d-none d-sm-flex">
          <div class="meta-item__icon">
              <img src="img/icons/dial-pad.png" alt="image not found">
          </div>
          <div class="meta-item__text">
              <p><a href="tel:0031850608121">085 060 8121</a></p>
          </div>
      </div>
      <div class="scroll-btn d-none d-sm-flex">
          <a href="#"><span>SCROLL</span></a>
      </div>
      <div class="container">
          <div class="hero-inner p-relative">
              <div class="row">
                  <div class="col-xl-8 col-lg-8">
                      <div class="hero__content">
                        <h1 class="hero__title animation__char_come">
                            Innovatie en 
                            <span class="tpl__theme-color">
                                snelheid
                            </span>
                            <span>
                                ervaar
                            </span>
                            digitale transformatie
                        </h1>
                        
                        <p class="hero__text large title-anim">
                            WebReaktor: Waar elke pixel telt en elke klik verbindt. Wij weven het web van jouw digitale dromen, mengen technologie met creativiteit, en brengen jouw online visie tot leven, klik voor klik.
                        </p>
                          <div class="hero__btn">
                            <a href="{{ "/over-ons" | relURL }}" class="circle-btn">
                                <span class="icon-box"><i class="flaticon-next"></i></span>
                                <img src="{{ "/img/icons/download.png" | relURL }}" alt="image not found" class="image-text">
                            </a>                            
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- hero area end  -->



  <!-- about area start  -->
  <div class="about-area section-spacing p-relative">
      <div class="about__shapes">
          <img class="about-area__shape-1" src="img/shapes/star-1.png" alt="image not found">
      </div>
      <div class="container">
          <div class="row section-title-spacing">
              <div class="col-xl-12">
                  <div class="section__title-wrapper section__title-wrapper-about">
                      <div class="section__subtitle tpl__item-center">
                          <div class="section__subtitle-icon">
                              <img src="images/WebReaktor-logo-icon.png" alt="image not found">
                          </div>
                          <p class="section__subtitle-text">
                              WebReaktor, in het kort
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="about__content">
              <p class="p-text xlarge">Webdesign en online marketing, alles onder één dak. Met een passie voor het creëren van visueel verbluffende websites en het implementeren van effectieve marketingstrategieën, streven wij ernaar resultaten te leveren die de verwachtingen van onze klanten telkens weer opnieuw overtreffen. Wij helpen jou op te vallen in de overvolle online markt.

              </p>
          </div>
      </div>
  </div>
  <!-- about area end  -->

  <!-- award scroll area start  -->
  <section class="award__scroll-area  mb-30 fix">
      <div class="swiper text__scroll">
          <div class="swiper-wrapper award-scroll-wrapper">
              <div class="swiper-slide">
                  <div class="award-scroll-line">
                    <h2 class="award-scroll-line__heading xlarge uppercase">
                        WEBREAKTOR / DIGITALE CREATIVITEIT
                    </h2>
                    
                    
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="award-scroll-line">
                    <h2 class="award-scroll-line__heading xlarge uppercase">
                        / MEESTERS IN WEBSITES
                    </h2>
                    
                    
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- award scroll area end  -->

  <!-- award scroll area start  -->
  <section class="award__scroll-area fix">
      <div dir="rtl" class="swiper text__scroll">
          <div class="swiper-wrapper award-scroll-wrapper">
              <div class="swiper-slide">
                  <div class="award-scroll-line-2">
                    <h2 class="award-scroll-line__heading xlarge uppercase">
                        JOUW KEUZE VOOR TOPKLASSE DIGITALE INNOVATIE
                    </h2>
                    
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="award-scroll-line-2">
                    <h2 class="award-scroll-line__heading xlarge uppercase">
                        JOUW KEUZE VOOR TOPKLASSE DIGITALE INNOVATIE
                    </h2>
                    
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- award scroll area end  -->

  <!-- contact area start  -->
  <div class="contact-area pt-55 section-spacing-bottom p-relative">
      <div class="contact__shapes">
          <img class="contact-area__shape-1" src="img/shapes/star-1.png" alt="image not found">
          <img class="contact-area__shape-2" src="img/shapes/spiral.png" alt="image not found">
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="contact__btn tpl__item-center">
                      <a href="/contact" class="circle-btn is-green">
                          <span class="icon-box"><i class="flaticon-next"></i></span>
                          <img src="img/icons/contact-btn-text.png" alt="image not found"
                              class="image-text">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- contact area end  -->

  <!-- services area start  -->
  <section class="services-area section-spacing p-relative fix">
      <div class="services-area__bg">
          <img src="img/bg/cube-dot-bg.jpg" alt="image not found">
      </div>
      <div class="container">
          <div class="row align-items-end g-5 section-title-spacing">
              <div class="col-lg-8">
                  <div class="section__title-wrapper section__title-wrapper-services ">
                      <div class="section__subtitle">
                          <div class="section__subtitle-icon">
                             <img src="images/WebReaktor-logo-icon.png" alt="image not found">
                          </div>
                          <p class="section__subtitle-text">
                              Onze diensten
                          </p>
                      </div>
                      <h2 class="section__title-main xlarge uppercase title-anim">wat wij doen</h2>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="services__btn d-flex justify-content-lg-end mb-20">
                      <a href="/diensten" class="border-bottom-btn">Bekijk alle diensten</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="services-wrapper">
          <div class="container">
              <div class="swiper-container service-slider">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="service__box">
                              <h4 class="service__title">
                                  <a href="/maatwerk-website-laten-maken"><i class="flaticon-next"></i>Maatwerk website</a>
                              </h4>
                              <div class="service__content-wrapper">
                                  <div class="service__content">
                                      <div class="">
                                          <h4 class="service__title">Maatwerk website</h4>
                                          <div class="service__list">
                                              <ul>
                                                  <li>Creatief design</li>
                                                  <li>Clean code</li>
                                                  <li>Razendsnel</li>
                                                  <li>Beste voor SEO</li>
                                                  <li>Hugo framework</li>
                                                  <li>HTML5, CSS3, en JS</li>
                                                  <li>Bijzonder veilig</li>
                                                  <li>Geen externe plugins</li>
                                                  <li>Vanaf € 25.000,-</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="service__btn">
                                          <a href="/maatwerk-website-laten-maken"><i
                                                  class="flaticon-next"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="service__box">
                              <h4 class="service__title">
                                  <a href="/webshop-laten-maken"><i class="flaticon-next"></i>Webshop</a>
                              </h4>
                              <div class="service__content-wrapper">
                                  <div class="service__content">
                                      <div class="">
                                          <h4 class="service__title">Webshop</h4>
                                          <div class="service__list">
                                              <ul>
                                                  <li>Woocommerce</li>
                                                  <li>SEO-geoptimaliseerd</li>
                                                  <li>Creatief ontwerp</li>
                                                  <li>iDeal koppeling</li>
                                                  <li>Gebruiksvriendelijk</li>
                                                  <li>SSL beveiligd</li>
                                                  <li>Maandelijke rapportages</li>
                                                  <li>Klantenportaal</li>
                                                  <li>Conversie geoptimaliseerd</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="service__btn">
                                          <a href="/webshop-laten-maken"><i
                                                  class="flaticon-next"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="service__box">
                              <h4 class="service__title">
                                  <a href="/wordpress-website-laten-maken"><i class="flaticon-next"></i>Wordpress website</a>
                              </h4>
                              <div class="service__content-wrapper">
                                  <div class="service__content">
                                      <div class="">
                                          <h4 class="service__title">Wordpress website</h4>
                                          <div class="service__list">
                                              <ul>
                                                  <li>Gebruiksvriendelijk</li>
                                                  <li>Makkelijk zelf te beheren</li>
                                                  <li>Nieuwste technologie</li>
                                                  <li>SEO-geoptimaliseerd</li>
                                                  <li>Meerdere ontwerprevisies</li>
                                                  <li>Hoge snelheid</li>
                                                  <li>Brede functionaliteit</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="service__btn">
                                          <a href="/wordpress-website-laten-maken"><i
                                                  class="flaticon-next"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="service__box">
                              <h4 class="service__title">
                                  <a href="/branding"><i class="flaticon-next"></i>Branding</a>
                              </h4>
                              <div class="service__content-wrapper">
                                  <div class="service__content">
                                      <div class="">
                                          <h4 class="service__title">Branding</h4>
                                          <div class="service__list">
                                              <ul>
                                                  <li>Huisstijl laten ontwerpen </li>
                                                  <li>Logo laten maken</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="service__btn">
                                          <a href="/branding"><i
                                                  class="flaticon-next"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="service__box">
                              <h4 class="service__title">
                                  <a href="/marketing"><i class="flaticon-next"></i>Marketing</a>
                              </h4>
                              <div class="service__content-wrapper">
                                  <div class="service__content">
                                      <div class="">
                                          <h4 class="service__title">Marketing</h4>
                                          <div class="service__list">
                                              <ul>
                                                  <li>Social media marketing</li>
                                                  <li>E-mail marketing</li>
                                                  <li>Videomarketing</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="service__btn">
                                          <a href="/marketing"><i
                                                  class="flaticon-next"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="service__box">
                              <h4 class="service__title">
                                  <a href="/vindbaarheid"><i class="flaticon-next"></i>Vindbaarheid</a>
                              </h4>
                              <div class="service__content-wrapper">
                                  <div class="service__content">
                                      <div class="">
                                          <h4 class="service__title">Vindbaarheid</h4>
                                          <div class="service__list">
                                              <ul>
                                                  <li>Zoekmachine optimalisatie</li>
                                                  <li>Zoekmachine advertenties</li>
                                                  <li>Linkbuilding</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="service__btn">
                                          <a href="/vindbaarheid"><i
                                                  class="flaticon-next"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- services area end  -->

  <!-- featured works area start  -->
  <section class="featured-works-area section-spacing p-relative fix" >
      <div class="container">
          <div class="row section-title-spacing">
              <div class="col-lg-12">
                  <div class="section__title-wrapper">
                      <div class="section__subtitle tpl__item-center">
                          <div class="section__subtitle-icon">
                             <img src="images/WebReaktor-logo-icon.png" alt="image not found">
                          </div>
                          <p class="section__subtitle-text">
                            Uitgelichte creaties
                        </p>
                        </div>
                        <h2 class="section__title-main xlarge uppercase tpl__item-center title-anim">
                            Een paar projecten
                        </h2>
                        
                  </div>
              </div>
          </div>
          <div class="featured__works-inner">
              <div class="featured__works-grid mb-30">
                  <div class="featured-work">
                      <div class="featured__work-wrapper">
                          <div class="featured__work-thumb p-relative topylo-tilt">
                              <div class="project__thumb-1">
                                  <a href="{{ relref . "portfolio/zautsen-kantoorinrichting.md" }}"><img src="{{ "/img/projects/zautsen2.jpg" | relURL }}" alt="image not found">
                                  </a>
                              </div>
                              <div class="featured__work-view-btn">
                                  <a href="{{ relref . "portfolio/zautsen-kantoorinrichting.md" }}" class="text-btn"><span
                                          class="btn-text"><span>Bekijk</span>
                                          project</span></a>
                              </div>
                          </div>
                          <div class="featured__work-content">
                              <h4 class="project__title">
                                <a href="{{ relref . "portfolio/zautsen-kantoorinrichting.md" }}">Zautsen Kantoorinrichting</a>
                              </h4>
                              <p class="project__tags">
                                  Website, Webshop, SEO, Branding
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="featured-work">
                      <div class="featured__work-wrapper">
                          <div class="featured__work-thumb p-relative topylo-tilt">
                              <div class="project__thumb-2">

                                          <a href="/"><img src="img/projects/project-3.jpg"
                                            alt="image not found"></a>
                              </div>
                              <div class="featured__work-view-btn">
                                  <a href="/" class="text-btn"><span
                                          class="btn-text"><span>Bekijk</span>
                                          project</span></a>
                              </div>
                          </div>
                          <div class="featured__work-content">
                              <h4 class="project__title">
                                  <a href="/">Aangereden door auto</a>
                              </h4>
                              <p class="project__tags">
                                Website, SEO, SEA
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="featured-work">
                      <div class="featured__work-wrapper">
                          <div class="featured__work-thumb p-relative topylo-tilt">
                              <div class="project__thumb-3">
                                <a href="/"><img src="img/projects/project-1.jpg"
                                    alt="image not found"></a>
                              </div>
                              <div class="featured__work-view-btn">
                                  <a href="/" class="text-btn"><span
                                          class="btn-text"><span>Bekijk</span>
                                          project</span></a>
                              </div>
                          </div>
                          <div class="featured__work-content">
                              <h4 class="project__title">
                                  <a href="/">Letseldirect</a>
                              </h4>
                              <p class="project__tags">
                                SEO
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="featured-work">
                      <div class="featured__work-wrapper">
                          <div class="featured__work-thumb p-relative topylo-tilt">
                              <div class="project__thumb-4">
                                  <a href="/"><img src="img/projects/project-4.jpg"
                                          alt="image not found"></a>
                              </div>
                              <div class="featured__work-view-btn">
                                  <a href="/" class="text-btn"><span
                                          class="btn-text"><span>Bekijk</span>
                                          project</span></a>
                              </div>
                          </div>
                          <div class="featured__work-content">
                              <h4 class="project__title">
                                  <a href="/">Lipomassage</a>
                              </h4>
                              <p class="project__tags">
                                Website, SEO
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6 col-md-6 order-md-1">
                      <div class="featured__works-all-view-btn p-relative tpl__item-center">
                          <div class="featured-works-area__shapes">
                              <img class="featured-works-area__shape-1"
                                  src="img/shapes/arrow-curve.png" alt="image not found">
                          </div>
                          <a href="/over-ons" class="border-btn"><span class="btn-text-2">Meer over WebReaktor</span><span class="btn-icon"><i
                                      class="flaticon-next"></i></span></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- featured works area end  -->

  <!-- team area start  -->
  <section class="team-area section-spacing p-relative">
      <div class="team-area__overlay" data-background="img/bg/box-gradient-bg.jpg"></div>
      <div class="container">
          <div class="row align-items-end g-5 section-title-spacing">
              <div class="col-lg-6">
                  <div class="section__title-wrapper">
                      <div class="section__subtitle">
                          <div class="section__subtitle-icon">
                              <img src="./images/WebReaktor-logo-icon.png" alt="image not found">
                          </div>
                          <p class="section__subtitle-text">
                              Onze drijfveren
                          </p>
                      </div>
                      <h2 class="section__title-main xlarge uppercase title-anim">ons <br> management
                      </h2>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="team__meta-description mb-10">
                      <p class="xlarge">Ontmoet de meesters van de strategie en creativiteit: ons managementteam. Zij zijn de breinen en het hart van onze operatie, altijd klaar om grenzen te verleggen</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="team__wrapper anim-skewinup">
              <div class="team__member">
                  <span class="member-designation">App Designer</span>

                      <div class="member-name">
                          <span class="first-name">Marin</span>
                          <div class="member-image"><img src="img/team/team-1.jpg"
                                  alt="image not found">
                          </div>
                          <span class="last-name">Oprichter</span>
                      </div>

              </div>
              <div class="team__member">
                  <span class="member-designation">UI/UX Designer</span>

                      <div class="member-name">
                          <span class="first-name">Boris</span>
                          <div class="member-image">
                              <img src="img/team/team-2.jpg" alt="image not found">
                          </div>
                          <span class="last-name">Oprichter</span>
                      </div>


                  </div>
              </div>
              <div class="team__member">
                  <span class="member-designation">Web Developer</span>
     
                      <div class="member-name">
                          <span class="first-name">Irina</span>
                          <div class="member-image">
                              <img src="img/team/team-3.jpg" alt="image not found">
                          </div>
                          <span class="last-name">Designer</span>
                      </div>
   
              </div>
              <div class="team__member">
                  <span class="member-designation">Digital Marketer</span>

                      <div class="member-name">
                          <span class="first-name">Sophie</span>
                          <div class="member-image">
                              <img src="img/team/team-4.jpg" alt="image not found">
                          </div>
                          <span class="last-name">Ferrer</span>
                      </div>

              </div>
          </div>
      </div>
  </section>
  <!-- team area end  -->

   <!-- capabilities area start  -->
   <section class="capabilities-area section-spacing p-relative fix include-bg" data-background="img/bg/grid-line-4.png">
      <div class="area-shapes">
          <img class="capabilities-area__shape-1" src="img/shapes/border-dashed.png"
              alt="image not found">
          <img class="capabilities-area__shape-2" src="./images/boris-border.png"
              alt="image not found">
      </div>
      <div class="container">
          <div class="row gy-50 align-items-center">
              <div class="col-xl-8 col-lg-7">
                  <div class="capabilities__content">
                      <div class="section__title-2-wrapper section__title-2-wrapper-capabilities">
                          <h2 class="section__title-main xlarge uppercase title-anim  mb-40 ">Onze <span class="tpl__theme-color">Werkwijze</span>
                              
                          </h2>
                      </div>
                      <p>WebReaktor is jouw partner voor krachtige en gebruiksvriendelijke websites, SEO-optimalisatie en effectieve Google Ads campagnes. Wij zorgen voor een snelle website met clean code, maar bieden ook oplossingen in WordPress.</p>
                      <div class="area-btn btn_wrapper">
                          <a class="c-button btn-moving" href="/diensten">
                              <span class="c-button__border"></span>
                              <span class="c-button__text">Bekijk onze diensten</span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-5 tp-accordion-fix">
                  <div class="capabilities__accordion">
                      <div class="accordion" id="accordionExample-st-1">
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne-st-1">
                                  <button class="accordion-button " type="button"
                                      data-bs-toggle="collapse" data-bs-target="#collapseOne-st-1"
                                      aria-expanded="false" aria-controls="collapseOne-st-1">
                                      1. Persoonlijke kennismaking
                                      <span class="area-bg">
                                          <img src="img/bg/gallaxy.jpg" alt="image not found">
                                      </span>
                                  </button>
                              </h2>
                              <div id="collapseOne-st-1" class="accordion-collapse collapse show"
                                  aria-labelledby="headingOne-st-1"
                                  data-bs-parent="#accordionExample-st-1">
                                  <div class="accordion-body">
                                      <div class="capabilities-list">
                                        <p>We bespreken graag uitvoerig en geheel vrijblijvend wat wij voor jou kunnen betekenen. Dat kan bij ons op kantoor, via beeldbellen of bij jou.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo-st-1">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                      data-bs-target="#collapseTwo-st-1" aria-expanded="true"
                                      aria-controls="collapseTwo-st-1">
                                      2. Voorstel en planning
                                      <span class="area-bg">
                                          <img src="img/bg/gallaxy.jpg" alt="image not found">
                                      </span>
                                  </button>
                              </h2>
                              <div id="collapseTwo-st-1" class="accordion-collapse collapse"
                                  aria-labelledby="headingTwo-st-1"
                                  data-bs-parent="#accordionExample-st-1">
                                  <div class="accordion-body">
                                      <div class="capabilities-list">
                                        <p>We presenteren een op maat gemaakte oplossing met een duidelijke planning en offerte, specifiek afgestemd op jouw behoeften.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree-st-1">
                                  <button class="accordion-button collapsed" type="button"
                                      data-bs-toggle="collapse" data-bs-target="#collapseThree-st-1"
                                      aria-expanded="false" aria-controls="collapseThree-st-1">
                                      3. Realisatie en oplevering
                                      <span class="area-bg">
                                          <img src="img/bg/gallaxy.jpg" alt="image not found">
                                      </span>
                                  </button>
                              </h2>
                              <div id="collapseThree-st-1" class="accordion-collapse collapse"
                                  aria-labelledby="headingThree-st-1"
                                  data-bs-parent="#accordionExample-st-1">
                                  <div class="accordion-body">
                                      <div class="capabilities-list">
                                        <p>Of het nu een nieuwe website of een online marketingstrategy betreft, met onze expertise zorgen wij ervoor dat je versteld zult staan.
                                        </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour-st-1">
                                  <button class="accordion-button collapsed" type="button"
                                      data-bs-toggle="collapse" data-bs-target="#collapseFour-st-1"
                                      aria-expanded="false" aria-controls="collapseFour-st-1">
                                      4. Ondersteuning
                                      <span class="area-bg">
                                          <img src="img/bg/gallaxy.jpg" alt="image not found">
                                      </span>
                                  </button>
                              </h2>
                              <div id="collapseFour-st-1" class="accordion-collapse collapse"
                                  aria-labelledby="headingFour-st-1"
                                  data-bs-parent="#accordionExample-st-1">
                                  <div class="accordion-body">
                                      <div class="capabilities-list">
                                        <p>Na oplevering bieden we voortdurende ondersteuning en optimalisatie om ervoor te zorgen dat jouw digitale aanwezigheid sterk blijft.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- capabilities area end  -->

  <!-- testimonial area start  -->
  {{ partial "reviews.html" . }}
  <!-- testimonial area end  -->

  <!-- blog area start  -->
  <section class="blogpost-area section-spacing p-relative fix">
      <div class="blogpost-area__overlay area-absolute"></div>
      <div class="noise-wrapper">
          <div class="noise"></div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section__title-wrapper">
                      <div class="section__subtitle tpl__item-center">
                          <div class="section__subtitle-icon">
                              <img src="./images/WebReaktor-logo-icon.png" alt="image not found">
                          </div>
                          <p class="section__subtitle-text">
                              Laatste Nieuwtjes
                          </p>
                      </div>
                      <h2 class="section__title-main xlarge uppercase tpl__item-center title-anim">
                          Blog & Nieuws</h2>
                  </div>
              </div>
          </div>
          <div class="row align-items-center justify-content-center">
              <div class="col-lg-12">
                  <div class="blog__list">
                      <div class="blog__item-1">
                          <div class="">
                              <p class="tag">Nieuws</p>
                              <h3 class="blog__item-1-title title-block-2"><a href="/hoger-in-google">Hoe score je hoger in Google?</a></h3>
                              <div class="blog__meta-list">
                                  <div class="meta-item">
                                      <p>15 November 2023</p>
                                  </div>
                              </div>
                          </div>
                          <div
                              class="blog__button btn_wrapper d-flex align-items-center justify-content-end">
                              <a class="c-button btn-moving" href="/hoger-in-google">
                                  <span class="c-button__border"></span>
                                  <span class="c-button__text"><i class="flaticon-right-arrow"></i></span>
                              </a>
                          </div>
                          <div class="blog-thumb-hover d-none d-md-block"
                              data-background="img/hoger-in-google/hoger-in-google.jpg"></div>
                      </div>


                      <div class="blog-img-wrap">
                          <div class="blog-img"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- blog area end  -->

  <!-- link scroll area start  -->
  <section class="link-scroll-area p-relative fix pt-55 pb-55 bg-theme-2">
      <div class="link-scroll-area-shape">
      </div>
      <div class="swiper text__scroll">
          <div class="swiper-wrapper link-scroll-wrapper">
              <div class="swiper-slide">
                  <div class="link-scroll-line">
                      <h2 class="link-scroll-line__heading xlarge uppercase">
                          <a href="contact">GET IN <span class="stroke-text">TOUCH</span></a>
                          <a href="contact">GET IN <span class="stroke-text">TOUCH</span></a>
                      </h2>
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="link-scroll-line">
                      <h2 class="link-scroll-line__heading xlarge uppercase">
                          <a href="contact">GET IN <span class="stroke-text">TOUCH</span></a>
                          <a href="contact">GET IN <span class="stroke-text">TOUCH</span></a>
                      </h2>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- link scroll area end  -->
</main>
{{ end }}
