{{ define "main" }}
<main>

  <!-- hero area start  -->
  <section class="hero-area section-spacing p-relative fix">
      <div class="adjust-header-space"></div>
      <div class="hero-area__bg">
        <img src="img/bg/hero-bg-1.jpg" alt="Webreaktors achtergrond vorm">
      </div>

      <div class="meta-item meta-item-call d-none d-sm-flex">
          <div class="meta-item__icon">
              <img src="img/icons/dial-pad.png" alt="toetsen van telefoon">
          </div>
          <div class="meta-item__text">
              <p><a href="tel:0031850608121">085 060 8121</a></p>
          </div>
      </div>
      <div class="scroll-btn d-none d-sm-flex">
         <span></span>
      </div>
      <div class="container">
          <div class="hero-inner p-relative">
              <div class="row">
                  <div class="col-xl-8 col-lg-8">
                      <div class="hero__content">
                        <h1 class="hero__title animation__char_come">
                            Op maat gesneden
                            <span class="tpl__theme-color">
                                websites
                            </span>
                                 en 
                            <span class="tpl__theme-color">
                                marketing
                                </span>
                                <span>
                                    voor digitale
                                </span>
                                <span class="tpl__theme-color">
                                    groei.
                                    </span>
                        </h1>
                        
                        <p class="hero__text large">
                            WebReaktor: Waar elke pixel telt en elke klik verbindt. Wij weven het web van jouw digitale dromen, mengen technologie met creativiteit, en brengen jouw online visie tot leven, klik voor klik.
                        </p>
                          <div class="hero__btn">
                            <a href="{{ "/over-ons" | relURL }}" class="circle-btn">
                                <span class="icon-box"><i class="flaticon-next"></i></span>
                                <img src="{{ "img/icons/product-8.png" | relURL }}" alt="roterende tekst met neem contact op" class="image-text">
                            </a>                            
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- hero area end  -->



  <!-- about area start  -->
  <div class="about-area section-spacing p-relative">
      <div class="container">
          <div class="row section-title-spacing">
              <div class="col-xl-12">
                  <div class="section__title-wrapper section__title-wrapper-about">
                      <div class="section__subtitle tpl__item-center">
                          <div class="section__subtitle-icon">
                              <img src="images/WebReaktor-logo-icon.png" alt="icoon van een webreaktor in het groen">
                          </div>
                          <p class="section__subtitle-text">
                              WebReaktor, in het kort
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="about__content">
              <p class="p-text xlarge">Webdesign en online marketing komen perfect samen bij ons. Wij zijn gedreven door een passie voor het ontwerpen van adembenemende websites en het toepassen van slimme marketingstrategieën. Ons doel? Resultaten neerzetten die niet alleen aan de verwachtingen van onze klanten voldoen, maar deze keer op keer overtreffen.

              </p>
          </div>
      </div>
  </div>
  <!-- about area end  -->

  <!-- award scroll area start  -->
  <section class="award__scroll-area  mb-30 fix">
      <div class="swiper text__scroll">
          <div class="swiper-wrapper award-scroll-wrapper">
              <div class="swiper-slide">
                  <div class="award-scroll-line">
                    <h2 class="award-scroll-line__heading xlarge uppercase">
                         ## DIGITALE CREATIVITEIT ##
                    </h2>
                    
                    
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="award-scroll-line">
                    <h2 class="award-scroll-line__heading xlarge uppercase">
                        STRATEGISCH DESIGN 
                    </h2>
                    
                    
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- award scroll area end  -->

  <!-- award scroll area start  -->
  <section class="award__scroll-area fix">
      <div dir="rtl" class="swiper text__scroll">
          <div class="swiper-wrapper award-scroll-wrapper">
              <div class="swiper-slide">
                  <div class="award-scroll-line-2">
                    <h2 class="award-scroll-line__heading xlarge uppercase">
                        < DIGITAL AGENCY IN HET ZUIDEN DES LANDS <
                    </h2>
                    
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="award-scroll-line-2">
                    <h2 class="award-scroll-line__heading xlarge uppercase">
                        DIGITAL AGENCY IN HET ZUIDEN DES LANDS
                    </h2>
                    
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- award scroll area end  -->

  <!-- contact area start  -->
  <div class="contact-area pt-55 section-spacing-bottom p-relative">
  </div>
  <!-- contact area end  -->

  <!-- services area start  -->
  <section class="services-area section-spacing p-relative fix">
      <div class="services-area__bg">
          <img src="img/bg/cube-dot-bg.jpg" alt="kubus">
      </div>
      <div class="container">
          <div class="row align-items-end g-5 section-title-spacing">
              <div class="col-lg-8">
                  <div class="section__title-wrapper section__title-wrapper-services ">
                      <div class="section__subtitle">
                          <div class="section__subtitle-icon">
                             <img src="images/WebReaktor-logo-icon.png" alt="een webreaktor in het groen">
                          </div>
                          <p class="section__subtitle-text">
                              Onze diensten
                          </p>
                      </div>
                      <h2 class="section__title-main xlarge uppercase title-anim">Duik in ons aanbod</h2>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="services__btn d-flex justify-content-lg-end mb-20">
                      <a href="/diensten" class="border-bottom-btn">Bekijk alle diensten</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="services-wrapper">
          <div class="container">
              <div class="swiper-container service-slider">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="service__box">
                              <h4 class="service__title">
                                  <a href="/maatwerk-website-laten-maken"><i class="flaticon-next"></i>Maatwerk website</a>
                              </h4>
                              <div class="service__content-wrapper">
                                  <div class="service__content">
                                      <div class="">
                                          <h4 class="service__title">Maatwerk website</h4>
                                          <div class="service__list">
                                              <ul>
                                                  <li>Creatief design</li>
                                                  <li>Clean code</li>
                                                  <li>Razendsnel</li>
                                                  <li>Beste voor SEO</li>
                                                  <li>Hugo framework</li>
                                                  <li>HTML5, CSS3, en JS</li>
                                                  <li>Bijzonder veilig</li>
                                                  <li>Geen externe plugins</li>
                                                  <li>Vanaf € 25.000,-</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="service__btn">
                                          <a href="/maatwerk-website-laten-maken"><i
                                                  class="flaticon-next"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="service__box">
                              <h4 class="service__title">
                                  <a href="/webshop-laten-maken"><i class="flaticon-next"></i>Webshop</a>
                              </h4>
                              <div class="service__content-wrapper">
                                  <div class="service__content">
                                      <div class="">
                                          <h4 class="service__title">Webshop</h4>
                                          <div class="service__list">
                                              <ul>
                                                  <li>SEO-geoptimaliseerd</li>
                                                  <li>Creatief ontwerp</li>
                                                  <li>iDeal koppeling</li>
                                                  <li>Gebruiksvriendelijk</li>
                                                  <li>SSL beveiligd</li>
                                                  <li>Maandelijke rapportages</li>
                                                  <li>Conversie geoptimaliseerd</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="service__btn">
                                          <a href="/webshop-laten-maken"><i
                                                  class="flaticon-next"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="service__box">
                              <h4 class="service__title">
                                  <a href="/wordpress-website-laten-maken"><i class="flaticon-next"></i>Wordpress website</a>
                              </h4>
                              <div class="service__content-wrapper">
                                  <div class="service__content">
                                      <div class="">
                                          <h4 class="service__title">Wordpress website</h4>
                                          <div class="service__list">
                                              <ul>
                                                  <li>Gebruiksvriendelijk</li>
                                                  <li>Makkelijk zelf te beheren</li>
                                                  <li>Nieuwste technologie</li>
                                                  <li>SEO-geoptimaliseerd</li>
                                                  <li>Meerdere ontwerprevisies</li>
                                                  <li>Hoge snelheid</li>
                                                  <li>Brede functionaliteit</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="service__btn">
                                          <a href="/wordpress-website-laten-maken"><i
                                                  class="flaticon-next"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="service__box">
                            <h4 class="service__title">
                                <a href="/vindbaarheid"><i class="flaticon-next"></i>Vindbaarheid</a>
                            </h4>
                            <div class="service__content-wrapper">
                                <div class="service__content">
                                    <div class="">
                                        <h4 class="service__title">Vindbaarheid</h4>
                                        <div class="service__list">
                                            <ul>
                                                <li>Hoger in Google (SEO)</li>
                                                <li>Google advertenties (SEA)</li>
                                                <li>Linkbuilding</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="service__btn">
                                        <a href="/vindbaarheid"><i
                                                class="flaticon-next"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="swiper-slide">
                          <div class="service__box">
                              <h4 class="service__title">
                                  <a href="/branding"><i class="flaticon-next"></i>Branding</a>
                              </h4>
                              <div class="service__content-wrapper">
                                  <div class="service__content">
                                      <div class="">
                                          <h4 class="service__title">Branding</h4>
                                          <div class="service__list">
                                              <ul>
                                                  <li>Huisstijl laten ontwerpen </li>
                                                  <li>Logo laten maken</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="service__btn">
                                          <a href="/branding"><i
                                                  class="flaticon-next"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="service__box">
                              <h4 class="service__title">
                                  <a href="/marketing"><i class="flaticon-next"></i>Marketing</a>
                              </h4>
                              <div class="service__content-wrapper">
                                  <div class="service__content">
                                      <div class="">
                                          <h4 class="service__title">Marketing</h4>
                                          <div class="service__list">
                                              <ul>
                                                  <li>Social media marketing</li>
                                                  <li>E-mail marketing</li>
                                                  <li>Videomarketing</li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="service__btn">
                                          <a href="/marketing"><i
                                                  class="flaticon-next"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- services area end  -->

  <!-- featured works area start  -->
  <section class="featured-works-area section-spacing p-relative fix" >
      <div class="container">
          <div class="row section-title-spacing">
              <div class="col-lg-12">
                  <div class="section__title-wrapper">
                      <div class="section__subtitle tpl__item-center">
                          <div class="section__subtitle-icon">
                             <img src="images/WebReaktor-logo-icon.png" alt="een webreaktor in het groen">
                          </div>
                          <p class="section__subtitle-text">
                            Uitgelichte creaties
                        </p>
                        </div>
                        <h2 class="section__title-main xlarge uppercase tpl__item-center title-anim">
                            Een paar projecten
                        </h2>
                        
                  </div>
              </div>
          </div>
          <div class="featured__works-inner">
              <div class="featured__works-grid mb-30">
                  <div class="featured-work">
                      <div class="featured__work-wrapper">
                          <div class="featured__work-thumb p-relative topylo-tilt">
                              <div class="project__thumb-1">
                                  <a href="{{ relref . "portfolio/zautsen-kantoorinrichting.md" }}"><img src="{{ "/img/projects/zautsen/zb.jpg" | relURL }}" alt="website van zautsenkantoorinrichting">
                                  </a>
                              </div>
                              <div class="featured__work-view-btn">
                                  <a href="{{ relref . "portfolio/zautsen-kantoorinrichting.md" }}" class="text-btn marin-btn"><span
                                          class="btn-text"><span>Bekijk</span>
                                          project</span></a>
                              </div>
                          </div>
                          <div class="featured__work-content">
                              <h4 class="project__title">
                                <a href="{{ relref . "portfolio/zautsen-kantoorinrichting.md" }}">Zautsenkantoorinrichting.nl</a>
                              </h4>
                              <p class="project__tags">
                                <p>Voor Zautsen Kantoorinrichting hebben we een frisse, nieuwe website ontworpen. Het is nu niet alleen stijlvol, maar ook gebruiksvriendelijk. Daarnaast hebben we hun online aanwezigheid een forse boost gegeven.</p>
                                <span class="selected">In een tijdsbestek van 6 maanden: </span>
                                <ul>
                                    <li>Meer dan 300% toename websitebezoekers.</li>
                                    <li>Meer dan 170% stijging in klantconversies via de website.</li>
                                    <li>Nummer 1 positie op belangrijke zoektermen.</li>
                                </ul>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="featured-work">
                      <div class="featured__work-wrapper">
                          <div class="featured__work-thumb p-relative topylo-tilt">
                              <div class="project__thumb-2">

                                          <a href="{{ relref . "portfolio//lipomassage.md" }}"><img src="img/projects/lipomassage/lm1.jpg"
                                            alt="website van lipomassage"></a>
                              </div>
                              <div class="featured__work-view-btn">
                                  <a href="/" class="text-btn marin-btn"><span
                                          class="btn-text"><span>Bekijk</span>
                                          project</span></a>
                              </div>
                          </div>
                          <div class="featured__work-content">
                              <h4 class="project__title">
                                  <a href="/">Lipomassage.be</a>
                              </h4>
                              <p class="project__tags">
                                <p>We hebben een trendy, gebruiksvriendelijke website ontworpen voor Lipomassage. Nu is het een fluitje van een cent om een afspraak te maken. En dat is nog niet alles: we hebben de online presence van hun massagediensten een mega boost gegeven.</p>
                                <span class="selected">In een tijdsbestek van 3 maanden: </span>
                                <ul>
                                    <li>Meer dan 150% toename in websiteverkeer.</li>
                                    <li>Verdubbeling van contactaanvragen.</li>
                                    <li>Een volgeboekte agenda.</li>
                                </ul>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="featured-work">
                      <div class="featured__work-wrapper">
                          <div class="featured__work-thumb p-relative topylo-tilt">
                              <div class="project__thumb-3">
                                <a href="/letseldirect"><img src="/img/projects/letseldirect/ld.jpg"
                                    alt="website van letseldirect - letselschade advocaat"></a>
                              </div>
                              <div class="featured__work-view-btn">
                                  <a href="/letseldirect" class="text-btn marin-btn"><span
                                          class="btn-text"><span>Bekijk</span>
                                          project</span></a>
                              </div>
                          </div>
                          <div class="featured__work-content">
                              <h4 class="project__title">
                                  <a href="/letseldirect">Letseldirect.nl</a>
                              </h4>
                              <p class="project__tags">
                                <p>Sinds de oprichting van LetselDirect zijn wij de drijvende kracht achter hun online groei. Onze inspanningen hebben geleid tot een indrukwekkende en aanhoudende groei van het bedrijf.</p>
                                <span class="selected">Vanaf 2018: </span>
                                <ul>
                                    <li>Inmiddels meerdere vestigingen door heel Nederland.</li>
                                    <li>Meer dan 150 leads per maand.</li>
                                    <li>2000+ websitebezoekers per maand. </li>
                                </ul>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="featured-work">
                      <div class="featured__work-wrapper">
                          <div class="featured__work-thumb p-relative topylo-tilt">
                              <div class="project__thumb-4">
                                  <a href="/aangereden-door-auto"><img src="/img/projects/ada/ada1.jpg"
                                          alt="website van aangereden door auto - letselschade advocaat" loading="lazy"></a>
                              </div>
                              <div class="featured__work-view-btn">
                                  <a href="/aangereden-door-auto" class="text-btn marin-btn"><span
                                          class="btn-text"><span>Bekijk</span>
                                          project</span></a>
                              </div>
                          </div>
                          <div class="featured__work-content">
                              <h4 class="project__title">
                                  <a href="/aangereden-door-auto">Aangeredendoorauto.nl</a>
                              </h4>
                              <p class="project__tags">
                                <p>LetselDirect gaf ons de uitdagende opdracht om een website te creëren, met als doel het dominant positioneren in zoekmachineresultaten voor specifieke en concurrentiegevoelige zoekwoorden zoals 'aangereden door auto'.</p>
                                <span class="selected">In een tijdsbestek van 3 maanden: </span>
                                <ul>
                                    <li>Vindbaar op meer dan 270 keywords.</li>
                                    <li>5+ nieuwe klanten per maand.</li>
                                    <li>Top 5 positie bereikt op meerdere kernzoekwoorden.</li>
                                </ul>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6 col-md-6 order-md-1">
                      <div class="featured__works-all-view-btn p-relative tpl__item-center">
                          <div class="featured-works-area__shapes">
                              <img class="featured-works-area__shape-1"
                                  src="img/shapes/arrow-curve.png" alt="pijl icoon" loading="lazy">
                          </div>
                          <a href="/contact" class="border-btn"><span class="btn-text-2">Ook je bedrijf laten groeien?</span><span class="btn-icon"><i
                                      class="flaticon-next"></i></span></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- featured works area end  -->

  <!-- team area start  -->
  <!-- <section class="team-area section-spacing p-relative">
      <div class="team-area__overlay" data-background="img/bg/box-gradient-bg.jpg"></div>
      <div class="container">
          <div class="row align-items-end g-5 section-title-spacing">
              <div class="col-lg-6">
                  <div class="section__title-wrapper">
                      <div class="section__subtitle">
                          <div class="section__subtitle-icon">
                              <img src="./images/WebReaktor-logo-icon.png" alt="foto van een webreaktor">
                          </div>
                          <p class="section__subtitle-text">
                              Onze drijfveren
                          </p>
                      </div>
                      <h2 class="section__title-main xlarge uppercase title-anim">ons <br> management
                      </h2>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="team__meta-description mb-10">
                      <p class="xlarge">Ontmoet de meesters van de strategie en creativiteit: ons managementteam. Zij zijn de breinen en het hart van onze operatie, altijd klaar om grenzen te verleggen</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="team__wrapper anim-skewinup">

              <div class="team__member">
                  <span class="member-designation">Oprichter/CEO</span>

                      <div class="member-name">
                          <span class="first-name">Boris</span>
                          <div class="member-image">

                          </div>
                          <span class="last-name">Oprichter</span>
                      </div>


                  </div>
              </div>
              <div class="team__member">
                  <span class="member-designation">Marketeer</span>
     
                      <div class="member-name">
                          <span class="first-name">Susan</span>
                          <div class="member-image">

                          </div>
                          <span class="last-name">Marketeer</span>
                      </div>
   
              </div>
              <div class="team__member">
                  <span class="member-designation">Full stack</span>

                      <div class="member-name">
                          <span class="first-name">Marin</span>
                          <div class="member-image">

                          </div>
                          <span class="last-name">Full stack</span>
                      </div>

              </div>
          </div>
      </div>
  </section> -->
  <!-- team area end  -->

   <!-- capabilities area start  -->
   <section class="capabilities-area section-spacing p-relative fix include-bg" data-background="img/bg/grid-line-4.png">
      <div class="area-shapes">
          <img class="capabilities-area__shape-1" src="img/shapes/border-dashed.png"
              alt="boris">
          <img class="capabilities-area__shape-2" src="./images/boris-border.png" loading="lazy"
              alt="randje">
      </div>
      <div class="container">
          <div class="row gy-50 align-items-center">
              <div class="col-xl-8 col-lg-7">
                  <div class="capabilities__content">
                      <div class="section__title-2-wrapper section__title-2-wrapper-capabilities">
                          <h2 class="section__title-main xlarge uppercase title-anim  mb-40 ">Klaar voor de volgende <span class="tpl__theme-color">stap?</span>
                              
                          </h2>
                      </div>
                      <p>Geen uitdaging is ons te groot, of je nu met een groot of klein project komt. Laat het ons weten onder het genot van een kopje koffie, en wij bespreken graag wat we voor jou kunnen doen. We gaan de uitdaging graag aan :)</p>
                      <div class="area-btn btn_wrapper">
                          <a class="c-button btn-moving" href="/contact">
                              <span class="c-button__border"></span>
                              <span class="c-button__text">Neem contact op</span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-5 tp-accordion-fix">
                  <div class="capabilities__accordion">
                      <div class="accordion" id="accordionExample-st-1">
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne-st-1">
                                  <button class="accordion-button " type="button"
                                      data-bs-toggle="collapse" data-bs-target="#collapseOne-st-1"
                                      aria-expanded="false" aria-controls="collapseOne-st-1">
                                      1. Persoonlijke kennismaking
                                      <span class="area-bg">
                                          <img src="img/bg/gallaxy.jpg" alt="icoontje" loading="lazy">
                                      </span>
                                  </button>
                              </h2>
                              <div id="collapseOne-st-1" class="accordion-collapse collapse show"
                                  aria-labelledby="headingOne-st-1"
                                  data-bs-parent="#accordionExample-st-1">
                                  <div class="accordion-body">
                                      <div class="capabilities-list">
                                        <p>We bespreken graag uitvoerig en geheel vrijblijvend wat wij voor jou kunnen betekenen. Dat kan bij ons op kantoor, via beeldbellen of bij jou.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo-st-1">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                      data-bs-target="#collapseTwo-st-1" aria-expanded="true"
                                      aria-controls="collapseTwo-st-1">
                                      2. Voorstel en planning
                                      <span class="area-bg">
                                          <img src="img/bg/gallaxy.jpg" alt="universum icoontjes" loading="lazy">
                                      </span>
                                  </button>
                              </h2>
                              <div id="collapseTwo-st-1" class="accordion-collapse collapse"
                                  aria-labelledby="headingTwo-st-1"
                                  data-bs-parent="#accordionExample-st-1">
                                  <div class="accordion-body">
                                      <div class="capabilities-list">
                                        <p>Na onze kennismaking werken we een op maat gemaakt voorstel uit, compleet met een heldere planning. Zo weet je precies wat je kunt verwachten en wanneer.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree-st-1">
                                  <button class="accordion-button collapsed" type="button"
                                      data-bs-toggle="collapse" data-bs-target="#collapseThree-st-1"
                                      aria-expanded="false" aria-controls="collapseThree-st-1">
                                      3. Realisatie en oplevering
                                      <span class="area-bg">
                                          <img src="img/bg/gallaxy.jpg" alt="universum icoontje" loading="lazy">
                                      </span>
                                  </button>
                              </h2>
                              <div id="collapseThree-st-1" class="accordion-collapse collapse"
                                  aria-labelledby="headingThree-st-1"
                                  data-bs-parent="#accordionExample-st-1">
                                  <div class="accordion-body">
                                      <div class="capabilities-list">
                                        <p>Tijdens deze fase brengen we onze plannen tot leven. We houden je op de hoogte van de voortgang en zorgen voor een soepele oplevering van het project, precies zoals afgesproken.
                                        </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour-st-1">
                                  <button class="accordion-button collapsed" type="button"
                                      data-bs-toggle="collapse" data-bs-target="#collapseFour-st-1"
                                      aria-expanded="false" aria-controls="collapseFour-st-1">
                                      4. Ondersteuning
                                      <span class="area-bg">
                                          <img src="img/bg/gallaxy.jpg" alt="universum icoontje" loading="lazy">
                                      </span>
                                  </button>
                              </h2>
                              <div id="collapseFour-st-1" class="accordion-collapse collapse"
                                  aria-labelledby="headingFour-st-1"
                                  data-bs-parent="#accordionExample-st-1">
                                  <div class="accordion-body">
                                      <div class="capabilities-list">
                                        <p>Ook na de oplevering staan we voor je klaar. Voor vragen, aanpassingen of extra ondersteuning kun je altijd bij ons terecht.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- capabilities area end  -->

  <!-- testimonial area start  -->

  <!-- testimonial area end  -->

  <!-- blog area start  -->
  <section class="blogpost-area section-spacing p-relative fix">
      <div class="blogpost-area__overlay area-absolute"></div>
      <div class="noise-wrapper">
          <div class="noise"></div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section__title-wrapper">
                      <div class="section__subtitle tpl__item-center">
                          <div class="section__subtitle-icon">
                              <img src="./images/WebReaktor-logo-icon.png" alt="icoon van een webreaktor in het groen">
                          </div>
                          <p class="section__subtitle-text">
                              Laatste Nieuwtjes
                          </p>
                      </div>
                      <h2 class="section__title-main xlarge uppercase tpl__item-center title-anim">
                          Wat speelt er?</h2>
                  </div>
              </div>
          </div>
          <div class="row align-items-center justify-content-center">
              <div class="col-lg-12">
                  <div class="blog__list">
                      <div class="blog__item-1">
                          <div class="">
                              <p class="tag">Nieuws</p>
                              <h3 class="blog__item-1-title title-block-2"><a href="/waarom-is-seo-zo-belangrijk">Waarom is SEO zo belangrijk?</a></h3>
                              <div class="blog__meta-list">
                                  <div class="meta-item">
                                      <p>1 Januari 2024</p>
                                  </div>
                              </div>
                          </div>
                          <div
                              class="blog__button btn_wrapper d-flex align-items-center justify-content-end">
                              <a class="c-button btn-moving" href="/waarom-is-seo-zo-belangrijk" aria-label="Leer waarom seo zo belangrijk is">
                                  <span class="c-button__border"></span>
                                  <span class="c-button__text"><i class="flaticon-right-arrow"></i></span>
                              </a>
                          </div>
                          <div class="blog-thumb-hover d-none d-md-block"
                              data-background="/img/seo/waarom-seo.svg"></div>
                      </div>


                      <div class="blog-img-wrap">
                          <div class="blog-img"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row align-items-center justify-content-center">
              <div class="col-lg-12">
                  <div class="blog__list">
                      <div class="blog__item-1">
                          <div class="">
                              <p class="tag">Nieuws</p>
                              <h3 class="blog__item-1-title title-block-2"><a href="/hoger-in-google">Hoe score je hoger in Google?</a></h3>
                              <div class="blog__meta-list">
                                  <div class="meta-item">
                                      <p>15 November 2023</p>
                                  </div>
                              </div>
                          </div>
                          <div
                              class="blog__button btn_wrapper d-flex align-items-center justify-content-end">
                              <a class="c-button btn-moving" href="/hoger-in-google" aria-label="Leer hoe je hoger in google kunt komen">
                                  <span class="c-button__border"></span>
                                  <span class="c-button__text"><i class="flaticon-right-arrow"></i></span>
                              </a>
                          </div>
                          <div class="blog-thumb-hover d-none d-md-block"
                              data-background="img/hoger-in-google/hoger-in-google.jpg"></div>
                      </div>


                      <div class="blog-img-wrap">
                          <div class="blog-img"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- blog area end  -->

  <!-- link scroll area start  -->
  <section class="link-scroll-area p-relative fix pt-55 pb-55 bg-theme-2">
      <div class="link-scroll-area-shape">
      </div>
      <div class="swiper text__scroll">
          <div class="swiper-wrapper link-scroll-wrapper">
              <div class="swiper-slide">
                  <div class="link-scroll-line">
                      <h2 class="link-scroll-line__heading xlarge uppercase">
                          <a href="contact">GET IN <span class="stroke-text">TOUCH</span></a>
                          <a href="contact">GET IN <span class="stroke-text">TOUCH</span></a>
                      </h2>
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="link-scroll-line">
                      <h2 class="link-scroll-line__heading xlarge uppercase">
                          <a href="contact">GET IN <span class="stroke-text">TOUCH</span></a>
                          <a href="contact">GET IN <span class="stroke-text">TOUCH</span></a>
                      </h2>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- link scroll area end  -->
</main>
{{ end }}
