{{ define "main" }}
<main>

               <!-- hero area start  -->
               <section class="hero-2-area p-relative fix">
                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row align-items-center">
                            <div class="col-xl-7">
                                <div class="hero-3__content p-relative">
                                  <div class="breadcrumb-menu mb-20">
                                    <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                        <ul class="trail-items">
                                            <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                            <a href="{{ "/marketing-bureau-heerlen" | relURL }}"><li class="trail-item"><span>Marketing bureau Heerlen</span></li></a>                                    
                                        </ul>
                                    </nav>
                                </div>
                                    <h1 class="mb-50">
                                      Marketing bureau Heerlen
                                    </h1>
                                    <p class="hero-3__text p-text">
                                        Welkom bij WebReaktor, jouw strategische partner in marketing gevestigd in Heerlen. In het levendige hart van Limburg begrijpen we de lokale nuances die jouw bedrijf uniek maken. Met een mengeling van lokale inzichten en brede marketingexpertise, zetten we ons in om jouw merk authentiek te presenteren en te laten groeien. Of je nu jouw digitale voetafdruk wilt vergroten of dieper wilt connecteren met je gemeenschap, WebReaktor is hier om elke uitdaging om te zetten in een kans.
                                    </p>
                                    <div class="hero-3__btn btn_wrapper mb-30">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="page-title-thumb">
                                    <img src="{{ "/img/marketing-bureau/marketing-bureau1.jpg" | relURL }}" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg ">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/marketing-bureau/marketing-bureau-limburg.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Marketingbureau in Heerlen</h2>
                        <p class="p-text">Marketing is meer dan alleen zichtbaarheid; het is een directe route naar groei en engagement. Bij WebReaktor snappen we dat. Onze gerichte strategieën zetten jouw bedrijf in Heerlen op de kaart, met snelle en meetbare resultaten. Wij maken de connectie tussen jou en je doelgroep, zodat je bedrijf niet alleen gezien, maar ook gekozen wordt.
                        </p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Gespecialiseerde marketingdiensten in Heerlen
                        </h2>
                        <p class="section-intro-paragraph xlarge p-text">Bij WebReaktor gaan we verder dan traditionele marketing; we bieden gespecialiseerde diensten die zijn afgestemd op de moderne consument en de dynamische markt van Heerlen. Of je nu je online aanwezigheid wilt vergroten, je relatie met klanten wilt versterken of een onvergetelijke merkervaring wilt creëren, onze expertise staat tot je dienst.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/promotion.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Social media marketing</h3>
                            </div>
                            <p class="xlarge">In de wereld van vandaag is social media onmisbaar. Wij helpen je een sterke, authentieke aanwezigheid op te bouwen op platforms als Facebook, Instagram en LinkedIn. Onze strategieën zijn gericht op het vergroten van betrokkenheid, het versterken van je merkidentiteit en het direct verbinden met je doelgroep. <a href="/social-media-marketing-agency" class="kleur">Ontdek meer over onze social media marketing aanpak.</a>
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/email.png" | relURL }}">
                                <h3 class="service-branding-title">E-mail marketing</h3>
                            </div>
                            <p class="xlarge">Direct, persoonlijk en effectief; dat is de kracht van e-mailmarketing. Wij ontwerpen campagnes die niet alleen de aandacht trekken, maar ook actie uitlokken. Van nieuwsbrieven tot promotie-aanbiedingen, onze e-mails zijn afgestemd op jouw doelen en de interesses van je publiek. <a href="/e-mail-marketing-bureau" class="kleur">Leer hoe onze e-mail marketing jou kan ondersteunen.</a></p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marketing-bureau/online-video.png" | relURL }}">
                                <h3 class="service-branding-title">Videomarketing</h3>
                            </div>
                            <p class="xlarge">Video is een krachtig medium om je verhaal te vertellen en je merk tot leven te brengen. Of het nu gaat om productdemo's, klantgetuigenissen of informatieve content, onze videomarketingdiensten zorgen voor een blijvende indruk bij je publiek. Laat ons je helpen om een visuele impact te maken die resoneert en overtuigt. <a href="/videomarketing-bureau" class="kleur">Verken de mogelijkheden van videomarketing voor jouw bedrijf.</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/marketing-bureau/marketing-bureau5.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

      <!-- foto links text rechts begin, verschillende branches shortcode -->
      <section class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet-marin2">
                        <h2 class="p-text">Websites op maat</h2>
                        <p class="p-text">Bij WebReaktor vertalen we jouw unieke ideeën naar op maat gemaakte websites. Ons team zet zich in voor het creëren van visueel aantrekkelijke en functionele sites die jouw bedrijf perfect weerspiegelen.</p>
                        <p class="p-text">Ontdek hoe wij voor elke branche een op maat gemaakte, effectieve online aanwezigheid kunnen realiseren.</p>
                    </div>
    {{ partial "shortcode.html" . }}
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
  <img src="{{ "/img/website-laten-maken-limburg/website-laten-maken-limburg3.jpg" | relURL }}" alt="image not found">             
</div>
</div>
</div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin, stedenShortcode start -->
        <section
class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="service-page-title-contenet-marin">
                <h2 class="p-text">Het belang van een online marketingbureau in Heerlen
                </h2>
                <p class="xlarge">In Heerlen kent een lokaal bureau zoals WebReaktor de markt als geen ander. Wij begrijpen hoe we jouw bedrijf kunnen laten opvallen en de lokale consument kunnen bereiken. Onze diepgaande kennis van de regio betekent dat elke strategie is afgestemd op jouw unieke behoeften en kansen, voor maximale impact in Heerlen en daarbuiten.
                </p>
                <p class="xlarge">Terwijl we jouw lokale voetafdruk versterken, bieden onze uitgebreide online marketingdiensten van SEO tot social media een geïntegreerde aanpak om jouw merk te laten groeien. Met WebReaktor als partner krijg je niet alleen toegang tot gespecialiseerde kennis, maar ook aan een toegewijd team dat zich inzet voor jouw succes. Samen maken we meetbare resultaten mogelijk, zodat jouw bedrijf zich kan onderscheiden en floreren.
                </p>
    {{ partial "marketingBureau.html" . }}
</div>
    <div class="button-item mt-50">
        <a href="{{ "contact" | relURL }}" class="border-btn">
            <span class="btn-text">Neem contact op</span>
            <span class="btn-icon"><i class="flaticon-next"></i></span>
        </a>                        
    </div>
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
        <img src="{{ "/img/marketing-bureau/marketing-bureau-social-media.jpg" | relURL }}" alt="image not found">
</div>
</div>
</div>
</section>

    <!-- approch area start -->
    {{ partial "marketingBureauStappenplan.html" . }}
    <!-- approch area end -->

    <!-- faq area start -->
    {{ partial "marketingBureauVragen.html" . }}
    <!-- faq area end -->

  <!-- title intro area -->
  {{ partial "letsBabbelZwart.html" . }}
<!-- title intro end -->
</main>
{{end}}