{{ define "main" }}
<main>

               <!-- hero area start  -->
               <section class="hero-2-area p-relative fix">
                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row align-items-center">
                            <div class="col-xl-7">
                                <div class="hero-3__content p-relative">
                                  <div class="breadcrumb-menu mb-20">
                                    <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                        <ul class="trail-items">
                                            <a href="{{ "/diensten" | relURL }}"><li class="trail-item trail-begin"><span>Diensten</span></li></a>
                                            <a href="{{ "/taxi-website-laten-maken" | relURL }}"><li class="trail-item"><span>Taxi website laten maken</span></li></a>                                    
                                        </ul>
                                    </nav>
                                </div>
                                    <h1 class="mb-50">
                                      Taxi website laten maken
                                    </h1>
                                    <p class="hero-3__text p-text">
                                      Op zoek naar een dynamische website voor je taxibedrijf? WebReaktor specialiseert zich in het ontwikkelen van op maat gemaakte websites voor taxi-ondernemingen, ideaal voor zowel particulier als zakelijk vervoer. Onze designs benadrukken jouw professionaliteit en bieden essentiële functies zoals online boekingen, perfect afgestemd op de behoeften van jouw klanten.
                                    </p>
                                    <div class="hero-3__btn btn_wrapper mb-30">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="page-title-thumb">
                                    <img src="{{ "/img/taxi/taxi-website-laten-maken.jpg" | relURL }}" alt="image not found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg ">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/taxi/taxi-website-laten-maken2.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h2 class="p-text">Jouw taxi website, online uitgelicht</h2>
                        <p class="p-text">Bij WebReaktor ontwikkelen we een gestroomlijnde, professionele website voor je taxibedrijf, met handige functies zoals een routeplanner, tariefcalculator en eenvoudige boekingsmogelijkheden. We zorgen ervoor dat je klanten moeiteloos kunnen navigeren, of ze nu naar de luchthaven moeten of een zakelijke rit boeken.
                        </p>
                    </div>
                    <div class="button-item mt-50 mb-50">
                        <a href="{{ "contact" | relURL }}" class="border-btn3">
                            <span class="btn-text">Neem contact op</span>
                            <span class="btn-icon"><i class="flaticon-next"></i></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Een taxi website die presteert</h2>
                        <p class="section-intro-paragraph xlarge p-text">Wij bij WebReaktor kennen de unieke eisen van de taxibranche en hebben ervaring in het ontwikkelen van websites die niet alleen visueel aantrekkelijk zijn, maar ook functioneel efficiënt. Onze doelgerichte aanpak zorgt ervoor dat jouw taxi-website optimaal presteert in een competitieve markt.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/maatwerk-website/fast-time.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Snelle laadtijden</h3>
                            </div>
                            <p class="xlarge">In de snelle wereld van taxidiensten is elke seconde belangrijk. Wij zorgen ervoor dat jouw website bliksemsnel laadt, zodat klanten direct de informatie vinden die ze nodig hebben, zonder frustrerende wachttijden.
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/tandarts/calendar.png" | relURL }}">
                                <h3 class="service-branding-title">Online afsprakensysteem</h3>
                            </div>
                            <p class="xlarge">Gemak voor de klant staat voorop. We integreren een eenvoudig en efficiënt online boekingssysteem, zodat jouw klanten moeiteloos een taxi kunnen reserveren, of het nu gaat om een ritje naar de stad of naar de luchthaven.</p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/kapper/devices.png" | relURL }}">
                                <h3 class="service-branding-title">Voor alle devices</h3>
                            </div>
                            <p class="xlarge">Jouw taxi-website wordt geoptimaliseerd voor alle apparaten, met een speciale focus op mobiele toegankelijkheid. Aangezien veel klanten onderweg boeken, zorgen we ervoor dat jouw site op smartphones net zo goed werkt als op een desktop.
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/taxi/taxi-website-laten-maken1.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

      <!-- foto links text rechts begin, verschillende branches shortcode -->
      <section class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet-marin2">
                        <h2 class="p-text">Webdesign voor elke branche</h2>
                        <p class="p-text">Bij WebReaktor zijn we uitgerust om diverse soorten websites te creëren, van kappers tot zorginstellingen en bouwbedrijven. Ontdek hoe wij voor elke branche een op maat gemaakte, effectieve online aanwezigheid kunnen realiseren</p>
                    </div>
    {{ partial "shortcode.html" . }}
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
  <img src="{{ "/img/website-laten-maken-limburg/website-laten-maken-limburg3.jpg" | relURL }}" alt="image not found">             
</div>
</div>
</div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin, stedenShortcode start -->
        <section
class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
<div class="container">
    <div class="row">
        <div class="col-xxl-12">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="service-page-title-contenet-marin">
                <h2 class="p-text">Jouw taxi-onderneming: Een strategische online benadering</h2>
                <p class="xlarge">Wanneer we beginnen aan de ontwikkeling van jouw taxi-website, starten we met een essentiële stap: een grondig gesprek. Tijdens dit gesprek verkennen we de unieke aspecten van jouw taxibedrijf, je doelgroep, en je doelen. We bespreken niet alleen de basisfuncties die je nodig hebt, zoals boekingsformulieren of tariefcalculators, maar ook wat jouw dienst uniek maakt in de taximarkt. Dit begrip is cruciaal om een website te creëren die echt resoneert met je klanten en je onderscheidt van de concurrentie.
                </p>
                <p class="xlarge">Vervolgens duiken we dieper in met een gedetailleerd concurrentie- en keywordonderzoek. Dit stelt ons in staat om een strategie te ontwikkelen die jouw online zichtbaarheid verbetert en ervoor zorgt dat potentiële klanten je vinden wanneer ze zoeken naar taxidiensten. We nemen ook je huidige huisstijl onder de loep. Of het nu gaat om het verfijnen van een bestaand ontwerp of het ontwikkelen van een compleet nieuwe visuele identiteit, we zorgen ervoor dat je website de kwaliteit en professionaliteit van jouw taxidienst weerspiegelt, zowel in uiterlijk als in functionaliteit.
                </p>
    {{ partial "stedenShortcode.html" . }}
</div>
    <div class="button-item mt-50">
        <a href="{{ "contact" | relURL }}" class="border-btn">
            <span class="btn-text">Neem contact op</span>
            <span class="btn-icon"><i class="flaticon-next"></i></span>
        </a>                        
    </div>
</div>
<div class="col-xxl-6 col-xl-6 col-lg-6">
        <img src="{{ "/img/taxi/taxi-website-laten-maken4.jpg" | relURL }}" alt="image not found">
</div>
</div>
</div>
</section>

    <!-- approch area start -->
    <section class="approch-area section-spacing">
        <div class="container">
            <div class="row align-items-center gy-50">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="approch-thumb">
                        <img src="{{ "/img/webshop-laten-maken/webshop-laten-maken8.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="section__title-wrapper mb-50">
                        <h2 class="section__title-inner title-anim">Ons stappenplan</h2>
                    </div>
                    <div class="approch-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="approch-1-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-1" type="button" role="tab"
                                    aria-controls="approch-1" aria-selected="true">1. Analyseren</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-2-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-2" type="button" role="tab"
                                    aria-controls="approch-2" aria-selected="false">2. Ontwerpen</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-3-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-3" type="button" role="tab"
                                    aria-controls="approch-3" aria-selected="false">3. Implementeren</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-4-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-4" type="button" role="tab"
                                    aria-controls="approch-4" aria-selected="false">4. Lanceren</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="approch-1" role="tabpanel"
                                aria-labelledby="approch-1-tab">
                                <div class="approch-content">
                                    <p class="xlarge">We starten met een diepgaande analyse van jouw taxidienst, de markt en concurrentie om een helder beeld te krijgen van waar jouw bedrijf staat en hoe het zich kan onderscheiden.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-2" role="tabpanel"
                                aria-labelledby="approch-2-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Gebaseerd op onze analyse, ontwikkelen we een websiteontwerp dat jouw taxidienst visueel en functioneel op de kaart zet, met een focus op gebruikersvriendelijkheid en merkidentiteit.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-3" role="tabpanel"
                                aria-labelledby="approch-3-tab">
                                <div class="approch-content">
                                    <p class="xlarge">In deze fase brengen we het ontwerp tot leven. We bouwen een snelle, responsieve website met geïntegreerde boekingssystemen en andere essentiële functies voor een soepele klantenervaring.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-4" role="tabpanel"
                                aria-labelledby="approch-4-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Na het testen en finetunen, lanceren we jouw website. We zorgen voor een naadloze livegang en blijven betrokken voor eventuele optimalisaties en ondersteuning.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- approch area end -->

    <!-- faq area start -->
    <section class="faq-area section-spacing">
        <div class="container">
            <div class="section__title-wrapper tpl__item-center mb-60">
                <h2 class="section__title-inner title-anim">Veelgestelde vragen</h2>
            </div>
            <div class="choose-accordion mb-0 tp-accordion-fix">
                <div class="accordion" id="accordionExample-st-2">
                    <div class="row g-5">
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingOne-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne-st-2"
                                        aria-expanded="false" aria-controls="collapseOne-st-2">
                                        Hoe lang duurt het om een website te bouwen?
                                    </button>
                                </h2>
                                <div id="collapseOne-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De tijd die nodig is om een website te bouwen kan variëren, afhankelijk van de complexiteit en specifieke eisen. Gemiddeld duurt het ongeveer 4-6 weken, maar grotere projecten kunnen langer duren.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingTwo-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo-st-2"
                                        aria-expanded="false" aria-controls="collapseTwo-st-2">
                                        Wat kost het om een website te laten maken?
                                    </button>
                                </h2>
                                <div id="collapseTwo-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>De kosten van het ontwikkelen van een website hangen af van verschillende factoren zoals het design, functionaliteiten en de inhoud. Wij bieden op maat gemaakte offertes om ervoor te zorgen dat je betaalt voor wat je echt nodig hebt.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree-st-2"
                                        aria-expanded="false" aria-controls="collapseThree-st-2">
                                        Heb ik hosting en een domeinnaam nodig?
                                    </button>
                                </h2>
                                <div id="collapseThree-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Ja, voor een live website zijn hosting en een domeinnaam essentieel. Wij kunnen je helpen met het kiezen van de juiste hostingprovider en het registreren van een domeinnaam die past bij jouw bedrijf.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFour-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour-st-2"
                                        aria-expanded="false" aria-controls="collapseFour-st-2">
                                        Kan ik mijn website zelf bijwerken na de lancering?
                                    </button>
                                </h2>
                                <div id="collapseFour-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Absoluut. Wij zorgen ervoor dat je website wordt gebouwd met een gebruiksvriendelijk contentmanagementsysteem (CMS), waardoor je zelf eenvoudig tekst en afbeeldingen kunt bijwerken.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFive-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive-st-2"
                                        aria-expanded="false" aria-controls="collapseFive-st-2">
                                        Is mijn website na lancering SEO-geoptimaliseerd?
                                    </button>
                                </h2>
                                <div id="collapseFive-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Ja, wij zorgen ervoor dat je website bij lancering SEO-geoptimaliseerd is. Dit omvat basisoptimalisatie zoals trefwoordintegratie, snelle laadtijden en mobielvriendelijkheid.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven-st-2"
                                        aria-expanded="false" aria-controls="collapseSeven-st-2">
                                        Bieden jullie ondersteuning na de lancering van de website?
                                    </button>
                                </h2>
                                <div id="collapseSeven-st-2" class="accordion-collapse collapse show"
                                    aria-labelledby="headingSix-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Zeker, wij bieden ondersteuning en onderhoudsdiensten na de lancering om ervoor te zorgen dat je website soepel blijft draaien en up-to-date blijft met de nieuwste webstandaarden en -technologieën.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq area end -->

  <!-- title intro area -->
  <section class="title-intro-area fix primary-bg">
    <div class="container">
        <div class="title-intro-wrapper section-spacing">
            <div class="intro__title-wrapper">
                <h2 class="intro__title-inner folks-text">Let's Babbel</h2>
            </div>
            <div class="intro-brn">
                <a href="{{ "contact" |relURL }}" class="circle-btn is-green">
                    <span class="icon-box"><i class="flaticon-next"></i></span>
                    <img src="{{ "img/icons/contact-btn-text.png" | relURL }}" alt="image not found" class="image-text">


                </a>
            </div>
        </div>
    </div>
</section>
<!-- title intro end -->
</main>
{{end}}