{{ define "main" }}

               <!-- hero area start  -->
               <section class="hero-3-area p-relative fix">
                <div class="noise-wrapper">
                    <div class="noise"></div>
                </div>

                <div class="hero-3-area__bg area-absolute">
                </div>
                <div class="hero-3__shapes">
                    <img class="hero-3__shape-1" src="{{ "/img/shapes/circle-line.png" | relURL }}" alt="circle icon">
                    <img class="hero-3__shape-2" src="{{ "/img/shapes/plane-flying.png" | relURL }}" alt="icoontje">
                    <img class="hero-3__shape-3" src="{{ "/img/shapes/arrow-down-left.png" | relURL }}" alt="pijl icon">
                    
                </div>

                <div class="container">
                    <div class="hero-3__inner p-relative">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-3__content p-relative">
                                    <h1 class="hero-3__title bd_banner__anim">
                                      Webdesign
                                    </h1>
                                    <p class="hero-3__text p-text">
                                        Bij WebReaktor is webdesign niet zomaar het bouwen van een website; het is het creëren van een digitaal platform dat jouw merk tot leven brengt. Onze ontwerpen zijn doordacht, responsief en gericht op het leveren van een gebruikerservaring die zowel boeiend als intuïtief is. Laat ons je helpen om een sterke online aanwezigheid te bouwen die jouw verhaal vertelt en je publiek verbindt.
                                    </p>
                                    <div class="hero-3__btn btn_wrapper">
                                        <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                            <span class="c-button__border"></span>
                                            <span class="c-button__text">Neem contact op</span>
                                        </a>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero area end  -->

            <!-- services area start  -->
            <section class="services-area-3 fix" id="services-area-3">
                <div class="services-area-3__bg area-absolute">
                    <img src="/img/bg/noise-2.png" alt="pixels">
                </div>
                <div class="area-shapes">
                    <img class="services-area-3__shape-1" src="{{ "/img/shapes/border-square.png" | relURL }}" alt="hoek icon">
                    <img class="services-area-3__shape-2" src="{{ "/img/shapes/circle-line.png" | relURL }}" alt="circle icon">                    
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5 order-lg-2">
                            <div class="services-area-3-content section-spacing p-relative">
                                <div class="section__title-3-wrapper section__title-wrapper-services ">
                                    <div class="section__subtitle-3">
                                        <p class="section__subtitle-text">
                                            Wat wij doen
                                        </p>

                                    </div>
                                    <h2 class="section__title-main xlarge uppercase mb-45 title-anim">onze
                                        <span class="font-highlight tpl__theme-color">oplossingen</span>
                                    </h2>
                                </div>
                                <p class="mb-65">Bij WebReaktor begrijpen we dat geen twee projecten hetzelfde zijn. Daarom bieden we een scala aan webdesign oplossingen die zijn afgestemd op de specifieke behoeften van jouw bedrijf. Van op maat gemaakte websites tot geavanceerde e-commerce oplossingen, wij zorgen voor een naadloze en geoptimaliseerde online aanwezigheid die jouw merk naar het volgende niveau tilt.</p>
                                <div class="area-btn btn_wrapper">
                                    <a class="c-button btn-moving" href="{{ "contact" | relURL }}">
                                        <span class="c-button__border"></span>
                                        <span class="c-button__text">Neem contact op</span>
                                    </a>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 order-lg-1">
                            <div class="services-wrapper-3 section-spacing p-relative">
                                <div class="services-wrapper-3__bg area-absolute">
                                </div>
                                <div class="row g-5">
                                    <div class="col-xl-12">
                                        <div class="service-box-3 bd-one-by-one">
                                            <div class="service-box-3__content">
                                                <h4 class="service__title">
                                                    <a href="{{ "website-laten-maken" | relURL }}">Website laten maken
                                                        <span class="icon-box"><i class="flaticon-next"></i></span>
                                                    </a>
                                                    
                                                </h4>
                                                <p>Slechts enkele clicks verwijderd van een website die werkt voor jou. WebReaktor levert strakke, functionele websites die jouw bezoekers omzetten in klanten.</p>
                                                <div class="area-btn">
                                                    <a href="{{ "website-laten-maken" | relURL }}" class="text-btn btn-text">Meer over website laten maken</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="service-box-3 bd-one-by-one">
                                            <div class="service-box-3__content">
                                                <h4 class="service__title">
                                                    <a href="{{ "webshop-laten-maken" | relURL }}">Webshop laten maken
                                                        <span class="icon-box"><i class="flaticon-next"></i></span>
                                                    </a>                                                 
                                                </h4>
                                                <p>Verkoop online met flair. WebReaktor bouwt WooCommerce webshops die niet alleen mooi zijn, maar ook een vlekkeloze koopervaring bieden, afgestemd op jouw e-commerce strategie.</p>
                                                <div class="area-btn">
                                                    <a href="{{ "webshop-laten-maken" | relURL }}" class="text-btn btn-text">Meer over webshop laten maken</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="service-box-3 bd-one-by-one">
                                            <div class="service-box-3__content">
                                                <h4 class="service__title">
                                                    <a href="{{ "maatwerk-website-laten-maken" | relURL }}">Maatwerk website<span
                                                            class="icon-box"><i
                                                                class="flaticon-next"></i></span></a>
                                                </h4>
                                                <p>Geen sjablonen, alleen maatwerk. Jouw visie, precies zoals je het voor ogen hebt. WebReaktor staat voor maatwerk websites die passen bij jouw unieke stijl en behoeften.</p>
                                                <div class="area-btn">
                                                    <a href="{{ "maatwerk-website-laten-maken" | relURL }}" class="text-btn btn-text">Meer over maatwerk website</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="service-box-3 bd-one-by-one">
                                            <div class="service-box-3__content">
                                                <h4 class="service__title">
                                                    <a href="{{ "wordpress-website-laten-maken" | relURL }}">Wordpress website<span
                                                            class="icon-box"><i
                                                                class="flaticon-next"></i></span></a>
                                                </h4>
                                                <p>Jouw WordPress-site, maar dan beter. Met WebReaktor til je het meest populaire CMS naar een hoger niveau door maatwerk thema’s en plugins die jouw merk laten schitteren.</p>
                                                <div class="area-btn">
                                                    <a href="{{ "wordpress-website-laten-maken" | relURL }}" class="text-btn btn-text">Meer over wordpress maatwerk</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- services area end  -->

                                <!-- title intro area -->
                                {{ partial "letsBabbelWit.html" . }}
                              <!-- title intro end -->
{{end}}