{{ define "main" }}
<main>
    <!-- page titler area start -->
    <section class="page-title-area section-spacing-top pb-55 adjust-header-space">
        <div class="container">
            <div class="page-title-wrappper">
                <div class="breadcrumb-menu mb-20">
                    <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                        <ul class="trail-items">
                            <li class="trail-item trail-begin"><span>Verken de bouwstenen van jouw digitale voorsprong.</span></li>
                        </ul>
                    </nav>
                </div>
                <h1 class="page-title animation__word_come">Onze diensten— <br> jouw toekomst
                </h1>
            </div>
        </div>
    </section>
    <!-- page titler area end -->
  
    <!-- service intro area start  -->
    <div class="service-intro-area fix section-spacing-bottom p-relative">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="service-intro-wrapper">
                        <div class="service-intro-box d-flex justify-content-xl-end mt-70">
                            <div class="service-intro-text">
                                <span class="line__subtitle mb-30">Detailgericht design</span>
                                <p class="section-intro-paragraph">Elke pixel, elke regel code wordt door ons zorgvuldig geplaatst om jouw online platform niet alleen functioneel maar ook visueel uitmuntend te maken. Of het nu gaat om een dynamische bedrijfswebsite, een boeiende content hub of een geavanceerde e-commerce webshop, onze op maat gemaakte oplossingen zijn afgestemd op jouw unieke behoeften en doelen.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service intro area end  -->
  
    <!-- strategy area start  -->
    <section class="strategy-area">
        <div class="strategy-wrapper">
            <ol class="strategy__items">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <!-- total count li defend on strategy-main-wrapper there is 4/4 -->
            </ol>
            <div class="strategy-main-wrapper primary-bg section-spacing wf_panel">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="strategy-content">
                                <div class="section__title-wrapper is-white has-strategy-title mb-70">
                                    <div class="strategy__num-count"></div>
                                    <h2 class="section__title-inner mb-25">Webdesign</h2>
                                    <p class="title-paragraph">Een prachtige online aanwezigheid creëren die bezoekers charmeert en vasthoudt, onze webdesigns zijn innovatief, gebruiksvriendelijk en geoptimaliseerd voor alle apparaten.
                                    </p>
                                </div>
                                <div class="sidebar__widget-content mb-50">
                                    <ul>
                                        <li><a href="{{ "website-laten-maken" | relURL }}"><span>Website laten maken</span></a></li>
                                        <li><a href="{{ "webshop-laten-maken" | relURL }}"><span>Webshop laten maken</span> </a>
                                        </li>
                                        <li><a href="{{ "maatwerk-website-laten-maken" | relURL }}"><span>Maatwerk website</span> </a>
                                        </li>
                                        <li><a href="{{ "wordpress-website-laten-maken" | relURL }}"><span>Wordpress website</span> </a>
                                        </li>
                                    </ul>
                                </div>
                                <a href="{{ "webdesign" | relURL }}" class="radius-btn border-black">
                                    <span class="btn-text">Alles over webdesign</span>
                                    <span class="btn-icon"><i class="flaticon-next"></i></span>
                                </a>
                                
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="strategy-thumb">
                                <a href="{{ "webdesign" | relURL }}">
                                    <img class="topylo-tilt" src="{{ "/img/webdesign/website-laten-maken.jpg" | relURL }}" alt="image not found">
                                </a>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="strategy-main-wrapper alice-blue-bg section-spacing wf_panel p-relative">
                <div class="container">
                    <div class="row ">
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="strategy-thumb">
                                <a href="{{ "/vindbaarheid" | relURL }}">
                                    <img class="topylo-tilt" src="{{ "/img/webdesign/maatwerk-website.jpg" | relURL }}" alt="image not found">
                                </a>                                
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="strategy-content-2">
                                <div class="section__title-wrapper has-strategy-title mb-70">
                                    <div class="strategy__num-count is-black"></div>
                                    <h2 class="section__title-inner mb-25">Vindbaarheid</h2>
                                    <p class="title-paragraph">Verhoog je online zichtbaarheid. Onze SEO-experts verbeteren je positie, zodat je opvalt bij zoekmachines en klanten.
                                    </p>
                                </div>
                                    <div class="sidebar__widget-content mb-50">
                                    <ul>
                                        <li><a href="{{ "zoekmachine-optimalisatie" | relURL }}"><span>Zoekmachine optimalisatie (SEO)</span></a></li>
                                        <li><a href="{{ "zoekmachine-advertenties" | relURL }}"><span>Zoekmachine advertenties (SEA)</span> </a>
                                        </li>
                                        <li><a href="{{ "linkbuilding-uitbesteden" | relURL }}"><span>Linkbuilding</span> </a>
                                        </li>
                                    </ul>
                                </div>
                                <a href="{{ "vindbaarheid" | relURL }}" class="radius-btn is-black border-black">
                                    <span class="btn-text">Alles over vindbaarheid</span>
                                    <span class="btn-icon"><i class="flaticon-next"></i></span>
                                </a>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="strategy-main-wrapper primary-bg section-spacing wf_panel p-relative">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="strategy-content">
                                <div class="section__title-wrapper is-white has-strategy-title mb-70">
                                    <div class="strategy__num-count"></div>
                                    <h2 class="section__title-inner mb-25">Marketing</h2>
                                    <p class="title-paragraph">Verbind je merk met je doelgroep door strategische digitale marketing. We combineren data en creativiteit om je boodschap te versterken en je bereik uit te breiden.
                                    </p>
                                </div>
                                <div class="sidebar__widget-content mb-50">
                                    <ul>
                                        <li><a href="{{ "social-media-marketing-agency" | relURL }}"><span>Social media marketing</span></a></li>
                                        <li><a href="{{ "e-mail-marketing-bureau" | relURL }}"><span>E-mail marketing</span> </a>
                                        </li>
                                        <li><a href="{{ "videomarketing-bureau" | relURL }}"><span>Videomarketing</span> </a>
                                        </li>
                                    </ul>
                                </div>
                                <a href="{{ "marketing" | relURL }}" class="radius-btn border-black">
                                    <span class="btn-text">Alles over marketing</span>
                                    <span class="btn-icon"><i class="flaticon-next"></i></span>
                                </a>                                
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="strategy-thumb">
                                <a href="{{ "marketing" | relURL }}">
                                    <img class="topylo-tilt" src="{{ "/img/diensten/marketing.jpg" | relURL }}" alt="image not found">
                                </a>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="strategy-main-wrapper alice-blue-bg section-spacing p-relative wf_panel">
                <div class="container">
                    <!-- hieronder class "align-items-center" weggehaald-->
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="strategy-thumb">
                                <a href="{{ "branding" | relURL }}">
                                    <img class="topylo-tilt" src="{{ "/img/diensten/branding.jpg" | relURL }}" alt="image not found">
                                </a>                                
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="strategy-content-2">
                                <div class="section__title-wrapper has-strategy-title mb-70">
                                    <div class="strategy__num-count is-black"></div>
                                    <h2 class="section__title-inner mb-25">Branding</h2>
                                    <p class="title-paragraph">Laat je merkidentiteit voor je spreken. We ontwikkelen unieke brandingstrategieën die jouw verhaal vertellen en resoneren met je publiek.
                                    </p>
                                </div>
                                <div class="sidebar__widget-content mb-50">
                                    <ul>
                                        <li><a href="{{ "huisstijl-laten-ontwerpen" | relURL }}"><span>Huisstijl laten ontwerpen</span></a></li>
                                        <li><a href="{{ "logo-laten-maken" | relURL }}"><span>Logo laten maken</span> </a>
                                        </li>
                                    </ul>
                                </div>
                                <a href="{{ "branding" | relURL }}" class="radius-btn is-black border-black">
                                    <span class="btn-text">Alles over branding</span>
                                    <span class="btn-icon"><i class="flaticon-next"></i></span>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- strategy area end  -->
  
    <!-- tetimonial area start  -->
    {{ partial "reviews.html" . }}
  </main>
{{end}}