{{ define "main" }}
<main>

    <!-- service details banner area start -->
    <section
        class="page-title-area d-flex align-items-end section-spacing-top p-relative primary-bg adjust-header-space">
        <div class="page-title-shapes">
            <img class="shape-1" src="{{ "/img/shapes/round-circle-2.png" | relURL }}" alt="image not found">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="page-title-wrappper is-white mb-50">
                        <div class="breadcrumb-menu mb-20">
                            <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                <ul class="trail-items">
                                    <li class="trail-item trail-begin"><span>Onze diensten</span></li>
                                    <li class="trail-item"><span>Branding</span></li>
                                </ul>
                            </nav>
                        </div>
                        <h1 class="page-title">Website laten maken</h1>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="page-title-thumb">
                        <img src="{{ "/img/diensten/website-laten-bouwen/website-laten-bouwen.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                    <div class="service-page-title-contenet">
                        <h3 class="p-text">Wij maken websites die knallen</h3>
                        <p class="p-text">In het digitale tijdperk is je website het visitekaartje van je onderneming. Bij WebReaktor begrijpen we het belang van een eerste indruk. Daarom ben je bij ons aan het juiste adres voor een website die niet alleen visueel aantrekkelijk is, maar ook optimaal presteert.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service details banner area end -->

    <!-- service branding area start -->
    <section class="service-branding-area section-spacing">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xxl-7 col-xl-12">
                    <div class="section__title-wrapper mb-80">
                        <h2 class="section__title-inner mb-45 title-anim">Een website door WebReaktor</h2>
                        <p class="section-intro-paragraph xlarge p-text">Great brands take time, care, and
                            belief
                            to create. We help you uncover your brand through a series of exercises,
                            exploring concepts, and creating
                            marketing assets.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-branding-main fix p-relative">
            <div class="service-branding-thumb-2">
                <img src="{{ "/img/diensten/website-laten-bouwen/website-laten-bouwen-3.jpg" | relURL }}" alt="image not found">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marin-icons/responsive-website.png" | relURL }}" alt="image not found">
                                <h3 class="service-branding-title">Brand Identity</h3>
                            </div>
                            <p class="xlarge">A brand includes many elements to create a complete identity.
                                We breakdown
                                the process by starting with the basics and building on from there. A brand
                                includes many elements to create a complete identity. We breakdown the
                                process by starting with the basics and building on from there.
                            </p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/marin-icons/seo-search-symbol.png" | relURL }}">
                                <h3 class="service-branding-title">Brand Identity</h3>
                            </div>
                            <p class="xlarge">One of the largest food retailers needed to automate
                                inspection and
                                maintenance processes in their stores and update their troubleshooting
                                reports. Retail companies have notoriously complex requirements when it
                                comes to ongoing maintenance, and manual inspections can limit the ability
                                to report and verify current conditions.</p>
                        </div>
                        <div class="service-branding-content">
                            <div class="service-branding-heading">
                                <img height="45px" src="{{ "/img/diensten/website-laten-bouwen/website-laten-bouwen-icon-4.png" | relURL }}">
                                <h3 class="service-branding-title">Brand Identity</h3>
                            </div>
                            <p class="xlarge">Creative work that reaches hearts and minds and inspires
                                action is the result
                                of talent, understanding, refinement, and collaboration. As a Purpose First™
                                agency, one of the first things we do at 20nine is to listen. We learn your
                                goals, hear what drives you, and clarify who you want to connect with us.
                            </p>
                        </div>
                    </div>
                    <div class="col-xxl-6-col-xl-6 col-lg-6">
                        <div class="service-branding-thumb-1">
                            <img src="{{ "/img/diensten/website-laten-bouwen/website-laten-bouwen-ontwerp.jpg" | relURL }}" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service branding area end -->

        <!-- foto links text rechts begin -->
    <section
    class="page-title-area d-flex align-items-end  p-relative primary-bg pb-150 pt-150">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 order-first order-lg-last">
                <div class="service-page-title-contenet">
                    <h3 class="p-text">Wij maken websites die knallen</h3>
                    <p class="p-text">In het digitale tijdperk is je website het visitekaartje van je onderneming. Bij WebReaktor begrijpen we het belang van een eerste indruk. Daarom ben je bij ons aan het juiste adres voor een website die niet alleen visueel aantrekkelijk is, maar ook optimaal presteert.</p>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <img src="{{ "/img/diensten/website-laten-bouwen/website-laten-bouwen.jpg" | relURL }}" alt="image not found">
            </div>
        </div>
    </div>
</section>
        <!-- foto links text rechts einde -->
        <!-- foto rechts text links begin -->
        <section
        class="page-title-area d-flex align-items-end  p-relative  pb-150 pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="service-page-title-contenet-marin">
                        <h3 class="p-text">Wij maken websites die knallen</h3>
                        <p class="xlarge">In het digitale tijdperk is je website het visitekaartje van je onderneming. Bij WebReaktor begrijpen we het belang van een eerste indruk. Daarom ben je bij ons aan het juiste adres voor een website die niet alleen visueel aantrekkelijk is, maar ook optimaal presteert.</p>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <img src="{{ "/img/diensten/website-laten-bouwen/website-laten-bouwen.jpg" | relURL }}" alt="image not found">
                </div>
            </div>
        </div>
    </section>

    <!-- approch area start -->
    <section class="approch-area section-spacing">
        <div class="container">
            <div class="row align-items-center gy-50">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="approch-thumb">
                        <img src="{{ "/img/diensten/website-laten-bouwen/website-bouwen-benadering.jpg" | relURL }}" alt="image not found">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="section__title-wrapper mb-50">
                        <h2 class="section__title-inner title-anim">Our Approch</h2>
                    </div>
                    <div class="approch-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="approch-1-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-1" type="button" role="tab"
                                    aria-controls="approch-1" aria-selected="true">Discovery</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-2-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-2" type="button" role="tab"
                                    aria-controls="approch-2" aria-selected="false">Identity</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-3-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-3" type="button" role="tab"
                                    aria-controls="approch-3" aria-selected="false">Guide</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="approch-4-tab" data-bs-toggle="tab"
                                    data-bs-target="#approch-4" type="button" role="tab"
                                    aria-controls="approch-4" aria-selected="false">Implement</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="approch-1" role="tabpanel"
                                aria-labelledby="approch-1-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. Nihil
                                        laudantium expedita consequatur reprehenderit voluptatum deleniti
                                        placeat sunt autem commodi, minima eveniet. Alias necessitatibus
                                        odio accusamus exercitationem expedita nobis consequatur magnam quam
                                        doloribus, ipsa sapiente quia omnis aut voluptatem vel inventore
                                        veritatis tenetur culpa nam molestias. Eius mollitia esse quaerat
                                        excepturi!</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-2" role="tabpanel"
                                aria-labelledby="approch-2-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. Nihil
                                        laudantium expedita consequatur reprehenderit voluptatum deleniti
                                        placeat sunt autem commodi, minima eveniet. Alias necessitatibus
                                        odio accusamus exercitationem expedita nobis consequatur magnam quam
                                        doloribus, ipsa sapiente quia omnis aut voluptatem vel inventore
                                        veritatis tenetur culpa nam molestias. Eius mollitia esse quaerat
                                        excepturi!</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-3" role="tabpanel"
                                aria-labelledby="approch-3-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. Nihil
                                        laudantium expedita consequatur reprehenderit voluptatum deleniti
                                        placeat sunt autem commodi, minima eveniet. Alias necessitatibus
                                        odio accusamus exercitationem expedita nobis consequatur magnam quam
                                        doloribus, ipsa sapiente quia omnis aut voluptatem vel inventore
                                        veritatis tenetur culpa nam molestias. Eius mollitia esse quaerat
                                        excepturi!
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approch-4" role="tabpanel"
                                aria-labelledby="approch-4-tab">
                                <div class="approch-content">
                                    <p class="xlarge">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. Nihil
                                        laudantium expedita consequatur reprehenderit voluptatum deleniti
                                        placeat sunt autem commodi, minima eveniet. Alias necessitatibus
                                        odio accusamus exercitationem expedita nobis consequatur magnam quam
                                        doloribus, ipsa sapiente quia omnis aut voluptatem vel inventore
                                        veritatis tenetur culpa nam molestias. Eius mollitia esse quaerat
                                        excepturi!.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- approch area end -->

    <!-- faq area start -->
    <section class="faq-area section-spacing">
        <div class="container">
            <div class="section__title-wrapper tpl__item-center mb-60">
                <h2 class="section__title-inner title-anim">FAQ on brand services</h2>
            </div>
            <div class="choose-accordion mb-0 tp-accordion-fix">
                <div class="accordion" id="accordionExample-st-2">
                    <div class="row g-5">
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingOne-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne-st-2"
                                        aria-expanded="false" aria-controls="collapseOne-st-2">
                                        How much do you charge for branding?
                                    </button>
                                </h2>
                                <div id="collapseOne-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Axil is data-driven and performance-focused, paving the
                                                    way for us to charge your business forward and
                                                    accelerate your growth.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingTwo-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo-st-2"
                                        aria-expanded="false" aria-controls="collapseTwo-st-2">
                                        Can you design only a logo?
                                    </button>
                                </h2>
                                <div id="collapseTwo-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Axil is data-driven and performance-focused, paving
                                                    the way
                                                    for us to charge your business forward and
                                                    accelerate your
                                                    growth.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree-st-2"
                                        aria-expanded="false" aria-controls="collapseThree-st-2">
                                        Can you design only a logo?
                                    </button>
                                </h2>
                                <div id="collapseThree-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Axil is data-driven and performance-focused, paving
                                                    the way
                                                    for us to charge your business forward and
                                                    accelerate your
                                                    growth.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFour-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour-st-2"
                                        aria-expanded="false" aria-controls="collapseFour-st-2">
                                        Why should I work with an agency over a freelancer?
                                    </button>
                                </h2>
                                <div id="collapseFour-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Axil is data-driven and performance-focused, paving
                                                    the way
                                                    for us to charge your business forward and
                                                    accelerate your
                                                    growth.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-30">
                                <h2 class="accordion-header" id="headingFive-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive-st-2"
                                        aria-expanded="false" aria-controls="collapseFive-st-2">
                                        What is your process like?
                                    </button>
                                </h2>
                                <div id="collapseFive-st-2" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Axil is data-driven and performance-focused, paving
                                                    the way
                                                    for us to charge your business forward and
                                                    accelerate your
                                                    growth.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix-st-2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven-st-2"
                                        aria-expanded="false" aria-controls="collapseSeven-st-2">
                                        What is your process like?
                                    </button>
                                </h2>
                                <div id="collapseSeven-st-2" class="accordion-collapse collapse show"
                                    aria-labelledby="headingSix-st-2"
                                    data-bs-parent="#accordionExample-st-2">
                                    <div class="accordion-body">
                                        <div class="capabilities-list">
                                            <div class="choose-accordion-content">
                                                <p>Axil is data-driven and performance-focused, paving
                                                    the way
                                                    for us to charge your business forward and
                                                    accelerate your
                                                    growth.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq area end -->

  <!-- title intro area -->
  <section class="title-intro-area fix primary-bg">
    <div class="container">
        <div class="title-intro-wrapper section-spacing">
            <div class="intro__title-wrapper">
                <h2 class="intro__title-inner folks-text">Let's Babbel</h2>
            </div>
            <div class="intro-brn">
                <a href="{{ "contact" |relURL }}" class="circle-btn is-green">
                    <span class="icon-box"><i class="flaticon-next"></i></span>
                    <img src="{{ "img/icons/contact-btn-text.png" | relURL }}" alt="image not found" class="image-text">


                </a>
            </div>
        </div>
    </div>
</section>
<!-- title intro end -->
</main>
{{end}}